@import "../Card/card-component";

/// HAS WRAPPER LINK ///
.has-wrapper-link a.wp-block-read-more {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  margin: 0;
  font-size: 0;

  &::before, &::after {
    display: none;
  }

  .no-touch &:hover,
  .no-touch &:focus {
    box-shadow: var(--box-shadow-theme-active);
  }
}
