.vct_dark_purple {
  /** Toggle/FAQ **/

  /** Tabs **/

  /** Tour **/

  /* Accordion */

  /* Call to Action box **/

  /* Separator */

  /* Message box */

  /* Bar Graph */

  /* Button */

  /** Colors */

  /* Google maps */

}
.vct_dark_purple .clearfix {
  *zoom: 1;
}
.vct_dark_purple .clearfix:before,
.vct_dark_purple .clearfix:after {
  display: table;
  content: "";
}
.vct_dark_purple .clearfix:after {
  clear: both;
}
.vct_dark_purple .hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.vct_dark_purple .input-block-level {
  display: block;
  width: 100%;
  min-height: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.vct_dark_purple #content h4.wpb_toggle,
.vct_dark_purple h4.wpb_toggle {
  background: #3c3e3f;
  color: #ffffff;
  position: relative;
  padding: 10px 15px;
  margin: 0 0 1px 26px;
  font-weight: normal;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.vct_dark_purple #content h4.wpb_toggle:hover,
.vct_dark_purple h4.wpb_toggle:hover {
  cursor: pointer;
}
.vct_dark_purple #content h4.wpb_toggle:hover,
.vct_dark_purple h4.wpb_toggle:hover,
.vct_dark_purple #content h4.wpb_toggle.wpb_toggle_title_active,
.vct_dark_purple h4.wpb_toggle.wpb_toggle_title_active {
  color: #4a4683;
}
.vct_dark_purple #content h4.wpb_toggle:hover:before,
.vct_dark_purple h4.wpb_toggle:hover:before,
.vct_dark_purple #content h4.wpb_toggle.wpb_toggle_title_active:before,
.vct_dark_purple h4.wpb_toggle.wpb_toggle_title_active:before {
  background: #4a4683;
  color: #ffffff;
}
.vct_dark_purple h4.wpb_toggle:before,
.vct_dark_purple .wpb_toggle_content:before {
  content: '+';
  display: block;
  position: absolute;
  font-weight: bold;
  left: -26px;
  top: 0px;
  width: 25px;
  height: 100%;
  font-size: 15px;
  line-height: 45px;
  text-align: center;
  background: #484b4c;
  color: #ffffff;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.vct_dark_purple h4.wpb_toggle_title_active:before {
  content: "-";
}
.vct_dark_purple .wpb_toggle_content {
  position: relative;
  padding: 10px 15px;
  margin: 0 0 1px 26px;
  background: #3c3e3f;
  color: #ffffff;
}
.vct_dark_purple .wpb_content_element.wpb_tabs .wpb_tour_tabs_wrapper .wpb_tab {
  background: #3c3e3f;
  color: #ffffff;
}
.vct_dark_purple .wpb_content_element .wpb_tour_tabs_wrapper .wpb_tab,
.vct_dark_purple .wpb_content_element .wpb_accordion_wrapper .wpb_accordion_content {
  padding: 10px 15px;
}
.vct_dark_purple .wpb_tour_tabs_wrapper .wpb_tabs_nav {
  padding: 0;
  margin: 0 0 1px 0 !important;
}
.vct_dark_purple .wpb_tour_tabs_wrapper .wpb_tabs_nav li {
  list-style: none;
  margin: 0 1px 0 0;
  float: left;
  background: none;
}
.vct_dark_purple .wpb_tour_tabs_wrapper .wpb_tabs_nav li a {
  margin: 0;
  display: block;
  padding: 5px 15px;
  background: #3c3e3f;
  color: #ffffff;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.vct_dark_purple .wpb_tour_tabs_wrapper .wpb_tabs_nav li.ui-state-active a,
.vct_dark_purple .wpb_tour_tabs_wrapper .wpb_tabs_nav li:hover a {
  background: #4a4683;
  color: #ffffff;
  position: relative;
}
.vct_dark_purple .wpb_tour .wpb_tour_tabs_wrapper .wpb_tab {
  background: #3c3e3f;
  color: #ffffff;
}
.vct_dark_purple .wpb_tour .wpb_tour_tabs_wrapper .wpb_tour_next_prev_nav {
  padding: 0;
}
.vct_dark_purple .wpb_tour .wpb_tour_tabs_wrapper .wpb_tour_next_prev_nav a {
  color: #4a4683;
  border-color: #3c3e3f;
}
.vct_dark_purple .wpb_tour .wpb_tour_tabs_wrapper .wpb_tabs_nav li {
  float: none;
  margin: 0 0 1px 0;
}
.vct_dark_purple .wpb_accordion_section {
  margin-bottom: 1px;
}
.vct_dark_purple .wpb_content_element .wpb_accordion_wrapper .wpb_accordion_header {
  background: #3c3e3f;
  color: #ffffff;
  margin: 0 0 0 0;
  border: none;
  padding: 11px 15px;
}
.vct_dark_purple .wpb_content_element .wpb_accordion_wrapper .wpb_accordion_header:after {
  content: "+";
  display: block;
  position: absolute;
  top: 10px;
  right: 15px;
  color: #ffffff;
  font-weight: bold;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.vct_dark_purple .wpb_content_element .wpb_accordion_wrapper .wpb_accordion_header.ui-state-active {
  border-bottom-color: transparent;
}
.vct_dark_purple .wpb_content_element .wpb_accordion_wrapper .wpb_accordion_header.ui-state-active:after {
  content: "-";
}
.vct_dark_purple .wpb_content_element .wpb_accordion_wrapper .wpb_accordion_header.ui-state-active:after,
.vct_dark_purple .wpb_content_element .wpb_accordion_wrapper .wpb_accordion_header.ui-state-hover:after {
  color: #4a4683;
}
.vct_dark_purple .wpb_content_element .wpb_accordion_wrapper .wpb_accordion_header a:hover,
.vct_dark_purple .wpb_content_element .wpb_accordion_wrapper .wpb_accordion_header.ui-state-active a {
  color: #4a4683;
}
.vct_dark_purple .wpb_content_element .wpb_accordion_wrapper .wpb_accordion_header a {
  padding: 0;
  color: inherit;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.vct_dark_purple .wpb_content_element .wpb_accordion_wrapper .wpb_accordion_header > span {
  display: none;
}
.vct_dark_purple .wpb_content_element .wpb_accordion_wrapper .wpb_accordion_content {
  background: #3c3e3f;
  color: #ffffff;
  padding-top: 0;
}
.vct_dark_purple .wpb_call_to_action {
  background: #3c3e3f;
  border: 3px solid #484b4c;
  border-left-color: #4a4683;
  padding: 30px 25px;
}
.vct_dark_purple .wpb_call_to_action .wpb_call_text {
  font-weight: normal;
  color: #ffffff;
}
.vct_dark_purple .wpb_separator,
.vct_dark_purple .vc_text_separator {
  border-bottom: 1px dashed #3c3e3f;
}
.vct_dark_purple .vc_text_separator div {
  top: -11px;
  color: #4a4683;
  background: none;
}
.vct_dark_purple .wpb_alert .messagebox_text {
  padding-left: 40px;
}
.vct_dark_purple .wpb_alert {
  color: #3c3e3f;
  background: #FDDA48;
  border: 3px solid #ddb202;
  text-shadow: none;
  padding: 15px 25px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.vct_dark_purple .wpb_alert-success,
.vct_dark_purple .wpb_alert-error,
.vct_dark_purple .wpb_alert-info {
  color: #ffffff;
}
.vct_dark_purple .wpb_alert-success {
  background: #6AB165;
  border: 3px solid #488644;
}
.vct_dark_purple .wpb_alert-success p {
  color: #ffffff;
}
.vct_dark_purple .wpb_alert-error {
  background: #D95757;
  border: 3px solid #ba2a2a;
}
.vct_dark_purple .wpb_alert-error p {
  color: #ffffff;
}
.vct_dark_purple .wpb_alert-info {
  background: #686B72;
  border: 3px solid #44454a;
}
.vct_dark_purple .wpb_alert-info p {
  color: #ffffff;
}
.vct_dark_purple .vc_progress_bar .vc_single_bar {
  background: none;
  border: 1px dashed #3c3e3f;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.vct_dark_purple .vc_progress_bar .vc_single_bar .vc_bar {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.vct_dark_purple .vc_progress_bar .bar_grey .vc_label {
  color: #ffffff;
}
.vct_dark_purple .vc_progress_bar .bar_grey .vc_bar {
  background: #4a4683;
}
.vct_dark_purple .wpb_button {
  border: 0;
  padding: 6px 10px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  text-shadow: none;
}
.vct_dark_purple .wpb_btn-mini {
  padding: 3px 7px 4px 7px;
  font-size: 85%;
  line-height: 110%;
}
.vct_dark_purple .wpb_btn-small {
  padding: 5px 10px 5px;
  font-size: 85%;
  line-height: 110%;
}
.vct_dark_purple .wpb_regularsize {
  padding: 8px 20px;
}
.vct_dark_purple .wpb_btn-large {
  padding: 10px 25px;
  font-size: 120%;
}
.vct_dark_purple .wpb_wpb_button {
  background: #4a4683;
  color: #ffffff;
}
.vct_dark_purple .wpb_wpb_button:hover {
  background: #484b4c;
}
.vct_dark_purple .wpb_btn-inverse {
  background: #414141;
}
.vct_dark_purple .wpb_btn-inverse:hover {
  background: #272727;
}
.vct_dark_purple .wpb_btn-danger {
  background: #DA4F49;
}
.vct_dark_purple .wpb_btn-danger:hover {
  background: #c72f29;
}
.vct_dark_purple .wpb_btn-success {
  background: #5BB75B;
}
.vct_dark_purple .wpb_btn-success:hover {
  background: #449b44;
}
.vct_dark_purple .wpb_btn-warning {
  background: #FAA732;
}
.vct_dark_purple .wpb_btn-warning:hover {
  background: #f39106;
}
.vct_dark_purple .wpb_gmaps_widget .wpb_map_wraper {
  background: #3c3e3f;
  border: 3px solid #3c3e3f;
  border-left-color: #4a4683;
  padding: 0;
}
