.vct_minimal_orange {
  /** Toggle/FAQ **/

  /** Tabs **/

  /** Tour **/

  /* Accordion */

  /* Call to Action box **/

  /* Separator */

  /* Message box */

  /* Bar Graph */

  /* Button */

  /** Colors */

  /* Google maps */

}
.vct_minimal_orange .clearfix {
  *zoom: 1;
}
.vct_minimal_orange .clearfix:before,
.vct_minimal_orange .clearfix:after {
  display: table;
  content: "";
}
.vct_minimal_orange .clearfix:after {
  clear: both;
}
.vct_minimal_orange .hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.vct_minimal_orange .input-block-level {
  display: block;
  width: 100%;
  min-height: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.vct_minimal_orange #content h4.wpb_toggle,
.vct_minimal_orange h4.wpb_toggle {
  background: none;
  position: relative;
  padding: 15px 0 15px 45px;
  border-top: 1px solid rgba(125, 125, 125, 0.1);
  margin: 0;
  font-weight: normal;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.vct_minimal_orange #content h4.wpb_toggle:hover,
.vct_minimal_orange h4.wpb_toggle:hover {
  cursor: pointer;
}
.vct_minimal_orange #content h4.wpb_toggle:hover,
.vct_minimal_orange h4.wpb_toggle:hover,
.vct_minimal_orange #content h4.wpb_toggle.wpb_toggle_title_active,
.vct_minimal_orange h4.wpb_toggle.wpb_toggle_title_active {
  color: #ffac14;
}
.vct_minimal_orange #content h4.wpb_toggle:hover:before,
.vct_minimal_orange h4.wpb_toggle:hover:before,
.vct_minimal_orange #content h4.wpb_toggle.wpb_toggle_title_active:before,
.vct_minimal_orange h4.wpb_toggle.wpb_toggle_title_active:before {
  background: rgba(125, 125, 125, 0.1);
  color: #ffac14;
}
.vct_minimal_orange h4.wpb_toggle:before,
.vct_minimal_orange .wpb_toggle_content:before {
  content: 'Q';
  display: block;
  position: absolute;
  left: 0;
  top: 12px;
  width: 30px;
  height: 30px;
  font-weight: normal;
  font-size: 15px;
  line-height: 29px;
  text-align: center;
  background: #ffac14;
  color: #ffffff;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.vct_minimal_orange .wpb_toggle_content {
  position: relative;
  padding: 15px 0 30px 45px;
  margin: 0;
  border-top: 1px solid rgba(125, 125, 125, 0.1);
}
.vct_minimal_orange .wpb_toggle_content:before {
  content: 'A';
  top: 12px;
  background: rgba(125, 125, 125, 0.1);
  color: #ffac14;
}
.vct_minimal_orange .wpb_content_element.wpb_tabs .wpb_tour_tabs_wrapper .wpb_tab {
  background: rgba(125, 125, 125, 0.1);
}
.vct_minimal_orange .wpb_content_element .wpb_tour_tabs_wrapper .wpb_tab,
.vct_minimal_orange .wpb_content_element .wpb_accordion_wrapper .wpb_accordion_content {
  padding: 15px 25px;
}
.vct_minimal_orange .wpb_tour_tabs_wrapper .wpb_tabs_nav {
  padding: 0;
}
.vct_minimal_orange .wpb_tour_tabs_wrapper .wpb_tabs_nav li {
  list-style: none;
  margin: 0 1px 0 0;
  float: left;
  background: none;
}
.vct_minimal_orange .wpb_tour_tabs_wrapper .wpb_tabs_nav li a {
  font-weight: normal;
  margin: 0;
  display: block;
  padding: 15px 25px;
  background: #ffac14;
  color: #ffffff;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.vct_minimal_orange .wpb_tour_tabs_wrapper .wpb_tabs_nav li.ui-state-active a,
.vct_minimal_orange .wpb_tour_tabs_wrapper .wpb_tabs_nav li:hover a {
  background: rgba(125, 125, 125, 0.1);
  color: #ffac14;
  position: relative;
}
.vct_minimal_orange .wpb_tour .wpb_tour_tabs_wrapper .wpb_tour_next_prev_nav a {
  color: #ffac14;
  border-color: rgba(125, 125, 125, 0.1);
}
.vct_minimal_orange .wpb_tour .wpb_tour_tabs_wrapper .wpb_tabs_nav li {
  float: none;
  margin: 0 0 1px 0;
}
.vct_minimal_orange .wpb_accordion_section {
  margin-top: -1px;
}
.vct_minimal_orange .wpb_content_element .wpb_accordion_wrapper .wpb_accordion_header {
  background: none;
  margin: 0 0 -1px 0;
  border: 1px solid rgba(125, 125, 125, 0.1);
  padding: 16px 25px;
}
.vct_minimal_orange .wpb_content_element .wpb_accordion_wrapper .wpb_accordion_header:after {
  content: "+";
  display: block;
  position: absolute;
  top: 15px;
  right: 25px;
  color: rgba(125, 125, 125, 0.1);
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.vct_minimal_orange .wpb_content_element .wpb_accordion_wrapper .wpb_accordion_header.ui-state-active {
  border-bottom-color: transparent;
}
.vct_minimal_orange .wpb_content_element .wpb_accordion_wrapper .wpb_accordion_header.ui-state-active:after {
  content: "-";
}
.vct_minimal_orange .wpb_content_element .wpb_accordion_wrapper .wpb_accordion_header.ui-state-active:after,
.vct_minimal_orange .wpb_content_element .wpb_accordion_wrapper .wpb_accordion_header.ui-state-hover:after {
  color: #ffac14;
}
.vct_minimal_orange .wpb_content_element .wpb_accordion_wrapper .wpb_accordion_header a:hover,
.vct_minimal_orange .wpb_content_element .wpb_accordion_wrapper .wpb_accordion_header.ui-state-active a {
  color: #ffac14;
}
.vct_minimal_orange .wpb_content_element .wpb_accordion_wrapper .wpb_accordion_header a {
  padding: 0;
  color: inherit;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.vct_minimal_orange .wpb_content_element .wpb_accordion_wrapper .wpb_accordion_header > span {
  display: none;
}
.vct_minimal_orange .wpb_content_element .wpb_accordion_wrapper .wpb_accordion_content {
  border: 1px solid rgba(125, 125, 125, 0.1);
  border-top: 0;
  padding-top: 0;
}
.vct_minimal_orange .wpb_call_to_action {
  background: none;
  border: 1px solid rgba(125, 125, 125, 0.1);
  padding: 30px 25px;
}
.vct_minimal_orange .wpb_call_to_action .wpb_call_text {
  font-weight: normal;
  color: #ffac14;
}
.vct_minimal_orange .wpb_separator,
.vct_minimal_orange .vc_text_separator {
  border-bottom: 4px double rgba(125, 125, 125, 0.1);
}
.vct_minimal_orange .vc_text_separator div {
  top: -11px;
  color: #ffac14;
  background: none;
}
.vct_minimal_orange .wpb_alert .messagebox_text {
  padding-left: 40px;
}
.vct_minimal_orange .wpb_alert {
  color: #333333;
  background: #FDDA48;
  text-shadow: none;
  border: none;
  padding: 15px 25px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.vct_minimal_orange .wpb_alert-success,
.vct_minimal_orange .wpb_alert-error,
.vct_minimal_orange .wpb_alert-info {
  color: #ffffff;
}
.vct_minimal_orange .wpb_alert-success {
  background: #6AB165;
}
.vct_minimal_orange .wpb_alert-success p {
  color: #ffffff;
}
.vct_minimal_orange .wpb_alert-error {
  background: #D95757;
}
.vct_minimal_orange .wpb_alert-error p {
  color: #ffffff;
}
.vct_minimal_orange .wpb_alert-info {
  background: #686B72;
}
.vct_minimal_orange .wpb_alert-info p {
  color: #ffffff;
}
.vct_minimal_orange .vc_progress_bar .vc_single_bar {
  background: none;
  border: 1px solid rgba(125, 125, 125, 0.1);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.vct_minimal_orange .vc_progress_bar .vc_single_bar .vc_bar {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.vct_minimal_orange .vc_progress_bar .bar_grey .vc_label {
  color: #ffffff;
}
.vct_minimal_orange .vc_progress_bar .bar_grey .vc_bar {
  background: #ffac14;
}
.vct_minimal_orange .wpb_button {
  border: 0;
  padding: 6px 10px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  text-shadow: none;
}
.vct_minimal_orange .wpb_btn-mini {
  padding: 3px 7px 4px 7px;
  font-size: 85%;
  line-height: 110%;
}
.vct_minimal_orange .wpb_btn-small {
  padding: 5px 10px 5px;
  font-size: 85%;
  line-height: 110%;
}
.vct_minimal_orange .wpb_regularsize {
  padding: 8px 20px;
}
.vct_minimal_orange .wpb_btn-large {
  padding: 10px 25px;
  font-size: 120%;
}
.vct_minimal_orange .wpb_wpb_button {
  background: #ffac14;
  color: #ffffff;
}
.vct_minimal_orange .wpb_wpb_button:hover {
  background: #404040;
}
.vct_minimal_orange .wpb_btn-inverse {
  background: #414141;
}
.vct_minimal_orange .wpb_btn-inverse:hover {
  background: #272727;
}
.vct_minimal_orange .wpb_btn-danger {
  background: #DA4F49;
}
.vct_minimal_orange .wpb_btn-danger:hover {
  background: #c72f29;
}
.vct_minimal_orange .wpb_btn-success {
  background: #5BB75B;
}
.vct_minimal_orange .wpb_btn-success:hover {
  background: #449b44;
}
.vct_minimal_orange .wpb_btn-warning {
  background: #FAA732;
}
.vct_minimal_orange .wpb_btn-warning:hover {
  background: #f39106;
}
.vct_minimal_orange .wpb_gmaps_widget .wpb_map_wraper {
  background: rgba(125, 125, 125, 0.1);
}
