.aa_fileForm {
  
	.btn{
		border-radius:0;
		padding: 7px 12px;
		border:none;
	}
	::-webkit-input-placeholder {
		 color: #B9B9B9;
		 font-style: 12px;
	}
}
.inputGroup{
  margin-bottom:12px; 
}

textarea.form-control{
    height:200px; 
    padding:20px;
    text-indent: 0;
  }
	.form-control{
		border-radius:0;
		border:none;
		background:#fff;
		box-shadow:none;
		margin-bottom:10px;
		width: 100%;
		height: 50px;
	    font-size: 14px;
	    text-indent: 20px;
	    box-shadow: none;	
	    padding: 0;    
      &:focus{
			outline:none;
			border:none;
			box-shadow: none;
	    }
	}
