.aa_dir__dirNameGroup {
	//position:relative;

}
.aa_dir__dirNameGroup__name {

}

.active{
  .aa_dir__dirNameGroup__icon{
	display: inline;
  }
}

.aa_dir__dirNameGroup__icon {
	//display: none;
	color: #00aff0;
	float: left;
	margin-left: 17px;
	margin-top: 10px;
	z-index: 50;
	cursor: pointer;
	text-align: center;
	font-weight: normal;
	font-size: 14px;
	transition: all .25s;
}




.rotate{
	transform: rotate(-45deg);
	transform-origin: 50%;
}