/* CSS Document */

.copyBtn{
    position: absolute;
    top: -33px;
    right: 10px;
    z-index: 10;
    display: block;
    padding: 5px 8px;
    font-size: 12px;
    color: #929292;
    font-weight: 300;
    cursor: pointer;
    //background-color: #fff;
    //border: 1px solid #e1e1e8;
    font-family:$font1;
    //border-radius: 0 4px 0 4px;
}
.copyBtn-edit{
    right: 45px;
    display: none;
}


.nav-tabs-atomic > li.expandItem{
    float: right;
    position: relative;
    right: 68px;
}



.expandBtn{
    cursor: pointer;
    padding: 5px 8px;
    font-size: 12px;
    color: #929292;
    font-weight: 300;
    cursor: pointer;

}


