/*MENU MOBILE ACCORDION*/
//Pour activer cette variante, ajouter la classe .menu-mobile-accordion à .navigation-wrapper

:root {
  --menu-item-height: 60px;
  --menu-item-color-active: var(--wp--preset--color--primary);
  --menu-item-bgcolor-active: transparent;
  --menu-item-parent-color: var(--wp--preset--color--primary);
  --menu-item-parent-bgcolor: transparent;
}

@media (max-width: $medium - 1) {

  .navigation-wrapper.menu-mobile-accordion {
    height: auto;

    ul.header-menu {
      display: block;
      //height: auto;
      margin-top: 3rem;

      li {
        height: auto;

        > a {
          justify-content: center;
          height: var(--menu-item-height);
          border-bottom: none;
        }
      }

      .parent-page {
        font-size: 1.6rem;
        background-color: var(--menu-item-bgcolor-active);

        > a {
          justify-content: center;
          padding: 0;
          color: var(--menu-item-parent-color);
          background-color: var(--menu-item-parent-bgcolor);
        }

        span:first-of-type {
          justify-self: center;
        }

        span:last-of-type {
          display: none;
        }
      }

      li.current_page_ancestor,
      li.current_page_item {

        > a {
          color: var(--menu-item-color-active);
        }
      }

      li.page_item_has_children {
        height: auto;

        > a {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          padding-bottom: 0;
          padding-left: 4rem;
          font-size: 1.6rem;
          color: var(--menu-item-parent-color);
          background-color: var(--menu-item-parent-bgcolor);
        }

        > a::after {
          position: static;
          content: "";
          display: block;
          height: 10px;
          width: 10px;
          margin: 1rem;
          border-right: 2px solid;
          border-bottom: 2px solid;
          border-color: var(--wp--preset--color--base);
          transform: rotate(-45deg);
          transition: transform 0.4s;
          transform-origin: center;
        }
      }

      li.m0 {

        > a {
          text-transform: uppercase;
          font-family: var(--font-theme-secondary);
        }
      }

      ul.children {
        display: none;
        position: initial;
        height: auto;
        opacity: 1 !important;
        visibility: visible !important;
        pointer-events: all !important;
        transform: none !important;
      }

      ul.level1 li {
        font-family: var(--font-theme-base);
        font-size: 1.4rem;

        a {
          height: 4rem;
          padding: 10px;
          text-align: center;
        }
      }

      ul.mobile-nav-links {
        display: none;
      }

      li.page_item_has_children.is-opened {
        > a::after {
          transform: rotate(-135deg);
        }
        > .children {
          display: block;
        }
      }
    }
  }
}

