@charset "UTF-8";
/* ----------------------------- */
/* ==Video commons      */
/* ----------------------------- */

//Variables
$video-height: 450px;

//Video wrapper
.video-wrapper {
  position: relative;
  height: $video-height;
  display: block;

  span {
    @extend .visually-hidden;
  }
}

//Video trigger
.video-trigger {
  @include absolute-center;
  z-index: 3;
  display: block;
  height: 53px;
  min-height: 53px;
  width: 53px;
  padding: 0;
  border-radius: 0;
  border: none;
  cursor: pointer;
  appearance: none;
  background-color: transparent;
  transition: all .4s;

  &::after {
    @include svgIcon('play');
    position: absolute;
    top: 0;
    left: 0;
    transition: all .4s;
  }

  &:hover,
  &:focus {
    &::after {
      transform: scale(1.5);
    }
  }
}

//Video image wrapper
.video-image-wrapper {
  position: relative;
  z-index: 2;
  height: 100%;
  width: 100%;
  overflow: hidden;

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
    transition: all .4s;
  }

  img {
    @include absolute-center;
    z-index: 1;
    min-height: 100%;
    min-width: fit-content;
    max-width: none;
    opacity: 1;
    transition: all .4s;
  }
}

//Video player
.video-player {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  opacity: 0;
  animation: all .6s;

  .video,
  iframe {
    width: 100%;
    height: 100%;
  }
}

//Animations
.video-wrapper {

  &:hover,
  &:focus {
    .video-image-wrapper::after {
      background-color: rgba(0, 0, 0, 0.4);
    }
  }

  &.video-active {

    .video-player {
      z-index: 4;
      opacity: 1;
    }
  }
}
