/* ----------------------------- */
/* ==Video commons      */
/* ----------------------------- */

//Variables
$video-height: 450px;

//Video wrapper
.video-wrapper {
  position: relative;
  height: $video-height;
  display: block;
}

//Video trigger
.video-trigger {
  @include absolute-center;
  z-index: 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  height: auto;
  min-height: auto;
  padding: 0;
  border-radius: 0;
  border: none;
  cursor: pointer;
  appearance: none;
  background-color: transparent !important;
  box-shadow: none;

  span {
    font-family: var(--font-theme-secondary);
    font-size: 2.2rem;
    text-transform: none;
    line-height: 1.3;
    letter-spacing: 0.03em;
    color: white;
    pointer-events: none;
  }

  &::before {
    flex: 0 0 66px;
    content: "";
    display: block;
    width: 66px;
    background-color: var(--wp--preset--color--primary);
    border-radius: 50%;
    margin-bottom: 10px;
    transform: scale(1);
    transform-origin: center;
    transition: transform 0.4s;
  }

  &::after {
    @include svgIcon('play-white');
    position: absolute;
    top: 16px;
    left: 50%;
    transform: translateX(calc(-50% + 3px));
  }

  .no-touch &:hover,
  &:focus {
    &::before {
      transform: scale(1.1);
    }
  }
}

//Video image wrapper
.video-image-wrapper {
  position: relative;
  z-index: 2;
  height: 100%;
  width: 100%;
  overflow: hidden;

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
    transition: all .4s;
  }

  img {
    @include absolute-center;
    z-index: 1;
    min-height: 100%;
    min-width: fit-content;
    max-width: none;
    opacity: 1;
    transition: all .4s;
  }
}

//Video player
.video-player {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  opacity: 0;
  animation: all .6s;

  .video,
  iframe {
    width: 100%;
    height: 100%;
  }
}
