/* ----------------------------- */
/* ==Specific styles for Atomic framework (styleguide) */
/* ----------------------------- */

.subTitle {
    display: block;
    margin-bottom: 1em;
    margin-top: 1em;
    text-transform: uppercase;
    font-size: .9em;
    letter-spacing: .1em;
    color: #00AFF0;
}

#atomsWrap {

    .codeBlocks{
        display: none;
    }

    .component {
        margin-bottom: 10rem;
    }

    .compWrap,
    .container {
        max-width: 700px;
    }
}
