// Theme colors variables
:root {
  --color-theme-base: #2E2632; //Noir
  --background-theme-base: white;
  --color-theme-primary: #FF503A; //Orange
  --color-theme-secondary: #ECEDF0; //Gris
  --color-theme-brand: #FF503A; //Orange
}

:root {
  // Project's fonts (Google fonts)
  --font-light: 'geomanistlight';
  --font-regular: 'geomanistregular';
  --font-book: 'geomanistbook';
  --font-medium: 'geomanistmedium';
  --font-bold: 'geomanistbold';

  // theme fonts
  --font-theme-base: var(--font-regular);
  --font-theme-headings: var(--font-book);
  --font-theme-secondary: var(--font-medium);
  --font-theme-bold: var(--font-bold);
}

// Font size base (1.6rem value is "16px" equivalent)
:root {
  --font-size-base: 1.6rem;
}

// Line heights
:root {
  --line-height-base: 1.5;
  --line-height-headings: 1.1;
}

// Theme border-radius
:root {
  --border-radius-theme: 6px;
}

// Theme box-shadow
:root {
  --box-shadow-theme: 0 16px 40px 0 rgba(41, 57, 95, 0.30);
  --box-shadow-theme-active: 0 16px 40px 0 rgba(41, 57, 95, 0.50);
}
