// Theme colors variables
:root {
  --color-theme-base: #2E2632; //Noir
  --color-black: #181816; //Noir (utilisé par l'admin)
  --background-theme-base: white;
  --color-theme-primary: #FF503A; //Orange
  --color-theme-secondary: #ECEDF0; //Gris
  --color-theme-tertiary: #FF9999; //Orange clair
  --color-theme-quaternary: #a574be; //Violet
  --color-theme-brand: #C81F3B; //Rouge
}

:root {
  // theme fonts
  --font-theme-base: 'geomanistregular';
  --font-theme-headings: 'geomanistbook';
  --font-theme-secondary: 'geomanistmedium';
  --font-theme-bold: 'geomanistbold';

  // Project's fonts (Google fonts)
  --font-light: 'geomanistlight';
  --font-regular: 'geomanistregular';
  --font-book: 'geomanistbook';
  --font-medium: 'geomanistmedium';
  --font-bold: 'geomanistbold';
}

// Font size base (1.6rem value is "16px" equivalent)
:root {
  --font-size-base: 1.6rem;
  --font-size-small: 1.3rem;
  --font-size-medium: 1.8rem;
  --font-size-large: 2rem;
}

// Line heights
:root {
  --line-height-base: 1.5;
  --line-height-headings: 1.1;
}

// Theme border-radius
:root {
  --border-radius-theme: 6px;
}

// Theme box-shadow
:root {
  --box-shadow-theme: 0 12px 30px 0 rgba(41, 57, 95, 0.30);
  --box-shadow-theme-active: 0 16px 40px 0 rgba(41, 57, 95, 0.50);
  --box-shadow-theme-low: 0 2px 6px 0 rgba(41, 57, 95, 0.30); //create a new box-shadow for lower elevation elements
  --box-shadow-theme-active-low: 0 4px 12px 0 rgba(41, 57, 95, 0.50);
  --box-shadow-theme-small: 0 0 10px 0 rgba(41, 57, 95, 0.50);
  --box-shadow-theme-small--active: 0 0 5px 5px rgba(41, 57, 95, 0.50);
}


//// ADMIN ////
// Wordpress
:root {
  --admin-theme-color-primary: #3c96be; //Default WP blue
  --admin-font-family-base: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  --admin-font-size-base: 15px;
  --admin-line-height-base: 1.2;
}
// Gutenberg
:root {
  --admin-theme-color-secondary: #3c96be; //
}

