/**
 *	Config file and project variables
 *  Copy and paste from here:
 *  /styleguide/scss/knacss/_config-variables.scss
 */


// Breakpoints
$tiny-screen       :    320px !default;
$tiny-plus-screen  :    480px !default;
$small-screen      :    640px !default;
$small-plus-screen :    768px !default;
$medium-screen     :    960px !default;
$medium-plus-screen:    1024px !default;
$large-screen      :    1280px !default;
$large-plus-screen :    1440px !default;
$extra-large-screen:    1600px !default;
$ultra-large-screen:    1920px !default;

// grids
$grid-gutter:  5rem;

// Assets path
$get-path-to-assets: "/app/themes/wwp_child_theme/assets";
$get-path-to-styleguide: "/app/themes/wwp_child_theme/styleguide";
.selector {
    background-image: url("#{$get-path-to-assets}/raw/svg/view/svg/sprite.view.svg");
}