// ----------------------
// Theme's variables
// Must be defined in theme.json
// This file should be empty
// ----------------------

// Theme border-radius
:root {
  --border-radius-theme: 6px;
}

// Theme box-shadow
:root {
  --box-shadow-theme: 0 12px 30px 0 rgba(41, 57, 95, 0.30);
  --box-shadow-theme-active: 0 16px 40px 0 rgba(41, 57, 95, 0.50);
  --box-shadow-theme-low: 0 2px 6px 0 rgba(41, 57, 95, 0.30); //create a new box-shadow for lower elevation elements
  --box-shadow-theme-active-low: 0 4px 12px 0 rgba(41, 57, 95, 0.50);
  --box-shadow-theme-small: 0 0 10px 0 rgba(41, 57, 95, 0.50);
  --box-shadow-theme-small--active: 0 0 5px 5px rgba(41, 57, 95, 0.50);
}
