// Config file and project variables
@import "_variables_themes";

// ----------------
// Breakpoints zone
// ----------------

// Warning: cannot be defined in css variables !! Use pixels instead
$verytiny           : 320px !default;
$extra-small        : 385px !default; // .container-xs
$tiny               : 480px !default;
$small              : 660px !default;
$medium             : 782px !default; //.container-s - Gutenberg breakpoints
$large              : 960px; //.container - var(--wp--style--global--content-size) !default;
$very-large         : 1200px !default;
$extra-large        : 1280px !default; //.container-l - var(--wp--style--global--wide-size) !default;
$extra-extra-large  : 1440px !default; //.container-xl - var(--wp--style--global--extra-wide-size) !default;

$gutter: 16px;

// Theme colors variables
$color-theme-base: var(--wp--preset--color--base); //Black
$background-theme-base: var(--wp--preset--color--background); //White
$color-theme-primary: var(--wp--preset--color--primary); //Orange
$color-theme-secondary: var(--wp--preset--color--secondary); //Gris
$color-theme-brand: var(--wp--preset--color--brand); //Red

// Theme border-radius
$border-radius-theme: var(--border-radius-theme);

// Theme box-shadow
$box-shadow-theme: var(--box-shadow-theme);
$box-shadow-theme-active: var(--box-shadow-theme-active);

// ----------
// Fonts zone
// ----------
// Import : via theme.scss et critical.scss

// 1. Create css variables in variables_themes.scss

// 2. Define families variables for Knacss
$font-family-base       : var(--wp--preset--font-family--regular);
$font-family-headings   : var(--wp--preset--font-family--light);
$font-family-secondary  : var(--wp--preset--font-family--medium);
$font-theme-bold        : var(--wp--preset--font-family--bold);
$font-family-monospace  : consolas, courier, monospace !default; // font for code and samples

// ...and weights variables
$weight-light   : 200 !default;
$weight-book    : 300 !default;
$weight-regular : 400 !default;
$weight-medium  : 500 !default;
$weight-bold    : 700 !default;

// Font sizes (1.6rem value is "16px" equivalent)
$font-size-small : var(--wp--preset--font-size--small);
$font-size-base : var(--wp--preset--font-size--medium);
$font-size-large : var(--wp--preset--font-size--large);
$font-size-x-large : var(--wp--preset--font-size--x-large);

// Line heights
$line-height-s    : 1;
$line-height-base : var(--wp--preset--line-height--body);
$line-height-l    : 1.7 !default;

// ----------
// Color zone
// ----------

// Theme's colors
$color-base           : var(--wp--preset--color--base);
$background-base      : var(--wp--preset--color--background);
$color-brand          : var(--wp--preset--color--brand);
$color-primary        : var(--wp--preset--color--primary);
$color-secondary      : var(--wp--preset--color--secondary);
$color-tertiary       : var(--wp--preset--color--tertiary);
$color-quaternary     : var(--wp--preset--color--quaternary);

// Site's secondary colors
$color-grey           : var(--wp--preset--color--grey);
$color-grey-verylight : var(--wp--preset--color--verylightgrey);
$color-grey-light     : var(--wp--preset--color--lightgrey);
$color-grey-medium    : var(--wp--preset--color--mediumgrey);
$color-grey-dark      : var(--wp--preset--color--darkgrey);
$color-black          : var(--wp--preset--color--base);

// Alert's colors
$color-alert-success: #155724;
$color-alert-success-50: #d4edda;
$color-alert-danger: #721c24;
$color-alert-danger-50: #f8d7da;
$color-alert-warning: #856404;
$color-alert-warning-50: #fff3cd;
$color-alert-info: #856404;
$color-alert-info-50: #fff3cd;

// Knacss colors (css framework)
$white    : #fff !default;
$gray-100 : #f8f9fa !default;
$gray-200 : #e7e9ed !default;
$gray-300 : #dee2e6 !default;
$gray-400 : #ced4da !default;
$gray-500 : #acb3c2 !default;
$gray-600 : #727e96 !default;
$gray-700 : #454d5d !default;
$gray-800 : #333 !default;
$gray-900 : #212529 !default;
$black    : #000 !default;
$blue-300   : #5BC0DE !default;
$blue-500   : #0275D8 !default;
$green-500  : #5CB85C !default;
$orange-500 : #F0AD4E !default;
$red-500    : #D9534F !default;

// Alert colors
$color-success  : $color-alert-success;
$color-info     : $color-alert-warning;
$color-warning  : $color-alert-warning;
$color-danger   : $color-alert-danger;
$color-error    : $color-alert-danger;
$color-inverse  : $color-grey-dark;
$color-ghost    : transparent;
$color-muted    : $color-grey-light;

// Default margin-bottom (vertical rythm)
$margin-bottom-base     : 3rem !default;
$headings-margin-bottom : $margin-bottom-base /2 !default;
$paragraph-margin-bottom: $margin-bottom-base !default;

// Activate hyphenation on small screens
$hyphens: false !default;

// ------------
// Spacing zone
// ------------

// Grid gutters (for .has-gutter-* classes)
$grid-gutters: (
    '': 1rem,
    '-l': 2rem,
    '-xl': 4rem
) !default;

// Spacings
/*
$spacer-tiny             : .5rem  !default;
$spacer-tiny-plus        : .7rem !default;
$spacer-small            : 1rem !default;
$spacer-small-plus       : 1.5rem !default;
$spacer-medium           : 2rem !default;
$spacer-medium-plus      : 3rem !default;
$spacer-large            : 4rem !default;
$spacer-large-plus       : 6rem !default;
$spacer-extra-large      : 8rem !default;
$spacer-extra-large-plus : 12rem !default;
$spacer-ultra-large      : 16rem !default;
$spacer-ultra-large-plus : 20rem !default;
*/

:root {
  --spacer-base: 1rem;

  --spacer-tiny: var(--spacer-base) * 0.5;
  --spacer-small: var(--spacer-base);
  --spacer-medium: calc(var(--spacer-base) * 2);
  --spacer-large: calc(var(--spacer-base) * 4);
  --spacer-extralarge: calc(var(--spacer-base) * 8);
  --spacer-ultralarge: calc(var(--spacer-base) * 16);
}
$spacer-tiny: var(--spacer-tiny);
$spacer-small: var(--spacer-small);
$spacer-medium: var(--spacer-medium);
$spacer-large: var(--spacer-large);
$spacer-extra-large: var(--spacer-extralarge);
$spacer-ultra-large: var(--spacer-ultralarge);

// z-indexes
$zindex-navigation   : 1000 !default;
$zindex-dropdown     : 2000 !default;
$zindex-popover      : 3000 !default;
$zindex-tooltip      : 4000 !default;
$zindex-modal        : 5000 !default;
$zindex-notification : 6000 !default;
$zindex-debug        : 7000 !default;

// Component: forms (ne surtout pas les déplacer dans le fichier forms.scss car utilisées à d'autres endroits
$forms-color                : var(--wp--preset--color--darkgrey) !default;
$forms-bgcolor              : transparent !default;
$label-color                : var(--wp--preset--color--base) !default;
$input-color                : var(--wp--preset--color--base) !default;
$input-bgcolor              : var(--wp--preset--color--background) !default;
$placeholder-color          : var(--wp--preset--color--base) !default;

$fieldset-padding           : 2rem;
$fieldset-bgcolor           : var(--wp--preset--color--secondary);
$fieldset-border            : 1px solid var(--wp--preset--color--primary);

$forms-padding              : 0 !default;

$input-height               : 45px !default; // Same as button height
$input-font-size            : 1.4rem !default;
$label-font-size            : 1.4rem !default;
$placeholder-font-size      : 1.4rem !default;
$input-box-shadow           : 0 0 0 1px var(--wp--preset--color--base) inset;
$input-border-radius        : var(--border-radius-theme);

$select-arrow-color         : var(--wp--preset--color--base) !default;
$select-arrow-bgcolor       : var(--wp--preset--color--base) !default;
$select-arrow-active-color  : var(--wp--preset--color--base) !default;
$select-bgcolor             : var(--wp--preset--color--base) !default;
$select-active-color        : var(--wp--preset--color--base) !default;
$select-active-bgcolor      : var(--wp--preset--color--base) !default;

$textarea-height            : ($input-height * 2) !default;

$checkbox-color             : var(--wp--preset--color--base) !default;
$checkbox-size              : 3rem;
$checkbox-innersize         : 16px;
$checkbox-border-radius     : 5px;

$switch-color               : var(--wp--preset--color--base) !default;
$switch-size                : 3rem;
$switch-border-radius       : 3em;

// ---------------
// Components zone
// ---------------

// Component: links
$link-color            : var(--wp--preset--color--base) !default;
$link-color-hover      : var(--wp--preset--color--darkgrey) !default;
$link-decoration       : underline;
$link-decoration-hover : underline;

// Global border-radius
$global-border-radius: 0 !default;

// Component: quotes
$quote-color     : var(--wp--preset--color--base) !default;

// Component: arrows
$arrow-color     : var(--wp--preset--color--base) !default;

// Component: tables
$table-border               : var(--wp--preset--color--base) !default;
$table-caption-color        : var(--wp--preset--color--base) !default;
$table-background           : transparent !default;
$table-head-color           : var(--wp--preset--color--base) !default;
$table-head-background      : transparent !default;
$table-footer-color         : var(--wp--preset--color--base) !default;
$table-footer-background    : transparent !default;

// Components: buttons, badges, alerts color variants list
// Convention is: name - background-color - color - border
$variants-list: (
        (primary,    var(--wp--preset--color--primary),    white,    0 0 0 2px var(--wp--preset--color--primary) inset),
        (brand,      var(--wp--preset--color--brand),      white,    0 0 0 2px var(--wp--preset--color--brand) inset),
        (black,      var(--wp--preset--color--base),      white,    0 0 0 2px var(--wp--preset--color--base) inset),
        (white,      white,             $color-base,    0 0 0 2px $color-base inset),
        (success,    $color-alert-success-50,    $color-alert-success,    0 0 0 2px $color-success inset),
        (info,       $color-alert-info-50,       $color-alert-info,    0 0 0 2px $color-alert-info inset),
        (warning,    $color-alert-warning-50,    $color-alert-warning,    0 0 0 2px $color-alert-warning inset),
        (danger,     $color-alert-danger-50,     $color-alert-danger,    0 0 0 2px $color-alert-danger inset),
        (error,      $color-alert-danger-50,      $color-alert-danger,    0 0 0 2px $color-alert-danger inset),
        (inverse,    $color-inverse,    white,    0 0 0 2px $color-inverse inset),
        (ghost,      $color-ghost,      white,    0 0 0 2px $color-ghost inset)
) !default;
$button-height          : $input-height;
$button-height-small    : 40px !default;
$button-height-large    : 70px !default;
$button-box-shadow      : none; //0 5px 14px 0 rgba(0, 0, 0, 0.09)
$button-border-radius   : var(--border-radius-theme);

// Component: tabs
$tabs-border            : $gray-200 !default;
$tabs-active-border     : $gray-800 !default;
$tabs-color             : $color-base !default;
$tabs-active-color      : $gray-800 !default;
$tabs-background        : transparent !default;
$tabs-active-background : transparent !default;
$tabs-border-radius     : var(--border-radius-theme);

// Component: nav burger button
$burger-btn-size          : 60px; //width of whole button
$burger-color             : $color-base !default;
$burger-background        : transparent !default; //behind stripes
$burger-hover-background  : transparent !default;
$burger-size              : 25px;
$burger-weight            : 3px; //width of stripes
$burger-padding           : 0;
$burger-bgcolor           : $gray-500 !default; //bg color of whole button

// Components: alerts
$alert-success: $color-success;
$alert-success-bg: lighten($color-success, 35%);

$alert-info: $color-info;
$alert-info-bg: lighten($color-info, 30%);

$alert-warning: $color-warning;
$alert-warning-bg: lighten($color-warning, 30%);

$alert-error: $color-error;
$alert-error-bg: lighten($color-error, 30%);

// Add this, because used inside plugins:
$error: $color-error;
$error-bg: lighten($color-error, 30%);

// ---------------
// Plugins zone
// ---------------

// RGPD color theme
$rgpd-color: $color-primary !default;

// Newsletter form - colors override
/*$nl-color: red;
$nl-bgcolor: blue;*/

// ---------------
// Layout
// ---------------
:root {
  --header-height: 80px;
  --header-height-mobile: 80px;
  --header-bg-color: white;
  --desktopheaderHeight: 80px;
}
