/***
   To custom colors and fonts + avoid conflicts
***/

// Fix conflicts
iframe {
    border: none;
}

.atomsWrap, .compWrap {
    .atoms-side_show-small {
        width: inherit !important;
        margin-left: 0;
    }
    .atoms-main {
        padding-left: 307px !important;
    }
    .subTitle {
        display: block;
        margin-bottom: 12px;
        color: #00AFF0;
        max-height: none;
        font-size: 1.8rem;
    }
    .compTitle {
        max-height: none;
        padding-left: 10px;
        font-size: 2rem;
    }
    .title {
        display: block;
        margin-bottom: 2rem;
    }
    hr {
        margin: 2em 0 2em;
    }
    code {
        display: block;
        margin-bottom: 2rem;
        font-size: 1.4rem;
    }
}

.compWrap {
    max-width: 1000px;
}

// For framework tabs
.compWrap ul.nav-tabs {
    list-style: none;
    padding-left: 0;
    li {
        display: inline-block;
    }
    li > a {
        display: block;
        padding: 1em;
    }
}

.tab-pane {
    display: none;
    &.active {
        display: block;
    }
}

.atoms-side_hide {
    color: $white;
    background-color: $gray-600 !important;
}  // dark background color

#containers ~ .component .container,
#containers ~ .component .container-xs,
#containers ~ .component .container-s,
#containers ~ .component .container-l,
#containers ~ .component .container-xl {
    background-color: $gray-400 !important;
}  // medium background color

:not(pre) > code[class*="language-"],
pre[class*="language-"],
.tag, .tag--primary, .tag--success, .tag--info, .tag--warning, .tag--danger, .tag--inverse, .tag--ghost {
    background: $gray-100 !important;
}  // light background color

.compTitle,
.compWrap .nav-tabs > li > a,
.aa_dir__dirNameGroup__icon,
.atomsWrap .subTitle,
.compWrap .subTitle {
    color: $gray-600 !important;
}  // dark color

.compCodeBox {
    display: none;
} // Hide tabs with html and css