/***
Wonderful fix to avoid core conflicts with knacss
***/

$darkpink             : #E50063 !default;
// For Atomic. Don't modify:
$red                    : #E20714 !default;
$blue                   : #00AFF0 !default;
$warmgrey               : #F2F5F0 !default;

.atomsWrap{
	[class*="grid-"] > *{
		margin-left: 0;
	}
	.atoms-main{
		padding-left: 307px;
	}
	.compTitle{
		max-height: none; 
		padding-left: 10px;
		font-size: 2.5rem;
	}
	.aa_dir__dirNameGroup__icon,
	.compWrap .nav-tabs > li > a,
	.compTitle,
	.subTitle{
		color: $darkpink; 
	}
	.atoms-side_hide{
		background: $darkpink; 
	}
	:not(pre) > code[class*="language-"], 
	pre[class*="language-"],
	.compWrap .nav-tabs > li.active > a, .atomsWrap .compWrap .nav-tabs > li.active > a:focus, 
	.compWrap .nav-tabs > li.active > a:hover{
		background: $warmgrey; 
	}

}

.subTitle{
	display: block;
	margin-bottom: 12px;
	max-height: 25px;
	font-size: 1.8rem;
}

.atomsWrap hr{
	margin: 2em 0 2em;
}
