/* scss/atoms/_alerts.scss */

/* ----------------------------- */
/* ==Alert messages      */
/* ----------------------------- */

/* Colors example (defined in variables.scss file) */
/* ------------- */

/* ------------- */

.alert {
  padding: 13px;
  margin-bottom: 1rem;
  color: white;
  background-color: var(--wp--preset--color--base);
  border-bottom: 4px solid;
}

.alert-success {
  color: $alert-success;
  background-color: $alert-success-bg;
  border-bottom-color: $alert-success;
}

.alert-info {
  color: $alert-info;
  background-color: $alert-info-bg;
  border-bottom-color: $alert-info;
}

.alert-warning {
  color: $alert-warning;
  background-color: $alert-warning-bg;
  border-bottom-color: $alert-warning;
}

.alert-danger,
.alert-error,
.form-errors {
  color: $alert-error;
  background-color: $alert-error-bg;
  border-bottom-color: $alert-error;
}
