/* scss/atoms/_breadcrumbs.scss */

/* ----------------------------- */
/* ==Breadcrumb      */
/* ----------------------------- */

.breadcrumb-wrapper {
  @extend .container;

  @media (max-width: $medium) {
    display: none !important;
  }
}

ul.breadcrumb {
  margin-bottom: 0;
  padding: 1rem 0;
  list-style: none;
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

li.breadcrumb-item {
  float: left;
  display: flex;
  align-items: center;
  margin-right: 1rem;
  font-size: 1.4rem;
  &::before {
    // Chevron
    content: "";
    display: block;
    height: 8px;
    width: 8px;
    margin-right: 0.8em;
    border-right: 2px solid;
    border-bottom: 2px solid;
    border-color: var(--wp--preset--color--base);
    transform: rotate(-45deg);
  }
  a {
    &:hover, &:focus {
      text-decoration: underline;
    }
  }
}
