@charset "UTF-8";
/* ----------------------------- */
/* ==Breadcrumb      */
/* ----------------------------- */

ul.breadcrumb {
    margin-bottom: 0;
    padding: 1rem 0;
    list-style: none;
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

li.breadcrumb-item {
    float: left;
    display: flex;
    align-items: center;
    margin-right: 2rem;
    font-size: 1.4rem;
    &::before {
        content: '';
        display: block;
        float: left;
        width: 0;
        height: 0;
        margin-right: 6px;
        border-style: solid;
        border-width: 5px 0 5px 8px;
        border-color: transparent transparent transparent $gray-600;
    }
    a {
        text-decoration: none;
        color: $gray-600;
        &:hover, &:focus {
            text-decoration: underline;
        }
    }
}