@charset "UTF-8";
/* ----------------------------- */
/* ==Buttons      */
/* ----------------------------- */

%btn {
    /*Put styles here*/
}

// Button wrapper : add margin and centering
// --------------------------------------------------

.btn-wrapper {
    position: relative;
    text-align: center;
    min-height: 10vw;

    .btn {
        @include absolute-center;
    }
}


// Tags (étiquettes) - surcharge Knacss
// -----

.tag {
    padding: .5rem 1rem;
}


// Badges (arrondis) - surcharge Knacss
// -----