/* scss/atoms/_buttons.scss */

%btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: $button-height; //IE11
  min-height: $button-height;
  padding: 0 3.5rem;
  font-size: 1.3rem;
  font-weight: $weight-bold;
  line-height: 1.2;
  transition: all .4s;

  &.btn--small,
  &.button--small {
    height: $button-height-small;
    min-height: $button-height-small;
    padding-right: 0 2.5rem;
    font-size: .8em;
  }

  &.btn--big,
  &.button--big {
    height: $button-height-large;
    min-height: $button-height-large;
    font-size: 1.1em;
  }

  &:active,
  &:focus,
  &:hover {
    text-decoration: none;
  }

  @media (max-width: $tiny) {
    width: 100%;
    white-space: normal;
  }
}

a.btn {
  text-decoration: none;
}

.btn,
.button {
  color: white;
  background-color: $color-primary;
  box-shadow: 0 0 0 2px $color-primary inset;

  &:active,
  &:focus,
  &:hover {
    color: $color-primary;
    background-color: white;
  }
}

.btn,
.button {
  @each $name, $background-color, $color, $border in $variants-list {
    &--#{$name} {
      @extend %btn;
      background-color: $background-color;
      color: $color;

      &:active,
      &:focus,
      &:hover {
        color: $background-color;
        background-color: $color;
      }
    }
  }
}

.entry-content .btn {
  margin-top: 3rem;
}

.btn--submit {
  @extend %btn;
  padding-right: 2.5rem;

  &::after {
    @include svgIcon('chevron-r-small-white');
    margin-left: 8px;
  }
}

// Button wrapper : add margin and centering
// --------------------------------------------------

.btn-wrapper {
  position: relative;
  text-align: center;
  min-height: 10rem;

  .btn {
    @include absolute-center;
  }
}
