@charset "UTF-8";
/* ----------------------------- */
/* ==Citation      */
/* ----------------------------- */

blockquote {
  width: 60%;
  max-width: 550px;
  margin-bottom: 2rem !important;
  padding-left: 0;
  font-style: italic;
  font-size: 3rem;
  line-height: 1.3;

  &::before {
    content: none;
  }
  &.long-citation {
    width: 100%;
    max-width: none;
    font-size: 2rem;
  }

  @media (max-width: $medium - 1) {
    width: 100%;
    font-size: 2rem;
  }
}

.blockquote-wrapper {
  margin-bottom: 4rem;
}

.cite-name {
  display: block;
  max-width: 384px;
  margin-bottom: 0 !important;
  font-size: 1.6rem;

  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    margin-top: -3rem;
    padding-top: 6rem;
  } /*IE 10-11*/
}

.cite-function {
  display: block;
  font-size: 1.2rem;
}