@charset "UTF-8";
/* ----------------------------- */
/* ==Citation      */
/* ----------------------------- */

blockquote {
    font-style: italic;
    font-size: 2rem;
}

.cite-name,
.cite-function {
    display: block;
}

.cite-name {
    font-weight: bold;
}

.cite-function {
    font-size: .8em;
}