@charset "UTF-8";
/* ----------------------------- */
/* ==Headings      */
/* ----------------------------- */

h1, .h1-like, h2, .h2-like, h3, .h3-like, h4, .h4-like {
    font-family: $font-family-base;
}

h1, .h1-like {
    font-family: $font-family-headings;
    text-transform: uppercase;
    text-align: center;
    font-size: 6rem;
    color: #ffffff;
    line-height: 1.2;

    @media (max-width: $medium) {
        font-size: 3.5rem;
    }
}

h2, .h2-like {
    margin-bottom: 2rem;
    font-size: 4.4rem;
    font-family: $font-family-base;
    line-height: 1;

    @media (max-width: $medium) {
        font-size: 3rem;
    }
}

h3, .h3-like {
    margin-top: $margin-bottom-base;
    margin-bottom: $margin-bottom-base;
    font-family: $font-family-headings;
    font-size: 2rem;
    line-height: $line-height-s;

    @media (max-width: $medium) {
        font-size: 2.5rem;
    }
}