/* scss/atoms/_icons.scss */

/* ----------------------------- */
/* ==Icons      */
/* ----------------------------- */
// For Styleguide on
#icons-container {
  .shape-svg {
    width: 70px;
    margin: 0 2rem;
  }
}

.arrow_down.icon-class {
  @include svgIcon(arrow_down)
}

.icon-item {
  display: inline-block;
  width: 70px;
  margin-right: 1em;
  text-align: center;
  span {
    display: block;
  }
}
