/*scss/atoms/_loader.scss*/

// Specific styleguide
.component .spinner-white{
    float: right;
    margin-left: 3rem;
}

.loader{
    display: inline-block;
    @extend .svg-loader_puff;
    @extend .svg-loader_puff-dims;
    /*background-image: url("#{$get-path-to-assets}/raw/svg/view/svg/sprite.view.svg") !important;*/
    background-image: url("#{$get-path-to-assets}/raw/svg/loader_puff.svg") !important;
    background-position: center center;
    background-color: $blue;
}
.loader-blue{
    display: inline-block;
    @extend .svg-loader_puff_blue;
    @extend .svg-loader_puff_blue-dims;
    background-image: url("#{$get-path-to-assets}/raw/svg/loader_puff_blue.svg") !important;
    background-position: center center;
}

.button-loader,
.loading .btn{
    position: relative;
    padding-right: 5rem;
    &:after {
        content: '';
        display: block;
        @extend .svg-loader_puff;
        @extend .svg-loader_puff-dims;
        background-image: url("#{$get-path-to-assets}/raw/svg/loader_puff.svg") !important;
        background-position: center center;
        position: absolute;
        right: 0;
        top: -.4rem;
    }
}