/* scss/atoms/_titles.scss */
/* ----------------------------- */
/* ==Headings      */
/* ----------------------------- */

h1, .h1-like, h2, .h2-like, h3, .h3-like, h4, .h4-like {
  margin-top: 1.5em;  /* soit 150% de la taille du texte */
  margin-bottom: .5em;  /* ...50% de la taille du texte */
  line-height: 1.25;
}

h1, .h1-like {

}

h2, .h2-like {

}

h3, .h3-like {

}
