DB_NAME=database_name
DB_USER=database_user
DB_PASSWORD=database_password
DB_HOST=database_host

WP_ENV=development

#WP_HOME=https://data.gov
#WP_SITEURL=https://data.gov/wp

DBI_AWS_ACCESS_KEY_ID='{{ env_dbi_aws_access_key_id }}'
DBI_AWS_SECRET_ACCESS_KEY='{{ env_dbi_aws_secret_access_key }}'

# Generate your keys here: https://roots.io/salts.html
AUTH_KEY='generateme'
SECURE_AUTH_KEY='generateme'
LOGGED_IN_KEY='generateme'
NONCE_KEY='generateme'
AUTH_SALT='generateme'
SECURE_AUTH_SALT='generateme'
LOGGED_IN_SALT='generateme'
NONCE_SALT='generateme'
