# WordPress
web/wp
web/.htaccess

# WP-CLI
db-sync
sql-dump-*.sql

# Dotenv
.env
.env.*
!.env.example

# Application
web/app/plugins/*
!web/app/plugins/.gitkeep
web/app/mu-plugins/*
!web/app/mu-plugins/.gitkeep
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep
!web/app/mu-plugins/disallow-indexing.php
!web/app/mu-plugins/register-theme-directory.php
web/app/languages/*
!web/app/languages/.gitkeep
# Files from wp-content/themes/* and wp-content/plugins/*
web/app/themes/index.php
web/app/themes/twentythirteen
web/app/themes/twentytwelve
web/app/themes/twentyfourteen
web/app/plugins/index.php
web/app/plugins/hello.php


# Vendor (e.g. Composer)
vendor/*
!vendor/.gitkeep

# Node Package Manager
node_modules

# Vagrant
bin
.vagrant
