[submodule "web/app/plugins/wonderwp_plugin"]
	path = web/app/plugins/wonderwp_plugin
	url = git@github.com:wdfproje/wonderwp-plugin.git
[submodule "web/app/themes/wonderwp_theme"]
	path = web/app/themes/wonderwp_theme
	url = git@github.com:wdfproje/wonderwp-theme.git
