# Application
web/wp-content/plugins/*
!web/wp-content/plugins/.gitkeep
web/wp-content/mu-plugins/*/
web/wp-content/upgrade
web/wp-content/uploads/*
!web/wp-content/uploads/.gitkeep

# WordPress
web/wp
web/.htaccess

# WP-CLI
db-sync
sql-dump-*.sql

# Dotenv
.env
.env.*
!.env.example

# Vendor (e.g. Composer)
vendor/*
!vendor/.gitkeep

# Node Package Manager
node_modules

# Vagrant
bin
.vagrant
