# Source file or directory to parse
source: [./vendor/wonderwp/framework/src,./web/app/plugins/wonderwp_plugin,./web/app/themes]
# Directory where to save the generated documentation
destination: './web/documentation/phpdoc'
# List of allowed file extensions
extensions: [php]
php: false
title: 'WonderWp Documentation'