// Fix pour boutons créés dans des composants
// Reprise styles générés dans theme.json
.btn {
  font-family: var(--wp--preset--font-family--medium);
  font-size: var(--wp--preset--font-size--medium);
  line-height: var(--wp--custom--line-height--body);
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem 2rem;
  color: var(--wp--preset--color--background);
  background: var(--wp--preset--color--primary);
  transition: all 0.3s;

  &:hover,
  &:focus {
    color:var(--wp--preset--color--primary) !important;
    background: var(--wp--preset--color--background) !important;
  }
}

// Bouton En savoir plus
.wp-block-read-more,
.btn--inline .wp-block-button__link {
  position: relative;
  min-height: auto;
  margin: 2rem 0;
  padding: 5px 0 5px 40px;
  font-family: var(--wp--preset--font-family--regular);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  background: none;
  box-shadow: none;
  font-size: var(--wp--preset--font-size--small) !important;
  color: var(--wp--preset--color--base) !important;
  text-decoration: none !important;
  border: none;

  &::before,
  &::after {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }

  &::before {
    content: "";
    display: block;
    height: 26px;
    width: 26px;
    background-color: var(--wp--preset--color--primary);
    border-radius: 50%;
    transform: translateY(-50%) scale(1);
    transform-origin: center;
    transition: all 0.4s;
  }

  &::after {
    @include svgIcon('arrow-btn--white');
    left: 5px;
  }

  .no-touch &:hover,
  &:focus {

    &::before {
      transform: translateY(-50%) scale(1.2);
    }
  }
}
