//Backgroundimage : le bloc image occupe le fond de la card
.item.has-icons,
.item.has-link.has-icons a {

  li {
    display: flex;
    align-items: center;
    padding: 0;
    font-family: var(--font-bold);
    font-size: 1.2rem;
    background: none;

    &::before {
      flex: 0 0 40px;
      margin-right: 1rem;
    }
  }

  // Exemple d'icônes
  .card-cat-categorie-1 {

    &::before {
      @include svgIcon('icone-presse');
    }
  }

  .card-cat-categorie-2 {

    &::before {
      @include svgIcon('icone-actu');
    }
  }
}
