@charset "UTF-8";
/* ----------------------------- */
/* ==Video component      */
/* ----------------------------- */

@import "../Video/video-commons";

//Variables
$video-height: 450px;

/*For Atomic only*/
.atoms-main #video-container {
  max-width: $large;
}

/*Animations*/
.video-embed-wrapper {

  &:hover,
  &:focus {
    .video-embed-image-wrapper::after {
      background-color: rgba(0, 0, 0, 0.4);
    }
  }

  &.video-active {
    .video-embed-image-wrapper,
    .video-embed-trigger {
      display: none;
    }
  }
}


