/* ----------------------------- */
/* ==Video commons      */
/* ----------------------------- */

//Variables
$video-height: 450px;

a.modaal[data-modaal-type="video"] {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: $video-height;
  text-decoration: none;
  overflow: hidden;

  &::before,
  &::after {
    z-index: 3;
  }

  &::before {
    content: "";
    display: block;
    height: 66px;
    width: 66px;
    background:url("/app/themes/wwp_child_theme/assets/raw/svg/play-white.svg") var(--wp--preset--color--primary) no-repeat 26px 20px;
    border-radius: 50%;
    margin-right: 10px;
    transform: scale(1);
    transform-origin: center;
    transition: all 0.4s;
  }

  &::after {
    content: attr(title);
    font-family: var(--font-theme-secondary);
    font-size: 2.2rem;
    text-transform: none;
    line-height: 1.3;
    letter-spacing: 0.03em;
    color: white;
    pointer-events: none;
  }

  .video-image-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;

    img {
      display: block;
      height: auto;
      min-height: 100%;
      width: auto;
      min-width: 100%;
      max-width: none;
    }
  }

  &:hover,
  &:focus {

    &::before {
      transform: scale(1.1);
    }

    .video-image-wrapper::after {
      background-color: rgba(0, 0, 0, 0.4);
    }
  }

  // grandes vignettes (sur 2 colonnes)
  @media (min-width: $medium) {
    &.video-large {
      height: 600px;
    }
  }

}
