.compWrap{
  .nav-tabs {
    border-bottom: none;
  }
  .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
  	border:none;
  	background: none;
  	background: #E2F3F5;
    color: inherit;
  }
  .nav>li>a:focus, .nav>li>a:hover {
    background: none;
    border: none;
  }
  .nav-tabs>li>a {
    margin-right: 0;
    line-height: 1;
    border: none;
    border-radius: 0;
    text-decoration:none;
    font-size:14px;
  }
}

