.atoms-container{
	height:100%;
}



.atoms-main{

	padding:20px;
	padding-left:282px;
	width:100%;
	padding-top: 0;
}




code, kbd, pre, samp {
    font-size: 14px;
}
pre[class*="language-"] {
    padding: 2em;
}


.atoms-code-example{
	position:relative;
}



.atoms-group{
	margin-bottom:50px;
}


@media (max-width: 823px){ 
  .atoms-main{
    padding-left:20px !important ; 
    width:100%;
  }
}



