.pageContent {
  max-width: 600px;
  margin: auto;
  margin-bottom: 100px;
  li {
    margin-bottom: 12px;
  }
}

#importForm {
  text-align: center;
  /*background: #e3e4e3;
  padding: 30px 40px;*/
  margin-top: 50px;
}

.pageHeader {
  text-align: center;
  margin-bottom: 48px;
  margin-top: 75px;
}

