.docBlock{
	max-width:500px;
	margin:auto;;
	a{
		color:#4BC6EF
	}
}
.docBlock-ul{
	li{
		margin-bottom: 20px;
		line-height: 1.5;
	}
}
.docBlock-img{
	display: block;
	max-width:250px;
	margin-top: 20px;
	margin-bottom: 40px;
	box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.38);
}
.docBlock-img__big{
    max-width: 100%;
}