@import "tiny-slider/dist/tiny-slider";

/////////////////////////////////////////////////////////////////
//
//                   TINY SLIDER DEFAULT
//
/////////////////////////////////////////////////////////////////

:root {
  --slider-controls-size: 5rem;
  --prev-prev-offset-x: 2rem;
  --prev-next-offset-x: 2rem;
}

.no-js .wdf-slider {
  overflow: hidden;
  display: flex;

  .sliderItem {
    position: relative;
    flex-shrink: 0;
    flex-grow: 1;
    flex-basis: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.tns-outer {
  position: relative;

  button {
    text-indent: -9999px;
    border:none;
    outline: 0;
  }
}

// Previous and next buttons
.tns-controls [data-controls] {
  position: absolute;
  top: 50%;
  z-index: 1;
  transform: translateY(-50%) !important;
  width: var(--slider-controls-size);
  height: var(--slider-controls-size);
  margin-top: 0 !important;
  text-indent: -9999px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  transition: all 0.4s;

  &::before {
    @include absolute-center;
  }

  &:hover, &:focus {
    background-color: rgba(255, 255, 255, 1);
  }
}

[data-controls="prev"] {
  left: var(--prev-prev-offset-x);

  &::before {
    @include svgIcon(arrow-slider-left);
  }
}

[data-controls="next"] {
  right: var(--prev-next-offset-x);

  &::before {
    @include svgIcon(arrow-slider-right);
  }
}

.tns-inner {

  [data-action="start"],
  [data-action="stop"] {
    position: absolute;
    bottom: -3rem;
    left: 50%;
    font-size: 0 !important; // Masque texte
  }
}


// Pager steps
.tns-nav {
  position: absolute;
  top: auto;
  bottom: 3rem;
  left: 0;
  transform: translateY(50%);
  padding-top: 0;
  z-index: 1;
  width: 100% !important;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center !important;

  button {
    display: block;
    width: 7px;
    height: 7px;
    margin: 0 7px;
    padding: 0;
    background-color: $color-grey-verylight !important;
    border-radius: 5px;
    transition: all .4s;

    &:hover,
    &:focus {
      transform: scale(1.5);
    }

    &.tns-nav-active {
      background-color: var(--color-theme-primary) !important;
      transform: scale(1.5);
    }
  }
}

// Play and pause buttons
/*.tns-controls-auto {
  display: none;
}*/
[data-action] {
  display: block;
  margin: 10px auto;
  font-size: 17px;
  min-width: 3em;
  text-align: center;
  background: transparent;
  border: 0;
}
[data-action="start"],
[data-action="stop"] {
  @extend .visually-hidden;
}

@media (max-width: $large) {

  [data-controls="prev"] {
    left: 2rem !important;
  }

  [data-controls="next"] {
    right: 2rem !important;
  }

  .tns-nav {
    left: 8rem;
    width: calc(100% - 16rem) !important;
  }
}


.tns-outer {
  width: 100%;
}

.tns-inner {
  width: 100%;
  overflow: hidden;
  position: relative;
}

// PRESENTATION AVEC PANEL PAR-DESSUS IMAGE

.slider-fixed-height-wrapper {
  --slideHeight: 75vw;
  --slideHeightMobile: 115vw;
  --slideMaxHeight: 75rem;

  .tns-inner,
  .sliderItem .slider-img,
  .sliderItem .slider-video {
    height: var(--slideHeight);
    max-height: var(--slideMaxHeight);

    @media (max-width: $medium - 1) {
      height: var(--slideHeightMobile) !important;
    }
  }
}
