@import "../../../../../../../node_modules/bxslider/dist/jquery.bxslider.css";

/*Variables*/
$slideHeight: 45vw;
$slideHeightMobile: auto;
$slideMaxHeight: 50rem;

.no-js .wdf-slider {
  overflow: hidden;
  display: flex;

  .sliderItem {
    position: relative;
    flex-shrink: 0;
    flex-grow: 1;
    flex-basis: 100%;

    img {
      min-width: 100%;
      min-height: 100%;
    }
  }
}

/*Remove plugin styles*/
.bx-wrapper {
  margin-bottom: 0;
  box-shadow: none;
  border: none;
  background: transparent;

  .bx-loading {
    background: none;
  }

  img {
    min-width: 100%;
    min-height: 100%;
  }
}

/*Slider height*/
.bx-viewport,
.sliderItem .slider-img {
  height: $slideHeight;
  max-height: $slideMaxHeight;

  @media (max-width: $medium - 1) {
    height: $slideHeightMobile !important;
  }
}

/*Basic styles*/
.bx-wrapper {

  // Previous and next buttons
  .bx-controls-direction a {
    top: 50%;
    z-index: 0;
    transform: translateY(-50%) !important;
    width: 35px;
    height: 55px;
    margin-top: 0 !important;
  }

  .bx-prev, .bx-next {
    background: none;
    overflow: hidden;
  }

  .bx-prev {
    left: 51px !important;
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      @include svgIcon(chevron-slider-l);
      transition: transform .4s;
    }
    &:hover::before, &:focus::before {
      @include svgIcon(chevron-slider-l-grey);
    }
  }

  .bx-next {
    right: 51px !important;
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      @include svgIcon(chevron-slider-r);
    }
    &:hover::before, &:focus::before {
      @include svgIcon(chevron-slider-r-grey);
    }

  }

  // Pager steps
  .bx-pager {
    position: absolute;
    width: 100% !important;
    text-align: center !important;
    bottom: 3rem;

    a.bx-pager-link {
      margin: 0 1rem;
      background-color: #ffffff !important;
      border: 1px solid #ffffff;
      transition: all .4s;

      &:hover,
      &:focus {
        transform: scale(2);
      }

      &.active {
        background-color: transparent !important;
        transform: scale(2);
      }
    }
  }

  // Play and pause buttons
  .bx-controls-auto {
    display: none;
  }

  // Slide content
  ul.bxslider {
    li {
      margin-bottom: 0;
    }
  }

  @media (max-width: $large) {

    .bx-prev {
      left: 20px !important;
    }

    .bx-next {
      right: 20px !important;
    }
  }

  @media (max-width: $medium - 1) {


  }

  @media (max-width: $tiny) {

    .bx-prev {
      left: 10px !important;
    }

    .bx-next {
      right: 10px !important;
    }

    .bx-pager {
      bottom: 1rem;
    }
  }
}
