//Backgroundimage : le bloc image occupe le fond de la card

.item.backgroundimage {
  display: block;

  .img-wrap {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    height: 100%;
    background-color: var(--color-theme-base);
    border-radius: var(--border-radius-theme);

    img {
      opacity: 0.65;
    }
  }

  .card-block {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 4rem;
    color: white;
  }

  .card-date,
  .card-readmore-link,
  ul.card-categories li {
    color: white;
  }

  .card-readmore-link {

    &::before {
      background-color: white;
    }

    &::after {
      @include svgIcon('arrow-btn--orange');
    }
  }
}

.item.has-link.backgroundimage a {
  height: 100%;
  width: 100%;
}
