
/*Variables*/
$timelineHorizHeight: 15rem; //Hauteur de la timeline
$itemWidth: 6rem; //Largeur entre 2 points fermé niveau 2
/*---------*/

/*Base horizontal timeline*/
ul.timeline {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  height: $timelineHorizHeight;
  margin: 0;
  padding-left: 0;

  //Ligne
  &::after {
    content: "";
    display: block;
    height: 2px;
    width: 100%;
    background-color: $color-base;
    position: absolute;
    top: calc(50% - 1px);
    pointer-events: none;
  }

  //Etapes
  > li {
    position: relative;
    flex: 0 0 $itemWidth;
    display: flex;
    align-items: center;
    height: 100%;
    transition: all 0.4s; //Animation sur largeur (flex-basis)
    cursor: pointer;

    a {
      @include absolute-center;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      text-align: center;
      height: 100%;
      width: 100%;
      text-decoration: none;
      cursor: pointer;
      overflow: hidden;
    }

    a::before,
    a::after {
      content: " ";
      position: absolute;
      top: 50%;
      left: 50%;
      display: block;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      transform: translate(-50%, -50%);
      transform-origin: center;
      transition: all 0.4s;
      pointer-events: none;
    }

    a::before {
      z-index: 0;
      background-color: $color-base;
      opacity: 0.2;
      transform: translate(-50%, -50%) scale(1);
    }

    a::after {
      z-index: 1;
      background-color: $color-base;
    }

    //Eléments de contenu à révéler
    .text,
    .date {
      display: block;
      text-align: center;
      font-size: 1.4rem;
      line-height: 1.2;
    }

    .date {
      padding: 0 0 6px 0;
      font-size: 1.6rem;
      font-weight: 600;
    }

    //Eléments disponibles dans le plugin:
    //Image, date
  }

  //Animations spécifiques timeline simple
  > li:hover,
  > li:focus,
  > li.active {

    a::before {
      transform: translate(-50%, -50%) scale(2);
    }
  }

}
