/*Option timeline horizontale*/

/*Variables*/
$timelineHorizHeight: 15rem; //Hauteur de la timeline
$stepWidthClose: 5rem; //Largeur entre 2 points fermé
$stepWidthOpen: 25rem; //Largeur entre 2 points ouvert
/*---------*/

ul.timeline.timeline--horizontal {
  height: $timelineHorizHeight;

  li {

    &,
    a {
      height: 100%;
    }

    a {
      flex-direction: column;
      width: $stepWidthClose;
      overflow: hidden;
    }

    .text {
      position: absolute;
      bottom: 3rem;
      left: 50%;
      text-align: center;
      opacity: 0;
      font-size: 0;
      border-color: white;
      transform: translate(-50%, 0);
      transition: all 0.4s;
    }
  }

  li:hover,
  li:focus,
  li.active {

    a {
      width: $stepWidthOpen;
    }

    .text {
      font-size: 1.5rem;
      border-color: $color-base;
      opacity: 1;
    }
  }
}
