<div class="timeline-component">
  <ul class="timeline timeline--{{ class }}">
    {% if timelineItems %}
      {% for item in timelineItems %}
        {{ item | raw }}
      {% endfor %}
    {% endif %}
  </ul>
</div>
