/*scss/molecules/_timeline.scss*/

ul.timeline {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    height: 30rem;
    width: 100%;
    margin: 0;
    padding-left: 0;
    overflow: hidden;

    &::after {
        content: "";
        display: block;
        height: 2px;
        width: 100%;
        background-color: #ffffff;
        position: absolute;
        top: 50%;
        pointer-events: none;
    }

    li {
        position: relative;
        height: 28rem;
        overflow: hidden;

        a {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100%;
            width: 10rem;
            color: #ffffff;
            text-decoration: none;
            cursor: pointer;
        }

        a::after, a::before {
            content: " ";
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            width: auto;
            border-radius: 50%;
            transform: translate(-50%, -50%);
            pointer-events: none;
        }

        a::after {
            width: 20px;
            height: 20px;
            background-color: $gray-600;
            z-index: 3;
        }

        a::before {
            width: 0;
            height: 0;
            background-color: rgba(255, 255, 255, .2);
            z-index: 2;
            transition: all .8s;
        }

        .date {
            position: relative;
            top: 9rem;

            &::after {
                position: absolute;
                bottom: -5px;
                content: "";
                display: block;
                height: 2px;
                width: 0;
                background-color: $gray-600;
            }

        }
        .text, img {
            height: 0;
            font-size: 1.5rem;
        }

        .text {
            margin-top: 2rem;
            text-align: center;
            opacity: 0;
            overflow-y: hidden;
            transition: opacity .2s;

            &::after {
                content: "";
                display: block;
                height: 0;
                width: 2px;
                background-color: #ffffff;
                position: absolute;
                bottom: 14rem;
                left: 50%;
                transform: translateX(-50%);
                transition: height .6s;
                pointer-events: none;
            }

        }
        .image-wrapper {
            position: absolute;
            bottom: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 50%;
            width: 100%;
            overflow: hidden;
        }

        img {
            height: 6rem;
            transform: translateY(-200%);
            transition: all .6s ease-in-out;
        }

    }

    li a:hover, li a:focus, li a.active {
        width: auto;
        min-width: 22rem;
        background: url("#{$get-path-to-assets}/raw/images/bg-item-timeline.png") no-repeat center bottom;

        &:before {
            width: 45px;
            height: 45px;
        }

        .date {
            top: 0;
        }

        .date::after {
            width: 100%;
        }

        .text {
            height: auto;
            opacity: 1;
            overflow: visible;

            &::after {
                height: 4rem;
            }

        }
        img {
            transform: translateY(0);
        }

    }

}
