/* scss/base/_classes_utilitaires.scss */
#classes_utilitaires-container {
  max-width: none !important;
}
.utilities-previewer-wrap {
  background-color: #fff5e1;
  display: inline-block;
  margin-bottom: 50px;
  border: 1px solid rgba(0,0,0,.1);
}
.utilities-previewer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0,0,0,.1);
  background: #e4ffe4;
}
.utilities-previewer-inner {
  border: 1px solid rgba(0,0,0,.1);
  height: 100%;
  background: #fff;
  code {
    display: inline-block;
  }
}
