
/**
 * -----------------------------
 * Colors
 * This file is read only
 * -----------------------------
 */

/**
 * Edit your colors in theme.json file
 * Then fill the $styleguide-colors below accordingly
 * Warning! Variables declared in theme.json do not appear in the styleguide. SO YOU NEED TO REDEFINE THEM BELOW:
 */

//Styleguide Colors
$styleguide-colors: (
  "base": #2E2632, //var(--wp--preset--color--base)
  "background-base": #FFFFFF, //var(--wp--preset--color--background)
  "brand": #C81F3B, //var(--wp--preset--color--brand)
  "primary": #FF503A, //var(--wp--preset--color--primary)
  "secondary": #5175e2, //var(--wp--preset--color--secondary)
  "tertiary": #FF9999, //var(--wp--preset--color--tertiary)
  "quaternary": #A574BE, //var(--wp--preset--color--quaternary)
  "verylightgrey": #F7F7FA, //var(--wp--preset--color--verylightgrey)
  "grey": #C2C3C8, //var(--wp--preset--color--grey)
  "lightgrey": #ECEDF0, //var(--wp--preset--color--lightgrey)
  "mediumgrey": #DEE0E3, //var(--wp--preset--color--mediumgrey)
  "darkgrey": #97989B, //var(--wp--preset--color--darkgrey)
  "white": white
);


//----------------------------------------------------------------------------------//

//Color generation mixin pour le STYLEGUIDE
@each $name, $value in $styleguide-colors {
  .color.#{$name} {
    border: 1px solid #ddd;

    &::after {
      content: none;
    }

    span {
      border-top: 1px solid #ddd;

      &::after {
        content: ' : #{$value}';
        color: initial;
      }
    }
  }
  .background-#{$name} {
    background-color: $value;
  }
}

//Color generation mixin pour le front
@each $name, $value in $styleguide-colors {
  .color-#{$name} {
    color: $value !important;
  }
  .background-#{$name} {
    background-color: $value !important;
  }
  // Force color
  .color-#{$name} {
    h2, h3, h4, p, span, li {
      color: $value !important;
    }
  }
}

/* Color block properties */
.colors:before,
.colors:after {
  content: " ";
  display: table;
}

.colors:after {
  clear: both;
}

.colors {
  *zoom: 1;
}

.color {
  width: 100px;
  height: 130px;
  float: left;
  margin-right: 10px;
  font-size: 12px;
  border: 1px solid red;
  display: flex;
  color: #000;
  position: relative;

  span {
    width: 100%;
    border-top: 1px solid red;
    display: block;
    padding: 5px;
    margin-top: auto;
    background: #fff;
    font-size: .8em;
  }
}
