/*scss/base/_colors.scss*/

$basecolor            : #3F4925 !default;
$mediumgrey           : #979992 !default;
$lightgrey            : #D6D6D6 !default;
$darkpink             : #E50063 !default;
$darkblue             : #253b49 !default;

// For Atomic. Don't modify:
$red                    : #E20714 !default;
$blue                   : #00AFF0 !default;
$warmgrey               : #F2F5F0 !default;

.basecolor{
  background: $basecolor;
}
.darkpink{
  background: $darkpink;
}
.mediumgrey{
  background: $mediumgrey;
}
.lightgrey{
  background: $lightgrey;
  span {
    color: #000; 
  }
}
.red{
  background: $red;
}

.colors:before,
.colors:after {
  content: " ";
  display: table;
}

.colors:after {
  clear: both;
}
.colors {
  *zoom: 1;
}
.color{
  width:100px;
  height:100px;
  float:left;
  margin-right:10px;
  padding:10px;
  color:#fff;
  font-size:12px;
}

.colorFixed{
  position: fixed;
  z-index: 3000;
  right: 0;
  top: 0;
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.57);
  .color{
    float: none;
    margin-right:0;
    width:70px;
    height:50px;
  }
}