/*scss/base/_containers.scss*/

// For Style guide
#containers ~ .component{
    width: 100%;
    max-width: $extra-large-screen;
    .container, .container-s, .container-l, .container-xl{
        margin-bottom: 2rem;
        padding: 1rem;
        background: $lightgrey;
        text-align: center;
    }
}


// Container
.container, .container-s, .container-l, .container-xl{
    position: relative;
    display: block;
    margin: 0 auto;
}
.container {
    width: $medium-plus-screen;
    @media (max-width: $medium-plus-screen) {
        position:       relative;
        margin:         0;
        width:          100%;
        padding-right:  2em;
        padding-left:   2em;
    }
    @media (max-width: $small-screen) {
        padding-right:  2%;
        padding-left:   2%;
    }
}
.container-s{
    width: $tiny-plus-screen;
}
.container-l{
    width: $large-plus-screen;
}
.container-xl{
    width: $extra-large-screen;
}