/*scss/base/_fonts.scss*/

$font1: 'Work Sans', sans-serif !important; // weights: 300,400,500,600,700
$font2: 'Bree Serif', serif; // weight: normal

body{
  font-family:$font1;
}

.font{
  font-weight:normal;
  margin-top:0;
  span{
    display:block;
  }
}

.font1{
  font-family: $font1;
  font-weight: 300; 
}
.font2{
  font-family: $font2;
  font-weight: 300; 
}


