/* scss/base/_fonts.scss */

/* ----------------------------- */
/* ==Fonts      */
/* ----------------------------- */

/* Fonts example (defined in variables.scss file) */

.font {
  font-weight: normal;
  margin-top: 0;
  span {
    display: block;
  }
}

.font1 {
  font-family: $font-family-base;
}

.font2 {
  font-family: $font-family-headings;
}

.font3 {
  font-family: $font-family-secondary;
}
