/* scss/base/_fonts.scss */

/* ----------------------------- */
/* ==Fonts      */
/* ----------------------------- */

/* Googlefonts are imported in variables.scss file */

/*For Atomic docs*/
.font {
  margin-top: 0;
  span {
    display: block;
  }
}

a {
  color: var(--color-theme-base);
}

hr.wp-block-separator {
  border-top: 0;
  border-bottom: 1px solid currentColor;
}
