@charset "UTF-8";
/* ----------------------------- */
/* ==Grids      */
/* ----------------------------- */

/*For AtomicDocs only*/
#grids.compTitle ~ .component {
    [class*="grid-"] > * {
        margin-bottom: 1rem;
        padding: 1rem;
        &:nth-child(even) {
            background-color: $gray-200;
        }
        &:nth-child(odd) {
            background-color: $gray-400;
        }
    }
}