
.icon-picture:before { content: '\e802'; } /* '' */
.icon-folder:before { content: '\e801'; } /* '' */
.icon-easel:before { content: '\e804'; } /* '' */
.icon-chart-pie:before { content: '\e800'; } /* '' */
.icon-coverflow-empty:before { content: '\e803'; } /* '' */