// Accordion
:root {
  --accordion-theme-color: var(--color-theme-base);
  --accordion-theme-bgcolor: white;
  --accordion-theme-btn-color: var(--color-theme-primary);
  --accordion-theme-hovercolor: var(--color-theme-base);
  --accordion-theme-hoverbackground: white;
  --accordion-theme-activecolor: var(--color-theme-base);
  --accordion-theme-activebackground: white;
}

$accordion-border-radius: 6px;

.js-accordion {
  button, div {
    width: 100%;
  }
}

.js-accordion__header {
  position: relative;
  display: block;
  width: 100%;
  margin: 1rem 0 0 0;
  padding-right: 8rem;
  padding-left: 5rem;
  text-align: left;
  color: var(--accordion-theme-color);
  background-color: var(--accordion-theme-bgcolor);
  white-space: normal;
  min-height: 5rem;
  height: initial;
  border: 0;
  font-size: 1.4rem;
  border-radius: $accordion-border-radius;
  box-shadow: var(--box-shadow-theme);
  cursor: pointer;

  .no-touch &:hover,
  &:focus,
  &:active {
    color: var(--accordion-theme-hovercolor);
    background-color: var(--accordion-theme-hoverbackground);
    box-shadow: var(--box-shadow-theme-active);
  }

  &:focus {
    outline: 0;
  }

  &:before {
    content: '';
    display: block;
    background: url("/app/themes/wwp_child_theme/assets/raw/svg/chevron-l-small-white.svg") no-repeat center center;
    background-size: 35%;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 5rem;
    z-index: 2;
    transition: all .2s ease-out;
    transform: rotate(-90deg);
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    right: -1px;
    top: -1px;
    height: calc(100% + 2px);
    width: 5rem;
    background-color: var(--accordion-theme-btn-color);
    z-index: 1;
    border-radius: 0 $accordion-border-radius $accordion-border-radius 0;
  }

  &[aria-expanded="true"] {
    font-family: var(--font-medium);
    color: var(--accordion-theme-activecolor);
    background-color: var(--accordion-theme-activebackground);
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;

    &:before {
      transform: rotate(90deg);
    }

    &:after {
      border-radius: 0 $accordion-border-radius 0 0;
    }
  }

  @media (max-width: $tiny) {
    padding-right: 2rem;
    &:after {
      right: 0;
    }
  }
}


.js-accordion__panel {
  background: #fff;
  position: relative;
  border: 1px solid var(--accordion-theme-bgcolor);
  padding: 0 5rem;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  font-size: 1.5rem;
  box-shadow: var(--box-shadow-theme);
  overflow: hidden;
  transition: all .4s ease-out;

  .js &,
  .js-enabled & {
    height: 0;
    visibility: hidden;
    opacity: 0;
  }

  h2:before {
    content: none;
  }
}

.js-accordion__header[aria-expanded="true"] + .js-accordion__panel {
  padding: 4rem 5rem;
}

.js-accordion__title,
.my-accordion-name__title {
  @extend .visually-hidden;
}

/* This is the visible state */
[aria-expanded="true"] + .js-accordion__panel,
[aria-hidden=false].js-accordion__panel {
  visibility: visible;
  opacity: 1;
  height: auto;
}


// Accordéon autre style (page contrôle/collectif & valeurs)
.accordeon-style2 {
  counter-reset: accordeon;

  button.js-accordion__header {
    counter-increment: accordeon;
    margin: -5px 0 0 0;
    padding-right: 2rem;
    padding-left: 6rem;
    font-size: 2rem;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 -5px 10px rgba(0, 0, 0, .1);

    &:before {
      content: counter(accordeon) ".";
      font-size: 3rem;
      transform: none;
      background: none;
      top: 20px;
      right: initial;
      left: 3rem;
    }

    &:after {
      display: none;
    }

    &[aria-expanded="true"] {
      font-size: 2.4rem;
      padding-left: 8rem;
      padding-top: 3.6rem;

      &:before {
        font-size: 5rem;
      }
    }
  }

  .js-accordion__panel {
    border: none;
    border-radius: 0;
    color: #fff;
    margin-top: -3px;
    padding-top: 0;
    padding-left: 3rem;
    padding-right: 3rem;

    &[aria-hidden="false"] {
      padding-top: 2rem;
      padding-bottom: 4rem;
    }
  }
}
