// Accordion
:root {
  --accordion-color: var(--wp--preset--color--base);
  --accordion-bgcolor: white;
  --accordion-btn-color: var(--wp--preset--color--primary);
  --accordion-hovercolor: var(--wp--preset--color--base);
  --accordion-hoverbackground: white;
  --accordion-activecolor: var(--wp--preset--color--base);
  --accordion-activebackground: white;
  --accordion-border-radius: var(--border-radius-theme);
  --accordion-box-shadow: var(--box-shadow-theme-small);
}

.js-accordion {
  button, div {
    width: 100%;
  }
}

.js-accordion__header {
  position: relative;
  display: block;
  width: 100%;
  margin: 1rem 0 0 0;
  padding: 0 3rem;
  text-align: left;
  color: var(--accordion-color);
  font-weight: $weight-medium;
  text-transform: none;
  background-color: var(--accordion-bgcolor);
  white-space: normal;
  min-height: 9rem;
  height: initial;
  border: 0;
  font-size: 1.3rem;
  border-radius: var(--accordion-border-radius);
  box-shadow: var(--accordion-box-shadow);
  cursor: pointer;

  .no-touch &:hover,
  &:focus,
  &:active {
    color: var(--accordion-hovercolor);
    background-color: var(--accordion-hoverbackground);
    //box-shadow: var(--box-shadow-theme-small--active);
  }

  &:focus {
    outline: 0;
  }

  &::after {
    position: absolute;
    top: 50%;
    right: 2rem;
    transform: translateY(-50%);
    @include svgIcon('icon-more');
  }

  // Avec illustration
  &.has-illustration {
    padding-left: 10rem !important;
    background-size: 5rem auto !important;
    background-position-x: 3rem !important;
  }

  &[aria-expanded="true"] {
    font-family: var(--font-theme-secondary);
    color: var(--accordion-activecolor);
    background-color: var(--accordion-activebackground);
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;

    &::after {
      @include svgIcon('icon-less');
    }
  }

  @media (max-width: $tiny) {
    padding-right: 2rem;
    &:after {
      right: 0;
    }
  }
}


.js-accordion__panel {
  background: #fff;
  position: relative;
  z-index: -1;
  border: 1px solid var(--accordion-bgcolor);
  padding: 0 4rem 0 3.5rem;
  border-bottom-right-radius: var(--accordion-border-radius);
  border-bottom-left-radius: var(--accordion-border-radius);
  font-size: 1.5rem;
  box-shadow: var(--box-shadow-theme);
  overflow: hidden;
  transition: all .4s ease-out;

  .js &,
  .js-enabled & {
    height: 0;
    visibility: hidden;
    opacity: 0;
  }

  h2:before {
    content: none;
  }

  &[aria-hidden="false"] {
    padding: 1rem 4rem 4rem 3.5rem;
    box-shadow: var(--accordion-box-shadow);
  }
}

.js-accordion__title,
.my-accordion-name__title {
  @extend .visually-hidden;
}

/* This is the visible state */
[aria-expanded="true"] + .js-accordion__panel,
[aria-hidden=false].js-accordion__panel {
  visibility: visible;
  opacity: 1;
  height: auto;
}


// Accordéon autre style (page contrôle/collectif & valeurs)
.accordeon-style2 {
  counter-reset: accordeon;

  button.js-accordion__header {
    counter-increment: accordeon;
    margin: -5px 0 0 0;
    padding-right: 2rem;
    padding-left: 6rem;
    font-size: 2rem;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 -5px 10px rgba(0, 0, 0, .1);

    &:before {
      content: counter(accordeon) ".";
      font-size: 3rem;
      transform: none;
      background: none;
      top: 20px;
      right: initial;
      left: 3rem;
    }

    &:after {
      display: none;
    }

    &[aria-expanded="true"] {
      font-size: 2.4rem;
      padding-left: 8rem;
      padding-top: 3.6rem;

      &:before {
        font-size: 5rem;
      }
    }
  }

  .js-accordion__panel {
    border: none;
    border-radius: 0;
    color: #fff;
    margin-top: -3px;
    padding-top: 0;
    padding-left: 3rem;
    padding-right: 3rem;

    &[aria-hidden="false"] {
      padding-top: 2rem;
      padding-bottom: 4rem;
    }
  }
}
