/* ----------------------------- */
/* ==Header mobile (<768px)      */
/* ----------------------------- */

:root {
  --mobileheaderHeight: 80px;
  --header-bg-color: white;
  --menu-item-height: 60px;
  --menu-item-color: var(--wp--preset--color--base);
  --menu-item-bgcolor: transparent;
  --menu-item-m0-color: var(--wp--preset--color--base);
}

@media (max-width: $medium - 1) {

  .site-header .navigation-wrapper,
  ul.header-menu .children {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    z-index: 3;
    background-color: var(--header-bg-color) !important;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transform: translateX(-100%);
    transition: all .3s ease;

    &.is-opened {
      transform: translateX(0);
      opacity: 1;
      visibility: visible;
      pointer-events: all;
    }
  }

  .site-header .navigation-wrapper {
    position: fixed;
    top: var(--mobileheaderHeight);
    overflow-y: auto;
  }

  .navigation-wrapper ul.header-menu {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 200vh;
    margin: 0;

    li {
      height: var(--menu-item-height);
      margin-left: 0;
      font-size: 1.5rem;
      //line-height: 2rem;
      background-color: var(--menu-item-bgcolor);

      > a {
        position: relative;
        display: flex;
        align-items: center;
        height: 100%;
        padding: 20px;
        background-color: var(--menu-item-bgcolor);
        border-bottom: 1px solid $color-grey-medium;
      }
    }

    li.current_page_ancestor,
    li.current_page_item {

      > a {
        color: var(--menu-item-color-active);
        background-color: var(--menu-item-bgcolor-active);
      }
    }

    li.page_item_has_children {

      > a::after {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        right: 3rem;
        height: 10px;
        width: 10px;
        border-right: 2px solid;
        border-bottom: 2px solid;
        border-color: var(--wp--preset--color--base);
        transform: translateY(-50%) rotate(-45deg);
        transition: transform 0.4s;
        transform-origin: center;
      }
    }

    ul.children {
      position: fixed;
      top: 0;
      transform: translateX(-33%);
      display: block;
      height: 200vh;
      overflow-y: auto;
    }

    li.is-opened > .children {
      transform: translateX(0);
      opacity: 1;
      visibility: visible;
      pointer-events: all;
      box-shadow: 0 60px 0 0 var(--menu-item-bgcolor);
    }

    ul.mobile-nav-links {
      display: grid;
      grid-template-columns: var(--menu-item-height) 1fr;
      margin-left: 0;
    }

    ul.level1 li {
      min-width: auto;
      font-family: var(--font-theme-base);
    }

    .back-btn {

      button {
        position: relative;
        display: block;
        height: 100%;
        width: 100%;
        margin-top: 0;
        margin-bottom: 0;
        padding: 0;
        background-color: white;
        text-indent: -999px;
        border-radius: 0;
        border: 1px solid $color-grey-medium;
        box-shadow: none;

        &::after {
          content: "";
          display: block;
          position: absolute;
          left: 50%;
          top: 50%;
          height: 15px;
          width: 15px;
          border-left: 2px solid;
          border-bottom: 2px solid;
          border-color: var(--wp--preset--color--base);
          transform: rotate(45deg) translate(-45%, -17%);
        }
      }
    }

    ul.level1 li.parent-page {
      font-family: var(--font-theme-secondary);

      span + span {
        position: absolute !important;
        border: 0 !important;
        height: 1px !important;
        width: 1px !important;
        padding: 0 !important;
        overflow: hidden !important;
        clip: rect(0, 0, 0, 0) !important;
      }
    }
  }

  // Burger button (overrides button styles)
  .nav-button {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: var(--mobileheaderHeight) !important;
    width: var(--mobileheaderHeight);
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    background: transparent !important;
    outline: 0;
    border: none !important;
    cursor: pointer;
    box-shadow: none;
    -webkit-tap-highlight-color: transparent;

    & > * {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: stretch;
      height: $burger-size;
      width: $burger-size;
      padding: $burger-padding;
      background-color: $burger-background;
      background-image: linear-gradient($burger-color, $burger-color);
      background-position: center;
      background-repeat: no-repeat;
      background-origin: content-box;
      background-size: 100% $burger-weight;
      transition: .25s;
      transition-property: transform, background;
      will-change: transform, background;

      &::before,
      &::after {
        content: "";
        display: block;
        height: $burger-weight;
        background-color: $burger-color;
        transition: .25s;
        transition-property: transform, top;
        will-change: transform, top;
      }
    }

    &:hover {
      & > * {
        background-color: $burger-hover-background;
      }
    }

    &:focus {
      outline: 0;
    }

    &.is-active {

      & > * {
        background-image: none;
        justify-content: center;

        &::before {
          transform: translateY(50%) rotate3d(0, 0, 1, 45deg);
        }

        &::after {
          transform: translateY(-50%) rotate3d(0, 0, 1, -45deg);
        }
      }
    }
  }
}


// Body overlay
body.has-opened-menu {
  position: fixed;
  overflow: hidden;
}
