/* Variables */
/* ------------- */

:root {
  --header-bg-color: white;
  --menu-item-color: var(--black);
  --menu-item-bgcolor: transparent;
  --menu-item-color-active: var(--orange);
  --menu-item-bgcolor-active: var(--grey);
  --menu-item-m0-color: $gray-600;
}
