/* Variables */
/* ------------- */

:root {
  --menu-item-color: var(--color-theme-base);
  --menu-item-bgcolor: transparent;
  --menu-item-color-active: var(--color-theme-primary);
  --menu-item-bgcolor-active: var(--grey);
  --menu-item-m0-color: var(--color-theme-base);
}
