/* ----------------------------- */
/* ==Header menu desktop + tablet (<=768px)      */
/* ----------------------------- */

:root {
  --menu-item-m0-color-active: var(--color-theme-base);
  --menu-item-m1-color: var(--color-theme-base);
  --menu-item-m1-color-active: var(--color-theme-primary);
  --menu-item-m1-bgcolor: white;
  --menu-item-m1-bgcolor-active: var(--color-theme-secondary);
}

@media (min-width: $medium) {

  // Burger button
  .site-header .nav-button {
    display: none;
  }

  .navigation-wrapper ul.header-menu {
    display: flex;
    justify-content: center;
    margin: 0;
    padding-left: 0;
    list-style: none;

    .mobile-nav-links {
      display: none;
    }

    li {
      position: relative;
      text-align: center;
      font-size: 1.5rem;
      line-height: 1;
    }

    //Tous les sous-menus sont masqués
    li > ul {
      position: absolute;
      top: 0;
      left: -9999px;
      opacity: 0;
      transition: opacity .4s;
    }

    li.page_item_has_children {

      > a::after {
        position: absolute;
        right: 20px;
        top: calc(50% - 4px);
        content: "";
        display: block;
        background-image: url("/app/themes/wwp_child_theme/assets/raw/svg/chevron-b-s.svg");
        background-repeat: no-repeat;
        height: 7px;
        width: 12px;
        transform: rotate(-90deg);
        transition: transform 0.4s;
      }
    }

    li.current_page_ancestor,
    li.current_page_item {
      > a {
        color: var(--menu-item-m1-color-active);
      }
    }

    // Premier niveau
    > li.m0 {

      > a {
        position: relative;
        display: flex;
        align-items: center;
        height: var(--header-height); //Permet de postionner les enfants
        margin-right: 4rem;
        //padding: 32px 0;
        padding: 0;
        border-bottom: 2px solid transparent;
      }

      &.page_item_has_children {

        > a {
          margin-right: 6rem;
          color: var(--menu-item-m0-color-active);

          &::after {
            right: -25px;
          }
        }
      }

      &.current_page_ancestor,
      &.current_page_item {

        > a {
          border-bottom-color: var(--color-theme-primary);

          &::after {
            background-image: url("/app/themes/wwp_child_theme/assets/raw/svg/chevron-b-s-orange.svg");
            transform: rotate(0);
          }
        }
      }

      &:hover,
      &:focus {

        > a::after {
          transform: rotate(180deg);
        }
      }
    }

    // Niveaux inférieurs
    ul.level1,
    ul.level2 {
      background: white;
      box-shadow: 0 16px 40px 0 rgba(41, 57, 95, 0.20);

      > li:hover, > li:focus {
        > a {
          background-color: var(--menu-item-m1-bgcolor-active);
        }
      }
    }

    // Deuxième niveau
    ul.level1 {
      top: var(--header-height);
      z-index: 1;

      body.has-stuck-header & {
        top: calc(var(--header-height) / 2);
      }

      li {
        margin-left: 0;
        min-width: 320px;
        font-family: var(--font-theme-base);
        font-size: 1.4rem;
        text-align: left;
      }

      li > a {
        position: relative;
        display: block;
        height: 100%;
        padding: 1.5rem 3rem;
        text-decoration: none;
        background-color: var(--menu-item-m1-bgcolor);
      }

      > li:first-child > a {
        padding-top: 2rem;
      }

      > li:last-child > a {
        padding-bottom: 3rem;
      }

      li.current_page_item {

        > a {
          color: var(--menu-item-m1-color-active);
        }
      }

      //Pour IE11
      @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        top: calc(var(--header-height) / 2);
      }
    }

    // Troisième niveau
    ul.level2 {
      left: -100% !important;

      li {
        text-align: right;
      }
    }

    //Animations
    li:hover,
    li:focus,
    li:focus-within,
    li:active {
      > ul {
        opacity: 1;
        left: -3rem;
      }
    }

    //Pour IE11
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      li > ul {
        left: 0;
        opacity: 1;
        display: none;
      }
      > li.m0:hover,
      > li.m0:focus {

        > ul {
          display: block;
        }
      }
    }

    @media (max-width: $medium) {

      li {
        margin-left: 1rem;
        font-size: 1.1rem;
      }

      ul.level1 {
        top: 52px;
      }

      ul.level1 li > a {
        padding: 1.5rem 3rem;
      }

      ul.level2 > li {
        text-transform: none;
      }
    }
  }
}

@media (max-width: $very-large) {

  ul.header-menu {

    li {
      font-size: 1.3rem;
    }

    ul.level1 {
      top: 60px;

      li {
        min-width: 280px;
      }
    }

    ul.level2 {
      right: 100%;
    }
  }
}
