/* Variables */
/* ------------- */
$header-bg-color: white;
$menu-item-color: $color-base;
$menu-item-bgcolor: transparent;
$menu-item-color-active: $gray-700;
$menu-item-bgcolor-active: $gray-400;
$menu-item-m0-color: $gray-600;
