@charset "UTF-8";
/* ----------------------------- */
/* ==Header mobile (<768px)      */
/* ----------------------------- */

/* Variables */
/* ------------- */
$mobileheaderHeight: $burger-btn-size;

$header-bg-color: $gray-500;
$menu-item-color: $white;
$menu-item-bgcolor: $gray-600;
$menu-item-color-active: $gray-500;
$menu-item-bgcolor-active: $white;
$menu-item-m0-color: $color-base;
$menu-item-parent-color-active: $color-base;
$menu-item-parent-bgcolor-active: $white;


/* ------------- */

@media (max-width: $medium - 1) {

    #header .navigation-wrapper,
    ul.header-menu .children {
        display: block;
        position: fixed;
        z-index: 3;
        top: 0;
        left: 0;
        bottom: 0;
        height: 100vh;
        width: 100vw;
        background-color: $header-bg-color;
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
        transform: translateX(-100%);
        transition: all .3s ease;

        &.is-opened {
            transform: translateX(0);
            opacity: 1;
            visibility: visible;
            pointer-events: all;
        }
    }

    #header .navigation-wrapper {
        padding-top: $mobileheaderHeight;
        overflow-y: auto;
    }

    .navigation-wrapper ul.header-menu {
        flex-direction: column;
        align-items: stretch;
        height: 200vh;

        li {
            height: 60px;
            margin-left: 0;
            line-height: 2rem;
            border-bottom: 1px solid $header-bg-color;

            > a {
                position: relative;
                display: flex;
                align-items: center;
                height: 100%;
                padding: 0 20px;
                font-size: 1.5rem;
                color: $menu-item-color;
                background-color: $menu-item-bgcolor;
            }
        }

        ul.level1 li {
            min-width: auto;
        }

        li.current_page_ancestor,
        li.current_page_item {

            > a {
                color: $menu-item-parent-color-active !important;
            }
        }

        li.page_item_has_children {

            > a::after {
                content: "";
                display: block;
                position: absolute;
                right: 1rem;
                top: 50%;
                background-image: url("#{$get-path-to-assets}/raw/svg/chevron-r-small.svg");
                background-repeat: no-repeat;
                width: 20px;
                height: 25px;
                transform: translateY(-60%);
            }
        }

        ul.children {
            top: 0;
            transform: translateX(-33%);
            display: block;
            overflow-y: auto;
            height: 200vh;

            li > a {
                padding-left: 40px;
                /* color: $menu-item-color-active;
                background-color: $menu-item-bgcolor-active;*/
            }
        }

        li.is-opened > .children {
            transform: translateX(0);
            opacity: 1;
            visibility: visible;
            pointer-events: all;
            background-color: #fff;
            box-shadow: 0 60px 0 0 #fff;
        }

        ul.mobile-nav-links {
            display: grid;
            grid-template-columns: 60px 1fr;
            margin-left: 0;
        }

        .back-btn {

            button {
                display: block;
                height: 100%;
                width: 100%;
                background-color: #ffffff;
                position: relative;
                text-indent: -999px;
                &::after {
                    content: "";
                    display: block;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-60%, -53%);
                    background-image: url("#{$get-path-to-assets}/raw/svg/chevron-l-small.svg");
                    background-repeat: no-repeat;
                    width: 20px;
                    height: 25px;
                }
            }
        }

        .parent-page {
            font-size: 1.2em;

            > a {
                padding-left: 0;
                padding-right: 0;
                color: $menu-item-parent-color-active !important;
                background-color: $menu-item-parent-bgcolor-active !important;
            }
            span:first-of-type {
                justify-self: center;
            }
            span:last-of-type {
                display: block;
                width: 60px;
                text-indent: -9999px;
            }
        }
    }
}



// Burger button (base styles are in buttons.scss and configs in variables.scss)
.nav-button {

    @media (min-width: $medium) {
        display: none;
    }

    position: fixed;
    top: 0;
    right: 0;
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: $burger-btn-size;
    width: $burger-btn-size;
    background-color: $burger-bgcolor;
}


// mobile - Slide Menu/content
.slider-menu-opened {
    overflow-y: scroll;
    position: fixed;
    height: 110vh;
    width: 100%;

    #page {
        overflow-x: hidden;
    }

    #header {
        width: 85%;
    }

    .navigation-wrapper {
        overflow: visible;
        width: 100%;
        transform: translateX(0);
    }

    .inner-header {
        position: absolute;
    }

    .nav-button {
        position: fixed;
        top: 0;
        right: -18%;
        width: 18%;
        background-color: transparent;
        span {
            background-color: #ffffff;
        }
        > * {
            background-image: none;
        }
        > *::before, *::after {
            display: none;
        }
    }

    .site-content {
        position: relative;
        margin-top: 0;
        &::before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            height: 100%;
            width: 100%;
            background-color: rgba(0, 0, 0, .5);
        }
        transform: translateX(85%);
    }
}


// Body overlay
body.has-opened-menu {
    position: fixed;
    overflow: hidden;
}