@charset "UTF-8";
/* ----------------------------- */
/* ==Footer menu      */
/* ----------------------------- */

/* Colors */
/* ------------- */
$menu-item-color-active: $white;
$menu-item-bgcolor-active: $gray-600;
/* ------------- */

.site-footer .menu ul {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    text-align: center;

    li > a {
        flex: 1;
        justify-content: center;
        display: inline-flex;
        color: $white;
        text-decoration: none;
        padding: 1rem;
        cursor: pointer;
    }

    ul.children {
        display: none;
        padding-left: 0;
        list-style: none;
        position: absolute;
        left: 0;
    }

    li:hover > ul.children,
    li:focus > ul.children {
        display: flex;

        > a {
            text-decoration: underline;
        }
    }

    @media (max-width: $medium - 1) {

        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        flex-wrap: wrap;
        width: 100%;
        margin: 0;

        li > a {
            width: 100%;
        }

        li.m0 > ul li > a {
            border-bottom: 1px solid $gray-600;
        }

        li.m0:hover > ul.children,
        li.m0 > ul li:hover > ul.children,
        li.m0:focus > ul.children,
        li.m0 > ul li:focus > ul.children {
            flex-direction: column;
            position: relative;
            top: 0;
        }

    }
}