@charset "UTF-8";
/* ----------------------------- */
/* ==Header menu desktop + tablet (<=768px)      */
/* ----------------------------- */

/* Variables */
/* ------------- */
$desktopheaderHeight: 56px;
$menu-item-m1-color: $color-base;
$menu-item-m1-color-active: $color-base;
$menu-item-m1-bgcolor: white;
$menu-item-m1-bgcolor-active: $gray-200;
/* ------------- */

@media (min-width: $medium) {

  // Burger button
  .site-header .nav-button {
    display: none;
  }

  .navigation-wrapper {
    align-self: flex-end;
    position: relative;
    flex: 1;
    display: flex;
    align-items: center;
  }

  .navigation-wrapper ul.header-menu {
    display: flex;
    justify-content: center;
    margin: 0;
    padding-left: 0;
    list-style: none;

    .mobile-nav-links {
      display: none;
    }

    li {
      position: relative;
      text-align: center;
      font-family: $font-family-base;
      font-size: 1.5rem;
      line-height: 1;
    }

    //Tous les sous-menus sont masqués
    li > ul {
      position: absolute;
      top: 0;
      left: -9999px;
      opacity: 0;
      transition: opacity .4s;
    }

    // Premier niveau
    > li.m0 {

      > a {
        position: relative;
        margin-right: 4rem;
        padding: 2rem 0;
        border-bottom: 1px solid transparent;
      }

      &.current_page_ancestor,
      &.current_page_item {

        > a {
          border-bottom-color: $menu-item-color;
        }
      }

      &.page_item_has_children {

        > a {
          margin-right: 6rem;
        }

        > a::after {
          position: absolute;
          right: -30px;
          top: calc(50% - 4px);
          content: "";
          display: block;
          background-image: url("/app/themes/wwp_child_theme/assets/raw/svg/chevron-b-s.svg");
          background-repeat: no-repeat;
          height: 9px;
          width: 17px;
          transform: rotate(0);
          transition: transform 0.4s;
        }
      }

      &:hover,
      &:focus {

        > a {
          border-bottom-color: $color-base;
        }

        > a::after {
          transform: rotate(180deg);
        }
      }
    }

    // Deuxième niveau
    ul.level1 {
      top: $desktopheaderHeight;
      z-index: 1;
      list-style: none;

      body.has-stuck-header & {
        top: 40px;
      }

      li {
        margin-left: 0;
        min-width: 320px;
        text-align: left;
      }

      li > a {
        position: relative;
        display: block;
        height: 100%;
        padding: 2rem 3rem;
        text-decoration: none;
        color: $menu-item-m1-color;
        background-color: $menu-item-m1-bgcolor;
      }

      //Pour IE11
      @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        top: 40px;
      }

      > li:hover, > li:focus {
        > a {
          background-color: $menu-item-m1-bgcolor-active;
        }
      }
    }

    // Troisième niveau
    ul.level2 {
      left: 100% !important;
    }

      //Animations
    li:hover,
    li:focus,
    li:focus-within,
    li:active {
      > ul {
        opacity: 1;
        left: -3rem;
      }
    }

    //Pour IE11
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      li > ul {
        left: 0;
        opacity: 1;
        display: none;
      }
      > li.m0:hover,
      > li.m0:focus {

        > ul {
          display: block;
        }
      }
    }

    @media (max-width: $medium) {

      li {
        margin-left: 1rem;
        font-size: 1.1rem;
      }

      li.m0::before {
        bottom: -28px;
      }

      ul.level1 {
        top: 52px;
      }

      ul.level1 li > a {
        padding: 1.5rem 3rem;
      }

      ul.level2 > li {
        text-transform: none;
      }
    }

  }

}

@media (max-width: $very-large) {

  ul.header-menu {

    li {
      font-size: 1.3rem;
    }

    ul.level1 {
      top: 56px;

      li {
        min-width: 280px;
      }
    }

    ul.level2 {
      right: 100%;
    }
  }
}

@media (max-width: $large) {

  ul.header-menu {

    li.m0::before {
      bottom: -40px;
    }
  }
}
