/**************************
 * Cards - global styles
*************************/

/*Variables*/
:root {
  --card-image-height: 22rem;
  --card-image-landscape-height: 36rem;
  --card-image-mobile-height: 50vw;
}

.item,
.wp-block-post {
  background: white;
  border-radius: var(--border-radius-theme);
  box-shadow: var(--box-shadow-theme);

  &,
  &.has-link > a {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%; //For IE11
  }

  a {
    text-decoration: none;
  }

  .img-wrap,
  .wp-block-post-featured-image {
    position: relative;
    height: var(--card-image-height);
    width: 100%;
    overflow: hidden;
    border-radius: var(--border-radius-theme) var(--border-radius-theme) 0 0;

    a {
      position: relative;
      display: block;
      height: 100%;
      width: 100%;
    }

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      float: none;
      min-height: 100%;
      max-height: 200%;
      width: auto;
      min-width: 100%;
      max-width: 200%;
      margin: 0;
      transform: translate(-50%, -50%);
      transform-origin: center center;
    }
  }

  .card-block {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2.5rem;
  }

  .card-subtitle {
    display: block;
    margin-bottom: 4px;
    font-family: var(--font-theme-bold);
    font-size: 1.2rem;
    text-transform: uppercase;
    color: var(--color-theme-primary);
    letter-spacing: 0.05em;
  }

  .card-title,
  .wp-block-post-title {
    display: block;
    max-width: 100%;
    margin-top: 0;
    margin-bottom: 1.5rem;
    font-family: var(--font-theme-secondary);
    font-size: 2.2rem;
    text-transform: none;
    line-height: 1.3;
    letter-spacing: 0.03em;
  }

  .card-date,
  .event-location,
  .wp-block-post-date {
    @extend .card-subtitle;
  }

  .card-date,
  .event-location {
    order: -1;
  }

  ul.card-categories {
    order: 1;
    list-style: none;
    margin: 2rem 0;
    padding-left: 0;

    li {
      flex-basis: auto;
      margin: 3px 1rem 3px 0;
      font-size: 1rem;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      font-family: var(--font-theme-headings);
      color: var(--color-theme-primary);

      /* &::after {
        content: "•";
        margin-left: 8px;
      }*/
    }
  }

  .card-text {
    clear: both;
    letter-spacing: 0.05em;
    font-size: 1.4rem;

    a:not(.card-link) {
      text-decoration: underline;
    }
  }

  //Champs spécifiques
  .function,
  .biography,
  .email,
  .phone {
    display: block;
    margin-bottom: 0.5rem;
  }

  .function {
    font-weight: $weight-bold;
  }

  .card-readmore-link,
  .wp-block-read-more {
    order: 2;
    @extend .btn--inline;
    cursor: pointer;
  }

  button, .btn {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  // Si lien global (remplacer .has-link par .has-wrapperlink quand cette classe sera disponible)
  &.has-link:not(.trombi-item) {
    box-shadow: none;

    > a {
      height: 100%;
      border-radius: var(--border-radius-theme);
      box-shadow: var(--box-shadow-theme);

      .no-touch &:hover,
      .no-touch &:focus {
        box-shadow: var(--box-shadow-theme-active);
      }
    }
  }

  @media (max-width: $medium) {

    button, .btn {
      margin-top: 2rem;
      margin-bottom: 2rem;;
    }
  }

  @media (max-width: $medium - 1) {
    display: flex;
    flex-direction: column !important;
    margin-bottom: 3rem;

    .img-wrap,
    .wp-block-post-featured-image {
      order: initial;
      height: var(--card-image-mobile-height);
    }
  }
}

/*OPTIONS*/
//Paysage : image/texte en vis-à-vis
.item.landscape {
  flex-direction: row;
  align-items: stretch;
  width: 100%;

  &.has-link {
  display: block;

    a {
      flex-direction: row;
      width: 100%;
    }
  }

  .img-wrap,
  .card-block {
    flex: 0 0 50%;
  }

  .img-wrap {
    height: auto; //Bug flex-child
    border-radius: var(--border-radius-theme) 0 0 var(--border-radius-theme);
  }

  @media (max-width: $medium - 1) {
    .img-wrap,
    .wp-block-post-featured-image {
      height: var(--card-image-mobile-height);
    }
  }
}

//Reverse : inversion image/texte haut/bas
.item.reverse,
.item.has-link.reverse a {

  .img-wrap,
  .wp-block-post-featured-image {
    order: 1;
    border-radius: 0;
    border-bottom-left-radius: var(--border-radius-theme);
    border-bottom-right-radius: var(--border-radius-theme);
  }

  @media (max-width: $medium - 1) {
    .img-wrap,
    .wp-block-post-featured-image {
      order: initial;
      height: var(--card-image-mobile-height);
    }
  }
}

//Masque le lien : supprime le lien "En savoir plus"
.item.hide-link {

  .card-readmore-link {
    display: none;
  }
}
