@charset "UTF-8";
/**************************
 * Cards - global styles
*************************/

/*Variables*/
$image-height: 250px;
$image-landscape-height: 360px;
$background-image-height: 450px;
$image-mobile-height: 50vw;

.item {
  border: 1px solid $gray-300;

  &,
  &.has-link a {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%; //For IE11
  }

  a {
    text-decoration: none;
  }

  .img-wrap {
    position: relative;
    height: $image-height;
    width: 100%;
    overflow: hidden;

    a {
      position: relative;
      display: block;
      height: 100%;
      width: 100%;
    }

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      float: none;
      min-height: 100%;
      width: auto;
      min-width: 100%;
      max-width: none;
      margin: 0;
      transform: translate(-50%, -50%);
      transform-origin: center center;
    }
  }

  .card-block {
    flex-grow: 1;
    width: 100%;
    padding: 3rem;
  }

  .card-subtitle {
    display: block;
    margin-bottom: 1rem;
  }

  .card-title {
    @extend .h3-like;
    margin-top: 0;
    margin-bottom: 2rem;
  }

  .card-date {
    margin-bottom: 2rem;
  }

  ul.card-categories {
    list-style: none;
    padding-left: 0;

    li {
      @extend .tag;
      margin: 0 1rem 1rem 0;
    }
  }

  .card-text {
    clear: both;
  }

  //Champs spécifiques
  .function,
  .biography,
  .email,
  .phone {
    display: block;
    margin-bottom: 0.5rem;
  }

  .function {
    font-weight: $weight-bold;
  }

  .biography {

  }

  .email {

  }

  .phone {

  }

  .card-readmore-link {
    @extend .btn;
    margin: 2rem auto 0 auto;
    justify-content: center;
  }

  button, .btn {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  @media (max-width: $medium) {

    button, .btn {
      margin-top: 2rem;
      margin-bottom: 2rem;;
    }
  }

  @media (max-width: $medium - 1) {
    display: flex;
    flex-direction: column !important;
    margin-bottom: 3rem;

    .img-wrap {
      order: initial;
      height: $image-mobile-height;
    }
  }
}

/*OPTIONS*/
//Paysage : image/texte en vis-à-vis
.item.landscape,
.item.has-link.landscape a {
  flex-direction: row;
  width: 100%;

  .img-wrap {
    height: 100%;
  }

  @media (max-width: $medium - 1) {
    .img-wrap {
      height: $image-mobile-height;
    }
  }
}

//Reverse : inversion image/texte haut/bas
.item.reverse,
.item.has-link.reverse a {

  .img-wrap {
    order: 1;
  }

  @media (max-width: $medium - 1) {
    .img-wrap {
      order: initial;
      height: $image-mobile-height;
    }
  }
}

//Backgroundimage : le bloc image occupe le fond de la card
.item.backgroundimage,
.item.has-link.backgroundimage a {
  height: $background-image-height;

  .img-wrap {
    height: 100%;
  }

  .card-block {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 4rem;
  }

  @media (max-width: $medium - 1) {

  }
}

/*TYPES*/
.video-list .item {

  .img-wrap::before {
    @include svgIcon('play');
    @include absolute-center;
    z-index: 1;
  }
}
