@charset "UTF-8";
/**************************
 * Cards - global styles
*************************/

/*Variables*/
$image-height: 250px;
$image-landscape-height: 360px;
$image-mobile-height: 50vw;

.item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid $gray-300;

  a {
    text-decoration: none;
  }

  .img-wrap {
    position: relative;
    height: $image-height;
    width: 100%;
    overflow: hidden;

    a {
      position: relative;
      display: block;
      height: 100%;
      width: 100%;
    }

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      float: none;
      min-height: 100%;
      width: auto;
      min-width: 100%;
      max-width: none;
      margin: 0;
      transform: translate(-50%, -50%);
      transform-origin: center center;
    }
  }

  .card-block {
    flex-grow: 1;
    width: 100%;
    padding: 3rem;
  }

  .card-title {
    @extend .h3-like;
    margin-top: 0;
    margin-bottom: 2rem;
  }

  .card-date {
    @extend .tag--primary;
    color: $white;
    margin-bottom: 2rem;
  }

  ul.card-categories {
    list-style: none;
    padding-left: 0;

    li {
      @extend .tag;
      margin: 0 1rem 1rem 0;
    }
  }

  .card-text {
    clear: both;
  }

  .card-readmore-link {
    @extend .btn;
    display: flex;
    margin: 2rem auto 0 auto;
    justify-content: center;
  }

  /*Tester avant de supprimer les lignes de code ci-dessous*/
/*  .post-author {
    margin-bottom: 2rem;
  }*/

/*  ul.post-moderation {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;

    li .btn {
      @extend .tag--primary;
    }
  }*/

/*  .content {
    flex-grow: 1;
    margin-top: 2rem;
    padding-right: 4rem;
    padding-left: 4rem;
  }*/

  button, .btn {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  /*Options*/

  &.reverse {

    .img-wrap {
      order: 1;
    }
  }

  &.landscape {
    flex-direction: row;

    .img-wrap {
      height: $image-landscape-height;
    }
  }

  @media (max-width: $medium) {

  /* .content {
      padding-right: 2rem;
      padding-left: 2rem;
    }*/

    h3 {
      font-size: 2.5rem;
    }

    button, .btn {
      margin-top: 2rem;
      margin-bottom: 2rem;;
    }
  }

  @media (max-width: $medium - 1) {
    display: flex;
    flex-direction: column !important;
    margin-bottom: 3rem;

    .img-wrap {
      order: initial;
      height: $image-mobile-height;
    }
  }
}

.wrapper-image-large {
  width: 60%;
  border-bottom: none !important;
  overflow: hidden;

  .cta-image, .cta-image img {
    min-height: 100%;
    width: auto;
    min-width: 100%;
    max-width: none;
    margin-bottom: 0;
  }

  + .cta-text {
    width: 40%;

    &::before {
      margin-top: 0;
      margin-bottom: 2vw;
    }
  }

  @media (max-width: $medium - 1) {
    width: 100%;
    margin-bottom: 0 !important;

    + .cta-text {
      width: 100%;
    }
  }
}

/*Pour tester les options du styleguide.
Supprimer quand on pourra injecter les classes option dynamiquement*/
.landscape-inside .item {
  flex-direction: row;
  > div {
    flex: 1;
  }
  .img-wrap {
    height: $image-landscape-height;
  }
  @media (max-width: $medium - 1) {
    .img-wrap {
      height: $image-mobile-height;
    }
  }
}
.reverse-inside .item {
  .img-wrap {
    order: 1;
  }
  @media (max-width: $medium - 1) {
    .img-wrap {
      order: initial;
      height: $image-mobile-height;
    }
  }
}
/*Fin des éléments de test*/
