// Sticky Header

/* Variables */
$stickedHeaderHeight: calc(var(--header-height) / 2);
$alertHeight: 48px; // Si bandeau alerte (web/app/plugins/wwp-alerte/public/css/alerte.scss)

@media (min-width: $medium) {

  body {

    //Quand ajout de la classe .stickable sur body
    &.stickable {
      padding-top: var(--header-height);

      .site-header {
        position: fixed;
        top: 0;
        left: 0;
        height: var(--header-height);
        width: 100%;

        > * {
          height: 100%;
        }
      }

      &.has-wwp-alerte {
        padding-top: calc(var(--header-height) + #{$alertHeight});

        .site-header {
          top: $alertHeight;
        }
      } // Si bandeau alerte
    }

    //Lors du scroll, le header devient sticky
    &.has-stuck-header {
      padding-top: var(--header-height);

      .site-header {
        height: $stickedHeaderHeight;

        a.logo {
          flex: 0 0 15rem;
        }

        ul.header-menu li > a {
          height: $stickedHeaderHeight;
          //padding: 0 11px;
        }
      }
    }
  }
}


