// Sticky Header

/* Variables */
/* ------------- */
$stickableHeaderHeight: 80px;
$stickedHeaderHeight: 40px;

@media (min-width: $medium) {

  body {

    //Quand ajout de la classe .stickable sur body
    &.stickable {
      padding-top: $stickableHeaderHeight;

      .site-header {
        position: fixed;
        top: 0;
        left: 0;
        height: $stickableHeaderHeight;
        width: 100%;

        > * {
          height: 100%;
        }
      }
    }

    //Lors du scroll, le header devient sticky
    &.has-stuck-header {
      padding-top: $stickableHeaderHeight;

      .site-header {
        height: $stickedHeaderHeight;

        a.logo {
          max-height: $stickedHeaderHeight;
        }

        ul.header-menu li > a {
          padding: 12px;
        }
      }
    }
  }

}


