/* Déclarez ici vos fonts chargées dans styleguide/font/ */
/*@font-face {
  font-family: 'Bree-Thin';
  src: url("../font/Bree-Thin.eot");
  src: url("../font/Bree-Thin.woff2") format("woff2"), url("../font/Bree-Thin.woff") format("woff"), url("../font/Bree-Thin.ttf") format("truetype"), url("../font/Bree-Thin.svg#Bree-Thin") format("svg"), url("../font/Bree-Thin.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }*/

