/* ----------------------------- */
/* ==Content      */
/* ----------------------------- */

/*Worpress override*/
.page-content, .entry-content, .entry-summary, .hentry {
  margin: 0;
}

/*Knacss override*/
hr {
  margin-top: 5rem;
  margin-bottom: 4rem;
}

table, .table {
  /* for gutenberg styles */
  table-layout: inherit;
}

p:empty {
  display: none;
}

// Applique par défaut aux svg la couleur de leur parent !
.shape-svg {
  width: 1em;
  height: 1em;
  fill: currentColor;
}

/* ==Grids */
/* ----------------------------- */

.site-content {
  position: relative;
  z-index: 0;
  min-height: calc(100vh - 27rem);
  padding: 6rem 0;
  overflow-x: hidden;

  body.has-post-thumb & {
    padding-top: 0;
  }

  @media (max-width: $medium - 1) {
    margin-top: var(--header-height-mobile);
  }
}
