@charset "UTF-8";
/* ----------------------------- */
/* ==Emploi lists generic styles      */
/* ----------------------------- */


.module-emploi {

}

/*Filtres*/
.emploi-filters {
    margin-bottom: 2rem;

    form {
        @include grid(2, 1rem);
        grid-gap: 0 1rem !important;
        padding: 0;
    }

    .selectric-wrapper .selectric {
        height: 60px;
    }

    .select-wrap {
        margin-bottom: 0;
    }

    .submitFormField {
        grid-column: auto/span 2;
        text-align: center;
    }
}

/*Liste des offres*/
.emploi-list {

}

/*Item de liste*/
.offre {
    margin-bottom: 2rem;
    padding: 2rem 0 0 0;
    border-top: 2px solid $gray-200;

    a {
        text-decoration: none;
    }

    .title {
        font-family: $font-family-headings;
    }

    .date {
        float: right;
        font-size: 1.6rem;
    }

    .content {
        @include grid(4);
        margin-top: 1rem;

        > div {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .poste-description {
            grid-column: 1 / 3;
            flex-direction: column;
            align-items: flex-start;

            label {
                margin-bottom: 0;
            }
        }

        .button-wrapper {
            justify-content: flex-end;

            button {
                font-size: 1.5rem;
            }
        }
    }

    @media (max-width: $small) {

        font-size: 1.5rem;

        .date {
            font-size: 1.4rem;
        }

        .content {
             width: 100%;

            .button-wrapper button {
                padding: 1rem 1rem;
                font-size: 1.2rem;
            }
        }
    }
}