/* Variables */
:root {
  --header-image-height: 520px;
}

.post-thumbnail {
  position: relative;
  z-index: 0;
  height: var(--header-image-height);
  overflow: hidden;

  //Filtre d'opacité par-dessus image
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    opacity: 0.2;
  }

  img {
    position: relative;
    z-index: -2;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.entry-header {
  position: relative;
  padding: 0 6rem;

  &.hasPostThumb {
    min-height: 36rem;
    padding: 0;

    .entry-title-wrapper {
      position: absolute;
      z-index: 1;
      top: 50%;
      left: 0;
      width: 100%;
      transform: translateY(-50%);
    }

    .entry-title,
    .excerpt {
      color: white;
    }
  }

  @media (max-width: $medium - 1) {
    padding: 0;
  }
}

.header-texts {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding-top: 40px;

  .container {
    position: relative;
    height: 100%;
  }
}
