/* ----------------------------- */
/* ==Footer      */
/* ----------------------------- */

/* Colors */
/* ------------- */
$footer-bg-color: $gray-700;
/* ------------- */

.site-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 20rem;
    background-color: $footer-bg-color;
}

.footer-content {
    width: 100%;
}