///// GUTENBERG OVERRIDE /////

//// COLUMNS ADDONS (FROM WP v6)
.wp-block-column.is-vertically-aligned-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@include respond-to('medium-up'){ //782px Gutenberg Breakpoint

  // Très petite gouttière
  .wp-block-columns.has-gutter-xs {
    gap: 0.5em;
  }

  // Petite gouttière
  .wp-block-columns.has-gutter-s {
    gap: 1em;
  }

  // Grande gouttière
  .wp-block-columns.has-gutter-l {
    gap: 2em;
  }

  // Très grande gouttière
  .wp-block-columns.has-gutter-xl {
    gap: 4em;
  }

  // Sans gouttière
  .wp-block-columns.has-no-gutter {
    gap: 0
  }
}

@media (min-width: 1024px) {

  .wp-block-columns:not(.is-not-stacked-on-mobile) > .wp-block-column[style*=flex-basis] {
    flex-grow: 1;
  }

  // Très petite gouttière
  .wp-block-columns.has-gutter-xs {
    gap: 0.5em;
  }

  // Petite gouttière
  .wp-block-columns.has-gutter-s {
    gap: 1em;
  }

  // Grande gouttière
  .wp-block-columns.has-gutter-l {
    gap: 4em;
  }

  // Très grande gouttière
  .wp-block-columns.has-gutter-xl {
    gap: 6em;
  }

  // Sans gouttière
  .wp-block-columns.has-no-gutter {
    gap: 0;
  }
}

@media (max-width: $large) {

  //Colonnes full width
  .wp-block-column.col-full-large {
    flex-basis: 100% !important;
    margin-left: 0;
  }

  //Colonnes masquées
  .wp-block-column.col-no-large {
    flex-basis: 0 !important;
  }
}

@media (max-width: $medium - 1) and (min-width: $small) {

  .wp-block-column {
    flex-basis: 50% !important;
  }
}

@include respond-to('medium') {

  .wp-block-columns {
    gap: 0;
    margin-bottom: 0;
  }

  //Colonnes full width
  .wp-block-column.col-full-medium {
    flex-basis: 100% !important;
    margin-left: 0;
  }

  //Colonnes masquées
  .wp-block-column.col-no-medium {
    flex-basis: 0 !important;
  }
}

/*Mobile : on passe sur 1 seule colone*/
@include respond-to('small') {

  .wp-block-columns {
    display: block;
  }
}


/// INLINE IMAGE ///
.inline-image {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;

  img {
    flex: 0 0 150px;
    margin-right: 2rem;
  }
}
