/* ----------------------------- */
/* ==Header      */
/* ----------------------------- */
$logoMaxHeight: 8rem;
$logoMaxWidth: 20rem;

.site-header {
  position: relative;
  z-index: 16;
  height: var(--header-height);
  background-color: var(--header-bg-color);
  opacity: 1;
  box-shadow: inset 0 0 4px 0 rgba(0,0,0,0.20);

  .inner-header {
    position: relative;
    @extend .container-l;
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  // Logo principal du site
  a.logo {
    flex: 0 0 $logoMaxWidth;
    display: flex;
    align-items: center;
    height: 100%;
    max-height: 80%;
    margin-right: 2rem;

    img {
      height: 100%;
      width: auto;
    }
  }

  // Nav
  .navigation-wrapper {
    flex: 1 0 auto;
    display: flex;
    justify-content: flex-end;
    padding-left: 3rem;
  }

  @media (max-width: $large) {

    .inner-header {
      width: 100%;
    }
  }

  @media (max-width: $medium) {
    padding: 0;
  }

  @media (max-width: $medium - 1) {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    a.logo {
      flex: 0 1 50%;
      margin-left: 2rem;
    }

    .has-opened-menu & {
      position: fixed;
    }

    .inner-header {

      .nav-button {
        order: 1;
      }
    }
  }
}
