@charset "UTF-8";
/* ----------------------------- */
/* ==Header      */
/* ----------------------------- */

/* Variables */
/* ------------- */
$mobileheaderHeight: 8rem;
$header-bg-color: white;
/* ------------- */

.site-header {
  position: relative;
  z-index: 16;
  height: $mobileheaderHeight;
  background-color: $header-bg-color;
  opacity: 1;

  .inner-header {
    @extend .container;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  a.logo {

    &,
    img {
      height: 80px;
      width: 150px;
    }
  }

  @media (max-width: $large) {

    .inner-header {
      width: 100%;
    }
  }

  @media (max-width: $medium) {
    padding: 0;
  }

  @media (max-width: $medium - 1) {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    .has-opened-menu & {
      position: fixed;
    }

    .inner-header {

      .nav-button {
        order: 1;
      }
    }
  }
}
