@charset "UTF-8";
/* ----------------------------- */
/* ==Header      */
/* ----------------------------- */

/* Variables */
/* ------------- */
$mobileheaderHeight: $burger-btn-size;
$header-bg-color: $gray-700;
/* ------------- */

.site-header {
    position: relative;
    z-index: 16;
    background-color: $header-bg-color;
    opacity: 1;

    .inner-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    a.logo {

        &,
        img {
            height: 80px;
            width: 150px;
        }
    }

    @media (max-width: $large) {

        .inner-header {
            width: 100%;
        }

    }
    @media (max-width: $medium) {
        padding: 0;
    }
    @media (max-width: $medium - 1) {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;

        .has-opened-menu & {
            position: fixed;
        }

        .inner-header {
            display: grid;
            grid-template-columns: 1fr $burger-btn-size;

            .nav-button {
                order: 1;
            }
        }
    }
}

.post-thumbnail {
    margin-bottom: $margin-bottom-base;

    img {
        width: 100%;
        height: auto;
    }
}
