@charset "UTF-8";
/* ----------------------------- */
/* ==Header      */
/* ----------------------------- */

/* Variables */
:root {
  --header-height: 80px;
  --header-height-mobile: 80px;
  --header-bg-color: white;
}

.site-header {
  position: relative;
  z-index: 16;
  height: var(--header-height);
  background-color: var(--header-bg-color);
  opacity: 1;
  box-shadow: inset 0 0 4px 0 rgba(0,0,0,0.20);

  .inner-header {
    position: relative;
    @extend .container-l;
    display: flex !important;
    justify-content: space-between;
    align-items: flex-end;
  }

  a.logo {

    &,
    img {
      height: var(--header-height);
      //width: 150px;
    }
  }

  @media (max-width: $large) {

    .inner-header {
      width: 100%;
    }
  }

  @media (max-width: $medium) {
    padding: 0;
  }

  @media (max-width: $medium - 1) {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    .has-opened-menu & {
      position: fixed;
    }

    .inner-header {

      .nav-button {
        order: 1;
      }
    }
  }
}
