@charset "UTF-8";
/* ----------------------------- */
/* ==Items lists generic styles      */
/* ----------------------------- */

/* Filters */
/* ------------- */
.has-filters {

}

.items-filters {
    margin-bottom: 4rem;

    .form-group {
        margin-bottom: 2rem;
    }

    .cat-wrap .field-group {
        display: flex;
        justify-content: space-around;
    }

    .submitFormField {
        text-align: center;
    }
}


/* Default list parent style */
/* ------------------------- */
//Variables:
$gutter  : 2rem; //Largeur gouttière
$col     : 3; //Nombre de colonnes

.items-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-left: 0;
  list-style: none;
  margin-right: -$gutter;
  margin-left: -$gutter;

  .item {
    width: calc(100% * 1 / #{$col} - #{$gutter * 2} - .01px);
    margin-right: $gutter;
    margin-left: $gutter;
    margin-bottom: #{$gutter * 2};
  }

  @media (max-width: $medium - 1) {
    display: block;
    margin-right: 0;
    margin-left: 0;

    .item {
      width: 100%;
      margin-right: 0;
      margin-left: 0;
      margin-bottom: $gutter;
    }
  }
}
