@charset "UTF-8";
/* ----------------------------- */
/* ==Items lists generic styles      */
/* ----------------------------- */

/* Filters */
/* ------------- */
.has-filters {

}

.items-filters {
    margin-bottom: 4rem;

    form {
        padding: 4rem 4rem 2rem 4rem;
        background-color: $gray-200;
    }

    .form-group {
        margin-bottom: 2rem;
    }

    .submitFormField {
        text-align: center;
    }
}


/* Default list parent style */
/* ------------------------- */
.items-list {
    display: flex;
    flex-wrap: wrap;

    [class^="item"] {
        display: flex; // All cards are same height
        width: calc(100% / 3);
    }
}