@charset "UTF-8";
/* ----------------------------- */
/* ==Global layout      */
/* ----------------------------- */

body.has-opened-menu {
    position: fixed;
}

iframe {
    border: none;
}

#iframeDoc {
    display: block;
    width: 100%;
    max-width: 1350px;
    margin: 0 auto;
    height: 1000px;
}

@charset "UTF-8";
/* ----------------------------- */
/* ==Containers      */
/* ----------------------------- */


// For Style guide
#containers ~ .component{
    width: 100%;
    max-width: $extra-large;
    .container-xs, .container-s, .container, .container-l, .container-xl {
        margin-bottom: 2rem;
        padding: 1rem;
        background: grey;
        text-align: center;
    }
}


// Container
.container-s, .container, .container-l {
    display: block;
    margin: 0 auto;
}

.container, .container-l {

    @media (max-width: $very-large) {
        width: 100% !important;
    }
}

.container-s {
    width: $large;

    @media (max-width: $medium) {
        width: 100% !important;
        padding-right: 2em;
        padding-left: 2em;
    }
}

.container {
    width: $very-large;

    @media (max-width: $very-large) {
        padding-right: 2em;
        padding-left: 2em;
    }
}

.container-l {
    width: $extra-large;

    @media (max-width: $extra-large) {
        margin: 0;
        width: 100%;
    }
}

.container-xl {
    width: $extra-extra-large;

    @media (max-width: $extra-extra-large) {
        margin: 0;
        width: 100%;
    }
}

//Content

.site-content {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.entry-header {
    @extend .container;
}
