@charset "UTF-8";
/* ----------------------------- */
/* ==Header menu      */
/* ----------------------------- */

/* Colors */
/* ------------- */
$list-item-color: $white;
$list-item-bgcolor: $gray-400;
$list-item-color-active: $white;
$list-item-bgcolor-active: $gray-600;
$list-item-m0-color: $gray-600;
/* ------------- */

ul#menu {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    text-align: center;

    li.page_item_has_children > a::after {
        position: absolute;
        bottom: -16px;
        left: 50%;
        transform: translateX(-50%);
        height: 0;
        width: 0;
        border: 8px solid transparent;
        z-index: 2;
    }

    li > a {
        flex: 1;
        justify-content: center;
        display: inline-flex;
        color: $white;
        text-decoration: none;
        padding: 20px;
        position: relative;
        cursor: pointer;
    }

    li.m0 {
        &:hover,
        &:focus {
            background-color: $list-item-bgcolor-active;
        }

        &.page_item_has_children:hover > a::after,
        &.page_item_has_children:focus > a::after {
            content: '';
            border-top-color: $list-item-bgcolor-active;
        }
    }

    ul.children {
        display: none;
        padding-left: 0;
        list-style: none;
        position: absolute;
        background-color: $list-item-bgcolor;
    }

    li:hover > ul.children,
    li:focus > ul.children {
        display: flex;
    }

    ul.level1 {
        top: 64px;
        left: 0;
        right: 0;
        background-color: $list-item-bgcolor;
        text-align: left;
    }
    li.m1, li.m2 {
        > a {
            color: $list-item-m0-color;
        }

        &:hover,
        &:focus {
            > a {
                color: $list-item-color-active;
                background-color: $list-item-bgcolor-active;
            }

            > ul.children {
                display: flex;
            }
        }

        &.page_item_has_children:hover a::after,
        &.page_item_has_children:focus a::after {
            content: '';
            border-top-color: $list-item-bgcolor-active;
        }
    }

    li.current_page_ancestor > a,
    li.current_page_item > a {
        color: $list-item-color-active !important;
        background-color: $list-item-bgcolor-active;
    }

    @media (max-width: $medium - 1) {

        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        flex-wrap: wrap;
        width: 100%;
        margin: 0;

        li > a {
            width: 100%;
        }

        li.m0 > ul li > a {
            border-bottom: 1px solid $list-item-bgcolor-active;
        }

        li.m0:hover > ul.children,
        li.m0 > ul li:hover > ul.children,
        li.m0:focus > ul.children,
        li.m0 > ul li:focus > ul.children {
            flex-direction: column;
            position: relative;
            top: 0;
        }

    }
}