///// CSS UTILITIES /////

@import "utils_margins";

.border {
  border: 1px solid var(--color-theme-primary);
}

/// Enlarge text size ///
@media (max-width: $medium - 1) {
  .u-big,
  .u-bigger {
    font-size: 1em;
  }
}

// Child images
.img-wrap,
.img-wrapper,
.video-wrapper {

  img,
  a img,
  a {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 0;
  }
}

/// FLEXBOX COLUMNS ///

/* flexbox layout (knacss addons)*/
.flex-container,
.d-flex {
  display: flex;
  flex-wrap: nowrap;

  @media (max-width: $small - 1) {
    display: block;

    div {
      width: 100% !important;
      margin-left: 0 !important;
    }

    div:not(:last-child) {
      margin-bottom: 2rem;
    }
  }
}

.flex-container--center,
.flex-center {
  @extend .flex-container;
  justify-content: center;

  @media (max-width: 1000px) {

  }

  @media (max-width: $small) {
    flex-direction: row; // For Bloc with 2 girls
    flex-wrap: wrap;
  }
}

.flex-container--spacebetween,
.flex-spacebetween {
  @extend .flex-container;
  justify-content: space-between;
}

.flex-container--flexend,
.flex-flexend {
  @extend .flex-container;
  justify-content: flex-end;
}

/// Positioning utilities ///
.relative {
  position: relative;

  > * {
    z-index: 1;
  }
}

.index {

  &-1 {
    position: relative;
    z-index: 1;
  }

  &-nega {
    position: relative;
    z-index: -2;
  }
}

// Wordpress
.alignleft,
.alignright {
  @media (max-width: $medium - 1) {
    float: none;
    margin-right: 0;
    margin-left: 0;
    width: 100%;
  }
}

// Remove style for phone numbers for iOS
a[href^="tel"] {
  color: inherit;
  text-decoration: none;
}

.is-hidden {
  display: none;
}
