///// UTILITY MARGINS /////
//Important : do not add media querries for mobile, only use the .XXX--mobile classes

/// MARGINS
// ALL
.mas {
  &, &--mobile {
    margin: var(--spacer-small) !important;
  }
}
.mam {
  &, &--mobile {
    margin: var(--spacer-medium) !important;
  }
}
.mal {
  &, &--mobile {
    margin: var(--spacer-large) !important;
  }
}
.maxl {
  &, &--mobile {
    margin: var(--spacer-extralarge) !important;
  }
}
.maxxl {
  &, &--mobile {
    margin: var(--spacer-ultralarge) !important;
  }
}
// TOP
.mts {
  &, &--mobile {
    margin-top: var(--spacer-small) !important;
  }
  &--nega {
    margin-top: calc(var(--spacer-small) * -1) !important;
  }
}
.mtm {
  &, &--mobile {
    margin-top: var(--spacer-medium) !important;
  }
  &--nega {
    margin-top: calc(var(--spacer-medium) * -1) !important;
  }
}
.mtl {
  &, &--mobile {
    margin-top: var(--spacer-large) !important;
  }
  &--nega {
    margin-top: calc(var(--spacer-large) * -1) !important;
  }
}
.mtxl {
  &, &--mobile {
    margin-top: var(--spacer-extralarge) !important;
  }
  &--nega {
    margin-top: calc(var(--spacer-extralarge) * -1) !important;
  }
}
.mtxxl {
  &, &--mobile {
    margin-top: var(--spacer-ultralarge) !important;
  }
  &--nega {
    margin-top: calc(var(--spacer-ultralarge) * -1) !important;
  }
}
// RIGHT
.mrs {
  &, &--mobile {
    margin-right: var(--spacer-small) !important;
  }
}
.mrm {
  &, &--mobile {
    margin-right: var(--spacer-medium) !important;
  }
}
.mrl {
  &, &--mobile {
    margin-right: var(--spacer-large) !important;
  }
}
.mrxl {
  &, &--mobile {
    margin-right: var(--spacer-extralarge) !important;
  }
}
.mrxxl {
  &, &--mobile {
    margin-right: var(--spacer-ultralarge) !important;
  }
}
// BOTTOM
.mbs {
  &, &--mobile {
    margin-bottom: var(--spacer-small) !important;
  }
}
.mbm {
  &, &--mobile {
    margin-bottom: var(--spacer-medium) !important;
  }
}
.mbl {
  &, &--mobile {
    margin-bottom: var(--spacer-large) !important;
  }
}
.mbxl {
  &, &--mobile {
    margin-bottom: var(--spacer-extralarge) !important;
  }
}
.mbxxl {
  &, &--mobile {
    margin-bottom: var(--spacer-ultralarge) !important;
  }
}
// LEFT
.mls {
  &, &--mobile {
    margin-left: var(--spacer-small) !important;
  }
}
.mlm {
  &, &--mobile {
    margin-left: var(--spacer-medium) !important;
  }
}
.mll {
  &, &--mobile {
    margin-left: var(--spacer-large) !important;
  }
}
.mlxl {
  &, &--mobile {
    margin-left: var(--spacer-extralarge) !important;
  }
}
.mlxxl {
  &, &--mobile {
    margin-left: var(--spacer-ultralarge) !important;
  }
}


/// PADDINGS
// ALL
.pas {
  &, &--mobile {
    padding: var(--spacer-small) !important;
  }
}
.pam {
  &, &--mobile {
    padding: var(--spacer-medium) !important;
  }
}
.pal {
  &, &--mobile {
    padding: var(--spacer-large) !important;
  }
}
.paxl {
  &, &--mobile {
    padding: var(--spacer-extralarge) !important;
  }
}
.paxxl {
  &, &--mobile {
    padding: var(--spacer-ultralarge) !important;
  }
}
// TOP
.pts {
  &, &--mobile {
    padding-top: var(--spacer-small) !important;
  }
}
.ptm {
  &, &--mobile {
    padding-top: var(--spacer-medium) !important;
  }
}
.ptl {
  &, &--mobile {
    padding-top: var(--spacer-large) !important;
  }
}
.ptxl {
  &, &--mobile {
    padding-top: var(--spacer-extralarge) !important;
  }
}
.ptxxl {
  &, &--mobile {
    padding-top: var(--spacer-ultralarge) !important;
  }
}
// RIGHT
.prs {
  &, &--mobile {
    padding-right: var(--spacer-small) !important;
  }
}
.prm {
  &, &--mobile {
    padding-right: var(--spacer-medium) !important;
  }
}
.prl {
  &, &--mobile {
    padding-right: var(--spacer-large) !important;
  }
}
.prxl {
  &, &--mobile {
    padding-right: var(--spacer-extralarge) !important;
  }
}
.prxxl {
  &, &--mobile {
    padding-right: var(--spacer-ultralarge) !important;
  }
}
// BOTTOM
.pbs {
  &, &--mobile {
    padding-bottom: var(--spacer-small) !important;
  }
}
.pbm {
  &, &--mobile {
    padding-bottom: var(--spacer-medium) !important;
  }
}
.pbl {
  &, &--mobile {
    padding-bottom: var(--spacer-large) !important;
  }
}
.pbxl {
  &, &--mobile {
    padding-bottom: var(--spacer-extralarge) !important;
  }
}
.pbxxl {
  &, &--mobile {
    padding-bottom: var(--spacer-ultralarge) !important;
  }
}
// LEFT
.pls {
  &, &--mobile {
    padding-left: var(--spacer-small) !important;
  }
}
.plm {
  &, &--mobile {
    padding-left: var(--spacer-medium) !important;
  }
}
.pll {
  &, &--mobile {
    padding-left: var(--spacer-large) !important;
  }
}
.plxl {
  &, &--mobile {
    padding-left: var(--spacer-extralarge) !important;
  }
}
.plxxl {
  &, &--mobile {
    padding-left: var(--spacer-ultralarge) !important;
  }
}
