@charset "UTF-8";
/* ----------------------------- */
/* ==Utilities      */
/* ----------------------------- */

.border {
    border: 1px solid $gray-300;
}


// Flexbox
.two-cols {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    > * {
        flex: 0 1 auto;
        width: calc(100% / 2 - 2rem) !important;
    }

    > .w40 {
        width: 40% !important;
    }

    > .w60 {
        width: 60% !important;
    }

    @media (max-width: $medium - 1) {
        display: block;

        > * {
            width: 100% !important;
        }
    }
}

// Columns
.two-cols-auto {
    columns: 2;

    @media (max-width: $medium - 1) {
        columns: 1;
    }
}

// Knacss helpers
//Width
.w80 {
    @media (max-width: $medium - 1) {
        width: 100%;
    }
}

/* Margin (knacss addons)*/
.mtxl {
    margin-top: $spacer-extra-large;

    @media (max-width: $medium) {
        margin-top: $spacer-large;
    }

    @media (max-width: $tiny) {
        margin-top: $spacer-medium;
    }
}

.mtxxl {
    margin-top: $spacer-ultra-large;

    @media (max-width: $medium) {
        margin-top: $spacer-extra-large;
    }

    @media (max-width: $tiny) {
        margin-top: $spacer-large;
    }
}

.mtl-nega {
    margin-top: - $spacer-large;

    @media (max-width: $large) {
        margin-top: 0;

        img {
            margin-top: 0 !important;
        }
    }
}

.mtxl-nega {
    margin-top: - $spacer-extra-large;

    @media (max-width: $large) {
        margin-top: 0;

        img {
            margin-top: 0 !important;
        }
    }
}

.mtxxl-nega {
    margin-top: - $spacer-ultra-large;

    @media (max-width: $large) {
        margin-top: 0;

        img {
            margin-top: 0 !important;
        }
    }
}

.mrl {

    @media (max-width: $medium ) {
        margin-right: $spacer-medium;
    }

    @media (max-width: $medium -1) {
        margin-right: 0;
    }
}

.mrxl {
    margin-right: $spacer-extra-large;
    @media (max-width: $medium -1) {
        margin-right: 0;
    }
}

.mbl {
    @media (max-width: $tiny) {
        margin-bottom: $spacer-medium;
    }
}

.mbxl {
    margin-bottom: $spacer-extra-large;

    @media (max-width: $medium) {
        margin-bottom: $spacer-medium;
    }
}

.mbxxl {
    margin-bottom: $spacer-ultra-large;

    @media (max-width: $medium) {
        margin-bottom: $spacer-large;
    }
}

.mbxxxl {
    margin-bottom: $spacer-ultra-large-plus;

    @media (max-width: $medium) {
        margin-bottom: $spacer-large-plus;
    }
}

.mbn, .mb0 {
    margin-bottom: 0 !important;
}

.mll {
    @media (max-width: $medium ) {
        margin-left: 0;
    }
}

.mlxl {
    margin-left: $spacer-extra-large;

    @media (max-width: $medium) {
        margin-left: $spacer-large;
    }
}

.mlxxl {
    margin-left:  $spacer-ultra-large;

    @media (max-width: $medium) {
        margin-left: $spacer-large;
    }
}

// Padding
.paxl {
    padding: $spacer-extra-large;

    @media (max-width: $large) {
        padding: $spacer-large;
    }

    @media (max-width: $medium) {
        padding: $spacer-medium $spacer-large;
    }

    @media (max-width: $medium) {
        padding: 1rem 0;
    }
}

.ptl {

    @media (max-width: $medium) {
        padding-top: $spacer-medium;
    }
}

.ptxl {
    padding-top: $spacer-extra-large;

    @media (max-width: $medium) {
        padding-top: $spacer-large;
    }
}

.ptxxl {
    padding-top: $spacer-ultra-large ;

    @media (max-width: $medium) {
        padding-top: $spacer-large;
    }
}

.prl {

    @media (max-width: $medium - 1) {
        padding-right: 0;
    }
}

.plm,
.pll {
    @media (max-width: $medium - 1) {
        padding-left: 0;
    }
}

.plxl {
    padding-left: $spacer-extra-large;
}

.prxl {
    padding-right: $spacer-extra-large;
}

.pbl {

    @media (max-width: $medium) {
        padding-bottom: $spacer-medium;
    }
}

.pbxl {
    padding-bottom: $spacer-extra-large;

    @media (max-width: $medium - 1) {
        padding-bottom: $spacer-medium;
    }
}

.pbxxl {
    padding-bottom: $spacer-ultra-large;

    @media (max-width: $medium) {
        padding-bottom: $spacer-large;
    }
}


// Translation
.translate-tl {
    transform: translateY(- $spacer-large-plus);

    @media (max-width: $large) {
        transform: translateY(- $spacer-large);
    }

    @media (max-width: $tiny) {
        transform: translateY(0);
    }
}


// Width
div[class^="w"],
p[class^="w"],
.w40,
.w50,
.w60,
.w70 {

    img {
        width: 100%;
        height: auto;
    }

    @media (max-width: $medium - 1) {
        width: 100%;
    }
}

// Enlarge text size
.u-biggest {
    line-height: 1.2;
}
@media (max-width: $medium - 1) {
    .u-big,
    .u-bigger {
        font-size: 1em;
    }
}

// Wrappers
.img-wrapper,
.video-wrapper {

    > img,
    > a img,
    > a {
        display: block;
        width: 100%;
        height: auto;
        margin-bottom: 0;
    }
}


// flexbox layout
.flex-container,
.d-flex {
    display: flex;
    flex-wrap: nowrap;

    @media (max-width: $medium - 1) {
        flex-direction: column;

        > * {
            width: 100%;
            margin-bottom: 2rem;
        }

        [class*="ml"] {
            margin-left: 0;
        }

        [class*="mr"] {
            margin-right: 0;
        }
    }

    @media (max-width: $small) {
        display: block;
    }
}

.flex-container--center,
.flex-center {
    @extend .flex-container;
    justify-content: center;

    @media (max-width: 1000px) {

    }

    @media (max-width: $medium) {
        flex-direction: row; // For Bloc with 2 girls
        flex-wrap: wrap;

        > * {
            min-width: auto;
        }
    }
}

.flex-container--spacebetween,
.flex-spacebetween {
    @extend .flex-container;
    justify-content: space-between;
}

.flex-container--flexend,
.flex-flexend {
    @extend .flex-container;
    justify-content: flex-end;
}

// Grid layout
[class*="grid-"] {

    @media (max-width: $medium) {
        > * {
            margin-bottom: 2rem;
        }
    }
}

.grid-4 {

    @media (max-width: $medium - 1) {
        grid-template-columns: repeat(2, 1fr);
    }

}

[class^="grid-"].has-gutter-xxl {

    @media (max-width: $medium - 1) {
        grid-gap: 4rem;
    }
}


/*Positioning utilities*/
.relative {
    position: relative;

    > * {
        z-index: 1;
    }
}

.absolute-top-right {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}

// Remove style for phone numbers for iOS
a[href^="tel"]{
    color:inherit;
    text-decoration:none;
}

// Decorative colored block
.bg-block-square-left,
.bg-block-square-right {
    position: relative;

    &::after {
        content: "";
        height: 450px;
        width: 450px;
        background-color: $gray-200; // Modify in theme colors
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }

    @media (max-width: $tiny) {
        &::after {
            content: none;
        }
    }
}
.bg-block-square-left::after {

    @media (max-width: $large) {
        transform: translateX(-15%);
    }
}
.bg-block-square-right {

    &::after {
        left: auto;
        right: 0;
    }
}

.bg-block-left,
.bg-block-right {
    position: relative;

    &::after {
        content: "";
        width: 50%;
        background-color: $gray-200; // Modify in theme colors
        position: absolute;
        top: -20%;
        bottom: -20%;
        z-index: -1;
    }

    @media (max-width: $medium - 1) {
        &::after {
            content: none;
        }
    }
}
.bg-block-left {

    &::after {
        left: -30%;
    }
}
.bg-block-right {

    &::after {
        right: -30%;
    }
}

// Z-index negative position for blocks
.index-nega {
    position: relative;
    z-index: -2;
}

// Wordpress
.alignleft,
.alignright {
    @media (max-width: $medium - 1) {
        float: none;
        margin-right: 0;
        margin-left: 0;
        width: 100%;
    }
}