/// CONTENT BASE STYLES ///
@import "../../../styleguide/scss/variables";
@import "../../../styleguide/scss/mixins";
@import "../../fonts/fonts_critical";
@import "../../fonts/fonts";
@import "../../../styleguide/scss/atoms/text";
@import "../../../styleguide/scss/atoms/titles";
@import "../../../includes/Components/Button/button-component";
@import "layout";


/*--------------------------------------*/
/// LOAD COMPONENTS STYLES HERE ///
@import "../../../includes/Components/Card/card-component";




/*--------------------------------------*/
/// ADMIN STYLES ///
.editor-styles-wrapper {
  color: var(--color-theme-base);
  background-color: var(--background-theme-base);
}

// HEADINGS - force apply WP origin styles
body.wp-admin {
  --admin-font-family-base: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  --admin-font-size-base: 13px;
  --admin-line-height-base: 1.4em;

  font-family: var(--admin-font-family-base);
  font-size: var(--admin-font-size-base);
  line-height: var(--admin-line-height-base);
}

// Dashboard
#wonderwp-wrap {

  h1, h2, h3 {
    font-family: var(--admin-font-family-base);
    line-height: var(--admin-line-height-base);
  }

  h1 {
    font-size: calc(var(--admin-font-size-base) * 1.5);
  }

  h2, h3 {
    font-size: calc(var(--admin-font-size-base) * 1.2);
  }
}

// Content page
.wp-block-post-title{
  font-size: calc(var(--admin-font-size-base) * 2);
}
