/// CONTENT BASE STYLES ///
@import "../../fonts/fonts";
@import "../../../styleguide/scss/variables";
@import "../../../styleguide/scss/mixins";
@import "../../../styleguide/scss/knacss/_vendor/reboot";
@import "../../../styleguide/scss/knacss/_library/base";
@import "../../../styleguide/scss/atoms/text";
@import "../../../styleguide/scss/atoms/headings";
@import "../../../styleguide/scss/atoms/excerpt";
@import "../../../includes/Components/Button/button-component";
@import "layout";


/*--------------------------------------*/
/// LOAD COMPONENTS STYLES HERE ///
@import "../../../includes/Components/Card/card-component";
/*--------------------------------------*/

html :where(.editor-styles-wrapper) {

  h1, h2, h3 {
    font-weight: normal;
  }

  p {
    font-size: medium;
  }
}

// CONTAINERS (REMOVE DEFAULT)
.editor-styles-wrapper .block-editor-block-list__layout.is-root-container > :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
  max-width: none !important;
}
.wp-block-wwp-gutenberg-utils-container-block {
  margin-right: auto;
  margin-left: auto;
}

// GUTENBERG BLOCKS
.block-editor-block-list__block {
  font-family: var(--wp--preset--font-family--regular);
  font-size: normal;
  color: var(--wp--preset--color--base);
}

.wp-block-wwp-gutenberg-utils-section-block,
.wp-block-wwp-gutenberg-utils-container-block {
  border-color: var(--admin-theme-color-secondary);
}

.block-editor-block-list__block.components-placeholder {
  box-shadow: none !important;
  border: 1px solid var(--admin-theme-color-secondary) !important;
}

.wp-block-wwp-gutenberg-utils-section-block .block-etiquette {
  background: var(--admin-theme-color-primary);
}

[class^="wp-block-wwp-gutenberg-utils-molecule-"] {

  div {
    margin: 2px 0;
  }

  .molecule-title {
    margin-bottom: 10px;
    display: inline-block;
    padding: 3px 10px 3px 10px;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: white;
    background-color: var(--admin-theme-color-primary);
  }
}
