/* ----------------------------- */
/* ==Import here the base styles for plugins  */
/* Project's config files : mixins.scss and variables.scss are included through knacss.scss file.
/* In order to get available config variables in the plugin (and override plugins variables):
/* Add: @import "../../../../themes/wwp_child_theme/assets/raw/scss/base_plugins"; on top of every plugin scss file
/* ----------------------------- */

@import '../../../styleguide/scss/knacss/knacss';
