@media (max-width: $medium - 1) {
  $headerHeight : 80px;
  #header {
    height: $headerHeight;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
  #header .inner-header {
    display: block;
  }
  .navigation-wrapper, ul#menu .children {
    position: fixed;
    top: $headerHeight;
    left: 0;
    bottom: 0;
    background-color: $header-bg-color;
    width: 100vw;
    max-width: 500px;
    z-index: 10;
    display: block;
    height: calc(100vh - #{$headerHeight});
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transform: translateX(-100%);
    transition: all .3s ease;

    &.is-opened{
      transform: translateX(0);
      opacity: 1;
      visibility: visible;
      pointer-events: all;
    }

  }
  ul#menu {
    display: block;
    text-align: left;

    li {
      display: block;
    }

    ul.children {
      top: 0;
      transform: translateX(-33%);
      display: block;
      overflow-y: auto;
    }
    li.is-opened > .children{
      transform: translateX(0);
      opacity: 1;
      visibility: visible;
      pointer-events: all;
    }

    a{
      display: block;
    }
  }
}
