:root {
  --loader-bgcolor: var(--wp--preset--color--secondary);
}

// Specific styleguide
.component {
    .spinner-white {
        float: right;
        margin-left: 3rem;
    }
}

.loader {
    display: inline-block;
    width: 44px;
    height: 44px;
    background: url("#{$get-path-to-assets}/raw/images/loaders/loader_puff.svg") no-repeat !important;
    &--small {
        transform: scale(.5);
    }
    &--alt {
        background: url("#{$get-path-to-assets}/raw/images/loaders/loader_puff_alt.svg") no-repeat var(--loader-bgcolor) transparent !important;
    }
}

.button-loader,
.loading .btn {
    position: relative;
    padding-right: 6rem;
    &:after {
        content: '';
        display: block;
        width: 44px;
        height: 44px;
        background: url("#{$get-path-to-assets}/raw/images/loaders/loader_puff.svg") no-repeat center center!important;
        position: absolute;
        right: 1rem;
        top: calc(50% - 22px);
        transform: scale(.8);
    }
}
