/* ----------------------------- */
/* ==skip links                  */
/* ----------------------------- */
/* see https://www.alsacreations.com/article/lire/572-Les-liens-d-evitement.html */

/* styling skip links */
.skip-links {
  position: absolute;
  z-index: 1;

  a {
    position: absolute;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 1em;
    background: black;
    color: white !important;
    text-decoration: none;

    &:focus {
      position: static;
      overflow: visible;
      clip: auto;
    }
  }
}

//FOCUS uniquement au clic/tap focus => masqué
:focus:not(:focus-visible) {
  outline: 0;
}
//FOCUS uniquement au focus clavier
:focus-visible {
  padding: 0.5em;
  text-decoration: auto;
  outline: 2px dashed #CCCCCC;
}
