.sliderItem {

  .slider-panel {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
  }

  .slider-title {
    @extend .h1-like;
    color: white;
  }

  .slider-content {
    @extend p;
    color: white;
  }

  .btn {
    position: absolute;
    bottom: 10rem;
    left: 50%;
    transform: translateX(-50%);
  }

  @media (max-width: $large) {

    .slider-panel {
      width: calc(100% - 120px);
    }
  }

  @media (max-width: $medium) {

    .slider-title {
      font-size: 3.5rem;
    }

    .btn {
      bottom: 6rem;
    }
  }

  @media (max-width: $medium - 1) {

    .slider-panel {
      top: 40%;
    }

    .slider-title {
      font-size: 3rem;
    }
  }

  @media (max-width: $tiny) {

    .slider-panel {
      font-size: 2rem;
    }

    .btn {
      bottom: 2rem;
    }
  }

}
