.atomic-h1 {
  //border-bottom: 1px solid #ccc;
  margin-bottom: 24px;
  margin-top: 0;
  color: #3d4a57;
  font-weight: 300;
  font-family: $font1;
  font-size: 29px;
  padding: 6px 0;
  line-height: 1.1;
}

