
.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  font-size: 1.3rem;
  font-weight: 400;
  margin: 0 auto;
  padding-left: 0;

  li {
    display: flex;
    margin: auto 0;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    background-color: transparent;
    touch-action: manipulation;
    cursor: pointer;
    border: none;
    background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
    white-space: nowrap;
    -webkit-transition: all .25s;
    transition: all .25s;
    padding: 0.75rem;
    &::before {
      display: none;
    }
    & > a {
      display: flex;
      align-items: center;
      text-decoration: none;
      font-weight: 400;

      &.navcurrent {
        font-weight: 800;
      }
    }
    & > a:hover, & > a:focus, & > a:active {
      text-decoration: underline;
    }
  }
}
