@charset "UTF-8";
/* ----------------------------- */
/* ==Global layout      */
/* ----------------------------- */

/* Variables */
$pagination-color: $color-primary;

/* ------------- */

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem 0;
  text-align: center;

  li {
    display: inline-block;
    margin: 0 .5rem;
  }

  li > a {
    padding: 6px 11px 5px 11px;
    color: $pagination-color;
    background: #fff;
    text-decoration: none;
    transition: all 0.3s ease;
  }

  li > a.navprev, li > a.navnext {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
  }

  li > a.navprev{
    text-align: left;
    &::before {
      content: '';
      display: block;
      @include svgIcon('chevron-l-small-grey');
      margin-right: 1rem;
    }
  }

  li > a.navnext{
    text-align: right;
    &::after {
      content: '';
      display: block;
      @include svgIcon('chevron-r-small-grey');
      margin-left: 1rem;
    }
  }

  li.select > a {
    color: #fff;
    background: $pagination-color;
  }

  li > a:hover, li > a:focus {
    opacity: .6;
  }

  @media (max-width: $medium - 1) {
    grid-column: 1 / span 2 !important;
  }

  @media (max-width: $tiny) {

    li {
      font-size: 1rem;
    }
  }
}

.nbr-items {
  margin-top: 3rem;
  text-align: center;

  @media (max-width: $medium - 1) {
    grid-column: 1 / span 2 !important;
  }

  @media (max-width: $tiny) {
    font-size: 1.4rem;
  }
}
