@charset "UTF-8";
/* ----------------------------- */
/* ==Global layout      */
/* ----------------------------- */

:root {
  --pagination-color: var(--black)
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem 0;
  text-align: center;

  li {
    display: inline-block;
    margin: 0 10px;
    font-family: var(--font-light);
  }

  li > a {
    padding: 6px 0 5px 0;
    color: var(--pagination-color);
    text-decoration: none;
    transition: all 0.3s ease;
    border-bottom: 2px solid transparent;
  }

  li > a.navprev,
  li > a.navnext {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
  }

  li > a.navprev {
    text-align: left;

    &::before {
      content: '';
      display: block;
      @include svgIcon('pagination-left');
      margin-right: 1rem;
    }
  }

  li > a.navnext {
    text-align: right;

    &::after {
      content: '';
      display: block;
      @include svgIcon('pagination-right');
      margin-left: 1rem;
    }
  }

  li.select {
    font-family: var(--font-medium);

    > a {
      border-bottom-color: var(--pagination-color);
    }
  }

  li > a:hover, li > a:focus {
    opacity: .6;
  }

  @media (max-width: $medium - 1) {
    grid-column: 1 / span 2 !important;
  }

  @media (max-width: $tiny) {

    li {
      font-size: 1rem;
    }
  }
}

.nbr-items {
  margin-top: 3rem;
  text-align: center;

  @media (max-width: $medium - 1) {
    grid-column: 1 / span 2 !important;
  }

  @media (max-width: $tiny) {
    font-size: 1.4rem;
  }
}
