/* ----------------------------- */
/* ==Global layout      */
/* ----------------------------- */

:root {
  --pagination-color: var(--color-theme-base)
}

.pagination,
.wp-block-query-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem 0;
  text-align: center;

  li {
    display: inline-block;
    margin: 0 10px;
  }

  li > a,
  .page-numbers {
    padding: 6px 0 5px 0;
    color: var(--pagination-color);
    text-decoration: none;
    transition: all 0.3s ease;
    border-bottom: 2px solid transparent;
  }

  .page-numbers {
    margin: 0 5px;
  }

  li > a.navprev,
  li > a.navnext,
  a.wp-block-query-pagination-next,
  a.wp-block-query-pagination-previous {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
  }

  li > a.navprev,
  a.wp-block-query-pagination-previous {
    text-align: left;

    &::before {
      content: '';
      display: block;
      @include svgIcon('pagination-left');
      margin-right: 1rem;
    }
  }

  li > a.navnext,
  a.wp-block-query-pagination-next {
    text-align: right;

    &::after {
      content: '';
      display: block;
      @include svgIcon('pagination-right');
      margin-left: 1rem;
    }
  }

  li.select,
  span.current {
    font-family: var(--font-theme-secondary);

    > a {
      border-bottom-color: var(--pagination-color);
    }
  }

  li > a:hover, li > a:focus {
    opacity: .6;
  }

  @media (max-width: $medium - 1) {
    grid-column: 1 / span 2 !important;
  }

  @media (max-width: $tiny) {

    li {
      font-size: 1rem;
    }
  }
}

.nbr-items {
  margin-top: 3rem;
  text-align: center;

  @media (max-width: $medium - 1) {
    grid-column: 1 / span 2 !important;
  }

  @media (max-width: $tiny) {
    font-size: 1.4rem;
  }
}
