//@import "normalize";
@import "prism";
@import "spectrum-picker";
@import "bootstrap/bootstrap";
@import "utilities/utilities";
@import "atoms/atoms";
@import "molecules/molecules";
@import "organisms/organisms";
@import "cleanup";

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}








