.vct_frameless_green {
  /** Toggle/FAQ **/

  /** Tabs **/

  /** Tour **/

  /* Accordion */

  /* Call to Action box **/

  /* Separator */

  /* Message box */

  /* Bar Graph */

  /* Button */

  /** Colors */

  /* Google maps */

}
.vct_frameless_green .clearfix {
  *zoom: 1;
}
.vct_frameless_green .clearfix:before,
.vct_frameless_green .clearfix:after {
  display: table;
  content: "";
}
.vct_frameless_green .clearfix:after {
  clear: both;
}
.vct_frameless_green .hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.vct_frameless_green .input-block-level {
  display: block;
  width: 100%;
  min-height: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.vct_frameless_green #content h4.wpb_toggle,
.vct_frameless_green h4.wpb_toggle {
  position: relative;
  padding: 7px 15px 7px 35px;
  border: 1px solid #f3f3f3;
  border-left: 0;
  border-right: 0;
  margin: 0 0 10px 0;
  font-weight: normal;
  background: none;
  -webkit-transition: color 0.3s ease-out;
  -moz-transition: color 0.3s ease-out;
  -ms-transition: color 0.3s ease-out;
  -o-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
}
.vct_frameless_green #content h4.wpb_toggle:hover,
.vct_frameless_green h4.wpb_toggle:hover {
  cursor: pointer;
}
.vct_frameless_green #content h4.wpb_toggle:hover,
.vct_frameless_green h4.wpb_toggle:hover {
  color: #98c407;
}
.vct_frameless_green #content h4.wpb_toggle.wpb_toggle_title_active,
.vct_frameless_green h4.wpb_toggle.wpb_toggle_title_active {
  color: #98c407;
  border-top: 3px solid #98c407;
  padding-top: 5px;
}
.vct_frameless_green h4.wpb_toggle {
  color: #333333;
}
.vct_frameless_green h4.wpb_toggle:before {
  content: '';
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 35px;
  height: 100%;
  font-weight: normal;
  font-size: 15px;
  line-height: 37px;
  text-align: center;
  background: url(../../images/toggle_open.png) no-repeat center center;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.vct_frameless_green h4.wpb_toggle_title_active:before {
  background-image: url(../../images/toggle_close.png);
}
.vct_frameless_green .wpb_toggle_content {
  position: relative;
  padding: 0px 15px 20px;
  margin: 0;
}
.vct_frameless_green .wpb_content_element .wpb_tour_tabs_wrapper .wpb_tab {
  padding: 0;
  background: none;
}
.vct_frameless_green .wpb_tour_tabs_wrapper .wpb_tabs_nav {
  padding: 0;
  border-bottom: 1px solid #f3f3f3;
  margin-bottom: 15px !important;
}
.vct_frameless_green .wpb_tour_tabs_wrapper .wpb_tabs_nav li {
  list-style: none;
  margin: 0 15px 0 0;
  float: left;
  background: none;
}
.vct_frameless_green .wpb_tour_tabs_wrapper .wpb_tabs_nav li a {
  font-weight: normal;
  margin: 0;
  display: block;
  padding: 8px 5px;
  color: #98c407;
  opacity: 0.7;
  filter: alpha(opacity=70);
  -webkit-transition: color 0.3s ease-out;
  -moz-transition: color 0.3s ease-out;
  -ms-transition: color 0.3s ease-out;
  -o-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  -ms-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}
.vct_frameless_green .wpb_tour_tabs_wrapper .wpb_tabs_nav li.ui-state-active a {
  color: #98c407;
  border-bottom: 3px solid #98c407;
  opacity: 1;
  filter: alpha(opacity=100);
}
.vct_frameless_green .wpb_tour_tabs_wrapper .wpb_tabs_nav li:hover a {
  opacity: 1;
  filter: alpha(opacity=100);
}
.vct_frameless_green .wpb_content_element.wpb_tour .wpb_tour_tabs_wrapper .wpb_tab {
  padding: 0 0px 0 22px;
}
.vct_frameless_green .wpb_tour .wpb_tour_tabs_wrapper .wpb_tour_next_prev_nav a {
  color: #98c407;
  border-color: #f3f3f3;
}
.vct_frameless_green .wpb_tour .wpb_tour_tabs_wrapper .wpb_tabs_nav {
  border-bottom: none;
  border-top: 1px solid #f3f3f3;
}
.vct_frameless_green .wpb_tour .wpb_tour_tabs_wrapper .wpb_tabs_nav li {
  float: none;
  margin: 0 0 1px 0;
}
.vct_frameless_green .wpb_tour .wpb_tour_tabs_wrapper .wpb_tabs_nav li a {
  border-bottom: 1px solid #f3f3f3;
}
.vct_frameless_green .wpb_tour .wpb_tour_tabs_wrapper .wpb_tabs_nav li.ui-state-active a {
  color: #98c407;
  border-bottom: 3px solid #98c407;
  opacity: 1;
  filter: alpha(opacity=100);
  padding: 8px 5px 6px 5px;
}
.vct_frameless_green .wpb_content_element .wpb_accordion_wrapper .wpb_accordion_content {
  padding: 0 15px 15px 15px;
  background: #ffffff;
  color: #333333;
}
.vct_frameless_green .wpb_accordion_section {
  margin-top: -2px;
  position: relative;
  top: 2px;
}
.vct_frameless_green .wpb_content_element .wpb_accordion_wrapper .wpb_accordion_header {
  color: #333333;
  border: 1px solid #f3f3f3;
  border-left: 0;
  border-right: 0;
  padding: 8px 15px;
  background: none;
}
.vct_frameless_green .wpb_content_element .wpb_accordion_wrapper .wpb_accordion_header:after {
  content: "";
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  color: #f3f3f3;
  background: #ffffff url(../../images/toggle_open.png) no-repeat center center;
  width: 35px;
  height: 100%;
}
.vct_frameless_green .wpb_content_element .wpb_accordion_wrapper .wpb_accordion_header.ui-state-active {
  border-bottom-color: transparent;
  border-top: 3px solid #98c407;
}
.vct_frameless_green .wpb_content_element .wpb_accordion_wrapper .wpb_accordion_header.ui-state-active:after {
  background-image: url(../../images/toggle_close.png);
}
.vct_frameless_green .wpb_content_element .wpb_accordion_wrapper .wpb_accordion_header.ui-state-active:after,
.vct_frameless_green .wpb_content_element .wpb_accordion_wrapper .wpb_accordion_header.ui-state-hover:after {
  color: #98c407;
}
.vct_frameless_green .wpb_content_element .wpb_accordion_wrapper .wpb_accordion_header a:hover,
.vct_frameless_green .wpb_content_element .wpb_accordion_wrapper .wpb_accordion_header.ui-state-active a {
  color: #98c407;
}
.vct_frameless_green .wpb_content_element .wpb_accordion_wrapper .wpb_accordion_header a {
  padding: 0;
  color: inherit;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.vct_frameless_green .wpb_content_element .wpb_accordion_wrapper .wpb_accordion_header > span {
  display: none;
}
.vct_frameless_green .wpb_call_to_action {
  background: none;
  border: 1px solid #f3f3f3;
  border-left: 0;
  border-right: 0;
  padding: 30px 25px;
  position: relative;
}
.vct_frameless_green .wpb_call_to_action:before {
  content: "";
  display: block;
  position: absolute;
  bottom: -7px;
  left: 0;
  width: 100%;
  height: 1px;
  border-bottom: 3px solid #f3f3f3;
}
.vct_frameless_green .wpb_call_to_action .wpb_call_text {
  font-weight: normal;
  color: #98c407;
}
.vct_frameless_green .wpb_separator,
.vct_frameless_green .vc_text_separator {
  position: relative;
  border-bottom: 1px solid #f3f3f3;
}
.vct_frameless_green .wpb_separator:after,
.vct_frameless_green .vc_text_separator:after {
  content: "";
  position: absolute;
  top: 4px;
  left: 0;
  width: 100%;
  height: 1px;
  border-bottom: 3px solid #f3f3f3;
}
.vct_frameless_green .vc_text_separator div {
  top: -9px;
  color: #98c407;
  background: #ffffff;
  position: relative;
  z-index: 1;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.vct_frameless_green .wpb_alert .messagebox_text {
  padding-left: 40px;
}
.vct_frameless_green .wpb_alert {
  color: #aa8a02;
  border: 1px solid #fdda48;
  text-shadow: none;
  padding: 15px 25px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
.vct_frameless_green .wpb_alert-success {
  border: 1px solid #6ab165;
}
.vct_frameless_green .wpb_alert-success p {
  color: #2d532a;
}
.vct_frameless_green .wpb_alert-error {
  border: 1px solid #d95757;
}
.vct_frameless_green .wpb_alert-error p {
  color: #7b1c1c;
}
.vct_frameless_green .wpb_alert-info {
  border: 1px solid #686b72;
}
.vct_frameless_green .wpb_alert-info p {
  color: #1f2022;
}
.vct_frameless_green .vc_progress_bar .vc_single_bar {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: 1px solid #f3f3f3;
  background: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
.vct_frameless_green .vc_progress_bar .vc_single_bar .vc_bar {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
.vct_frameless_green .vc_progress_bar .bar_grey .vc_label {
  color: #ffffff;
}
.vct_frameless_green .vc_progress_bar .bar_grey .vc_bar {
  background: #98c407;
}
.vct_frameless_green .wpb_button {
  border: 0;
  padding: 6px 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  text-shadow: none;
}
.vct_frameless_green .wpb_btn-mini {
  padding: 3px 7px 4px 7px;
  font-size: 85%;
  line-height: 110%;
}
.vct_frameless_green .wpb_btn-small {
  padding: 5px 10px 5px;
  font-size: 85%;
  line-height: 110%;
}
.vct_frameless_green .wpb_regularsize {
  padding: 8px 20px;
}
.vct_frameless_green .wpb_btn-large {
  padding: 10px 25px;
  font-size: 120%;
}
.vct_frameless_green .wpb_wpb_button {
  background: #98c407;
  color: #ffffff;
}
.vct_frameless_green .wpb_wpb_button:hover {
  background: #404040;
}
.vct_frameless_green .wpb_btn-inverse {
  background: #414141;
}
.vct_frameless_green .wpb_btn-inverse:hover {
  background: #272727;
}
.vct_frameless_green .wpb_btn-danger {
  background: #DA4F49;
}
.vct_frameless_green .wpb_btn-danger:hover {
  background: #c72f29;
}
.vct_frameless_green .wpb_btn-success {
  background: #5BB75B;
}
.vct_frameless_green .wpb_btn-success:hover {
  background: #449b44;
}
.vct_frameless_green .wpb_btn-warning {
  background: #FAA732;
}
.vct_frameless_green .wpb_btn-warning:hover {
  background: #f39106;
}
.vct_frameless_green .wpb_gmaps_widget .wpb_map_wraper {
  padding: 5px;
  border: 1px solid #f3f3f3;
  background-color: #f8f8f8;
  background-image: -moz-linear-gradient(top, #f3f3f3, #ffffff);
  background-image: -ms-linear-gradient(top, #f3f3f3, #ffffff);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f3f3f3), to(#ffffff));
  background-image: -webkit-linear-gradient(top, #f3f3f3, #ffffff);
  background-image: -o-linear-gradient(top, #f3f3f3, #ffffff);
  background-image: linear-gradient(top, #f3f3f3, #ffffff);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f3f3f3', endColorstr='#ffffff', GradientType=0);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
