// Google fonts : charger les déclarations ici ou directement dans fonts_critical.scss si nécessaire.
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/manrope/v4/xn7gYHE41ni1AdIRggexSvfedN4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/manrope/v4/xn7gYHE41ni1AdIRggexSvfedN4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/manrope/v4/xn7gYHE41ni1AdIRggexSvfedN4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

// Embed fonts
@font-face {
  font-family: 'geomanistblack';
  src: url('/app/themes/wwp_child_theme/assets/fonts/geomanist-black-webfont.woff2') format('woff2'),
  url('/app/themes/wwp_child_theme/assets/fonts/geomanist-black-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'geomanistbold';
  src: url('/app/themes/wwp_child_theme/assets/fonts/geomanist-bold-webfont.woff2') format('woff2'),
  url('/app/themes/wwp_child_theme/assets/fonts/geomanist-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'geomanistbook';
  src: url('/app/themes/wwp_child_theme/assets/fonts/geomanist-book-webfont.woff2') format('woff2'),
  url('/app/themes/wwp_child_theme/assets/fonts/geomanist-book-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'geomanistextralight';
  src: url('/app/themes/wwp_child_theme/assets/fonts/geomanist-extralight-webfont.woff2') format('woff2'),
  url('/app/themes/wwp_child_theme/assets/fonts/geomanist-extralight-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'geomanistlight';
  src: url('/app/themes/wwp_child_theme/assets/fonts/geomanist-light-webfont.woff2') format('woff2'),
  url('/app/themes/wwp_child_theme/assets/fonts/geomanist-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'geomanistregular';
  src: url('/app/themes/wwp_child_theme/assets/fonts/geomanist-regular-webfont.woff2') format('woff2'),
  url('/app/themes/wwp_child_theme/assets/fonts/geomanist-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'geomanistmedium';
  src: url('/app/themes/wwp_child_theme/assets/fonts/geomanist-medium-webfont.woff2') format('woff2'),
  url('/app/themes/wwp_child_theme/assets/fonts/geomanist-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'geomanistthin';
  src: url('/app/themes/wwp_child_theme/assets/fonts/geomanist-thin-webfont.woff2') format('woff2'),
  url('/app/themes/wwp_child_theme/assets/fonts/geomanist-thin-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'geomanistultra';
  src: url('/app/themes/wwp_child_theme/assets/fonts/geomanist-ultra-webfont.woff2') format('woff2'),
  url('/app/themes/wwp_child_theme/assets/fonts/geomanist-ultra-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
