// Add font needed above the fold

@font-face {
  font-family: 'geomanistmedium';
  src: url('/app/themes/wwp_child_theme/assets/fonts/geomanist-medium-webfont.woff2') format('woff2'),
  url('/app/themes/wwp_child_theme/assets/fonts/geomanist-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
