
// Embed fonts
@font-face {
  font-family: 'geomanistblack';
  src: url('/app/themes/wwp_child_theme/assets/fonts/geomanist-black-webfont.woff2') format('woff2'),
  url('/app/themes/wwp_child_theme/assets/fonts/geomanist-black-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'geomanistbold';
  src: url('/app/themes/wwp_child_theme/assets/fonts/geomanist-bold-webfont.woff2') format('woff2'),
  url('/app/themes/wwp_child_theme/assets/fonts/geomanist-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'geomanistbook';
  src: url('/app/themes/wwp_child_theme/assets/fonts/geomanist-book-webfont.woff2') format('woff2'),
  url('/app/themes/wwp_child_theme/assets/fonts/geomanist-book-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'geomanistextralight';
  src: url('/app/themes/wwp_child_theme/assets/fonts/geomanist-extralight-webfont.woff2') format('woff2'),
  url('/app/themes/wwp_child_theme/assets/fonts/geomanist-extralight-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'geomanistlight';
  src: url('/app/themes/wwp_child_theme/assets/fonts/geomanist-light-webfont.woff2') format('woff2'),
  url('/app/themes/wwp_child_theme/assets/fonts/geomanist-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'geomanistregular';
  src: url('/app/themes/wwp_child_theme/assets/fonts/geomanist-regular-webfont.woff2') format('woff2'),
  url('/app/themes/wwp_child_theme/assets/fonts/geomanist-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'geomanistmedium';
  src: url('/app/themes/wwp_child_theme/assets/fonts/geomanist-medium-webfont.woff2') format('woff2'),
  url('/app/themes/wwp_child_theme/assets/fonts/geomanist-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'geomanistthin';
  src: url('/app/themes/wwp_child_theme/assets/fonts/geomanist-thin-webfont.woff2') format('woff2'),
  url('/app/themes/wwp_child_theme/assets/fonts/geomanist-thin-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'geomanistultra';
  src: url('/app/themes/wwp_child_theme/assets/fonts/geomanist-ultra-webfont.woff2') format('woff2'),
  url('/app/themes/wwp_child_theme/assets/fonts/geomanist-ultra-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
