//Variables:
$gutter  : 1rem; //Largeur gouttière
$col     : 3; //Nombre de colonnes

$gallery-item-height: 30rem;
$gallery-item-medium-height: 15rem;
$gallery-item-small-height: 60vw;

.module-galerie.detail-galerie {

  .btn--cta-left {
    margin: 0 0 2rem 0;
  }

  //gallery-group
  ul.gallery-group {
    @extend .items-list;
    margin-right: -$gutter !important;
    margin-left: -$gutter !important;

    li {
      flex-basis: calc(100% * 1 / #{$col} - #{$gutter * 2} - .01px) !important;
      height: $gallery-item-height; // Hauteur fixe
      margin-right: $gutter !important;
      margin-left: $gutter !important;
      margin-bottom: #{$gutter * 2} !important;
    }

    li > a {
      display: block;
      position: relative;
      height: 100%;
      margin: 0;
      overflow: hidden;

      &::after {
        @include svgIcon('plus_large');
        @include absolute-center;
        z-index: 1;
        opacity: 0;
        pointer-events: none;
        transition: all 0.4s;
      }
    }

    li img {
      @include absolute-center;
      min-height: 100%;
      width: auto;
      max-width: none;
      min-width: 100%;
      transform: translate(-50%, -50%) scale(1);
      transform-origin: center center;
      transition: all 0.4s ease-in-out;
    }

    //Animation
    li > a:hover,
    li > a:focus {

      &::after {
        opacity: 1;
      }

      img {
        opacity: 0.6;
        transform: translate(-50%, -50%) scale(1.2);
      }
    }
  }

  //Main image
  .img-preview {
    position: relative;
    height: 660px;
    overflow: hidden;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      min-height: 100%;
      min-width: 100%;
      max-width: none;

      //animations
      opacity: 0;
      visibility: hidden;
      transition: all .3s ease;

      &.active {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  //Thumbnails slider
  .bx-wrapper {
    max-width: 100% !important;
    margin-top: 2rem;

    .bx-controls-direction a {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 5rem;
      background-color: white;

      &::after {
        @include svgIcon('arrow_right-s-red');
        transform: translateX(0);
        transition: transform .4s;
      }

      &:hover::after,
      &:focus::after {
        transform: translateX(1rem);
      }
    }

    a.bx-prev {
      left: 0;
      transform: rotate(180deg) translateX(0);
    }

    a.bx-next {
      right: 0;
    }
  }

  //Navigation prev / next
  ul.gallery-nav-items {
    margin-top: 4rem;
  }

  @media (max-width: $large) {

    ul.gallery-group li {
      height: $gallery-item-medium-height;
    }
  }

  @media (max-width: $medium - 1) {

    ul.gallery-group li {
      height: $gallery-item-small-height;
    }
  }
}
