// Présentation horizontales
.tcvf-block.tcvf-block--vertical {
  display: block;

  .filter-part {
    display: flex;
    flex-direction: row;
    justify-content: stretch;

    .tcvf-item-component a {
      display: block;
    }
  }

  // Contenu affiché en dessous
  .content-part {


  }

  @media (max-width: $medium - 1) {


  }
}
