$trigger-height: 5rem;
$trigger-color: white; //button
$trigger-bgcolor: $color-primary; //button

.wdf-dropdown {
  height: $trigger-height;
  overflow: hidden;

  &, .dropup {
    position: relative;

    &:after {
      display: table;
      content: " ";
    }
  }

  // Trigger
  .dropdown-trigger {
    height: $trigger-height;
    position: relative;
    z-index: 1;
    transition: all 0.4s;

    .button {
      justify-content: space-between;
      height: 100%;
      width: 100%;
      margin: 0;
      padding: 0 3rem;
      border-radius: 0;
    }
  }

  .dropdown-icon {
    @include svgIcon('chevron-b-white');
    pointer-events: none;
    transform-origin: center;
    transform: rotate(0);
    transition: all .4s;
  }

  // Content
  .dropdown-content {
    width: 100%;
    padding-top: 2rem;
    transform: translateY(calc(-100% - #{$trigger-height}));
    transition: all .4s ease-in-out;

    a.content {
      text-decoration: none;
    }
  }

  // Reveal
  &.open {
    height: auto;

    .dropdown-icon {
      transform: rotate(180deg);
    }

    .dropdown-content {
      transform: translateY(0);
    }
  }
}
