.wp-block-gallery.gallery-slider {
  display: block;
  .blocks-gallery-grid, .blocks-gallery-item, .blocks-gallery-item figure{
    display: block;
  }
  .blocks-gallery-item {
    margin-right: 16px !important;
  }
}
