/*scss/components/_tabs.scss*/
/* ----------------------------- */
/* ==Tabs      */
/* ----------------------------- */

.js-tabcontent[aria-hidden=true] {
  display: none;
}

/* styles with JS */
ul.js-tablist {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding-left: 0;
  margin-bottom: -1px;
  margin-top: 0;
}

li.js-tablist__item {
  flex: 1;
  text-align: center;

  > a {
    line-height: 1.1;
    display: block;
    min-height: 3em;
    padding: 0.9em .5em .5em .5em;
    color: #fff;
    background: var(--color-theme-primary);
    cursor: pointer;
    text-decoration: none;
    border: 1px solid rgba(41, 57, 95, 0.30);
    border-bottom: 0;
    transition: background 0.4s;
  }

  > a:focus,
  > a:hover {
    text-decoration: none;
    color: white;
    background: grey;
  }

  > a:active,
  > a[aria-selected="true"] {
    color: #000;
    text-decoration: none;
    background: white;
  }
}

.js-tabcontent {
  padding: 2em;
  background: white;
  border: 1px solid rgba(41, 57, 95, 0.30);
}
