/*scss/components/_cookies.scss*/

.component .cookies-wrap {
  position: relative;
  .btn {
    margin-bottom: 0;
  }
}

.cookies-wrap {
  position: fixed;
  bottom: 0;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 1rem;
  background-color: rgba(255,255,255,.9);

  p, a {
    margin-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    line-height: 1.8rem;
    font-weight: 500;
    font-size: 1.2rem;
    color: $color-base;
  }

  p {
    margin-bottom: 0;
  }

  a {
    display: inline-table;
    text-align: center;
  }


  .btn {
    @extend .btn--inverse;
    @extend .btn--small;
  }

  @media (max-width: $medium) {
    padding-right: 4%;
    padding-left: 4%;

    p {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
  }

  @media (max-width: $verytiny) {
    flex-direction: column;

    p, a {
      margin-right: 0;
      text-align: center;
    }

    .btn {
      height: 40px;
      font-size: 1.5rem;
      margin: 1rem;
    }
  }
}
