/*scss/components/_cookies.scss*/

.cookies-wrap{
    p, a{
        margin-right: 1rem;
    }
    p{
        display: inline-block;
    }
    button{
        display: inline-block;
        margin: 0;
        padding: 0 1rem;
    }
}