/*scss/components/_dropdown.scss*/

// Trigger
.dropdown-trigger {
  .button {
    display: inline-flex;
    align-items: center;
  }
}

.dropdown-icon {
  @include svgIcon('chevron-t-small');
  transform: rotate(180deg);
}

.dropdown, .dropup {
  position: relative;
  &:after{
    display: table;
    content: " ";
  }
}
.dropdown-toggle:focus {
  outline: 0;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.15);
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
.dropdown-menu>li>a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
  text-decoration: none;
}

.open>.dropdown-toggle{
  color: #fff;
  margin-bottom: 0;
  &.btn-primary{

  }
}
.open>.dropdown-menu {
  display: block;
}

