/*scss/components/_modal.scss*/

//
// Modals ((based on Boostrap component)
// --------------------------------------------------

// .modal-open      - body class for killing the scroll
// .modal           - container to scroll within
// .modal-dialog    - positioning shell for the actual modal
// .modal-content   - actual modal w/ bg and corners and shit

// Kill the scroll on the body
.modal-open {
  overflow: hidden;
}

// Container that the modal scrolls within
.modal {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10000; //1050is enough, but more for atomic docs
  -webkit-overflow-scrolling: touch;

  // When fading in the modal, animate it to slide down
  &.fade .modal-dialog {
	-webkit-transition: -webkit-transform .3s ease-out;
	-o-transition: -o-transform .3s ease-out;
	transition: transform .3s ease-out;
	-webkit-transform: translate(0,-25%);
	-ms-transform: translate(0,-25%);
	-o-transform: translate(0,-25%);
	transform: translate(0,-25%);
  }
  &.in .modal-dialog {
	-webkit-transform: translate(0,0);
	-ms-transform: translate(0,0);
	-o-transform: translate(0,0);
	transform: translate(0,0);
  }
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

// Shell div to position the modal with bottom padding
.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}

// Actual modal
.modal-content {
  position: relative;
  background-color: #FFFFFF;
  border: 1px solid #999;
	border: 1px solid rgba(0,0,0,.2);
  border-radius: 6px;
  	-webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
	box-shadow: 0 5px 15px rgba(0,0,0,.5);
  background-clip: padding-box;
  // Remove focus outline from opened modal
  outline: 0;
}

// Modal background
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050-background;
  background-color: #000;
  // Fade for backdrop
  &.fade { opacity: 0; }
  &.in { opacity: .5; }
}

// Modal header
// Top section of the modal w/ title and dismiss
.modal-header {
	padding: 15px;
	border-bottom: 1px solid #e5e5e5;
	&:before{
		display: table;
		content: " ";
	}
	&:after{
		display: table;
		content: " ";
		clear: both;
	}
}
// Close icon
.modal-header .close {
	float: right;
  	margin-top: -2px;
	padding: 0;
	font-size: 21px;
	font-weight: 700;
	line-height: 1;
	color: #000;
	text-shadow: 0 1px 0 #fff;
	background: 0 0;
	border: 0;
	filter: alpha(opacity=20);
	opacity: .2;
	-webkit-appearance: none;
	cursor: pointer;
}

// Title text within header
.modal-title {
	margin: 0;
	line-height: 1.42857143;
}

// Modal body
// Where all modal content resides (sibling of .modal-header and .modal-footer)
.modal-body {
	position: relative;
	padding: 15px;
}

// Footer (for actions)
.modal-footer {
	padding: 15px;
	text-align: right;
	border-top: 1px solid #e5e5e5;
	&:before{
		display: table;
		content: " ";
	}
	&:after{
		display: table;
		content: " ";
		clear: both;
	}
  // Properly space out buttons
  .btn + .btn {
    margin-left: 5px;
    margin-bottom: 0; // account for input[type="submit"] which gets the bottom margin like all other inputs
  }
  // but override that for button groups
  .btn-group .btn + .btn {
    margin-left: -1px;
  }
  // and override it for block buttons as well
  .btn-block + .btn-block {
    margin-left: 0;
  }
}

// Measure scrollbar width for padding body during modal show/hide
.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}

// Scale up the modal
@media (min-width: 768px) {
  // Automatically set modal's width for larger viewports
  .modal-dialog {
    width: 600px;
	margin: 30px auto;
  }
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
	box-shadow: 0 5px 15px rgba(0,0,0,.5);
  }
  // Modal sizes
  .modal-sm {
  	width: 300px;
  }
}

@media (min-width: 992px){
	.modal-lg {
		width: 900px;
	}	
}

