/* scss/components/_reseaux_sociaux.scss */

ul.social-networks {
  padding-left: 0;
  list-style: none;

  &,
  li {
    margin-bottom: 0;
  }

  li {
    display: inline-block;
    height: 37px;
    width: 37px;
    margin-right: 2px;
    text-indent: -9999em;
    outline: 0; // Hide text
  }

  li > a {
    position: relative;
    display: flex;
    height: 100%;
    opacity: 1;

    &::after {
      @include absolute-center;
    }

    &:hover, &:focus {
      opacity: .8;
    }
  }

  li.facebook > a::after {
    @include svgIcon('facebook');
  }

  li.twitter > a::after {
    @include svgIcon('twitter');
  }

  li.youtube > a::after {
    @include svgIcon('youtube');
  }

  li.instagram > a::after {
    @include svgIcon('instagram');
  }

  li.pinterest > a::after {
    @include svgIcon('pinterest');
  }

  li.flickr > a::after {
    @include svgIcon('flickr');
  }

  li.linkedin > a::after {
    @include svgIcon('linkedin');
  }

  li.vimeo > a::after {
    @include svgIcon('vimeo');
  }
}

