/*scss/molecules/_card.scss*/

.card{
	position: relative;
	display: block;
	margin-bottom: .75rem;
	background-color: #fff;
	border-radius: .25rem;
	border: 1px solid rgba(0,0,0,.125);
}
.card-block{
	padding: 1.25rem;
	&::after {
		content: "";
		display: table;
		clear: both;
	}
}
.card-img-top{
	width: 100%;
}
.card-title{
	margin-bottom: .75rem;
}
.card-text{
	margin-top: 0;
	margin-bottom: 1rem;
	.btn{
		margin-top: 1rem;
	}
}