/* scss/molecules/_card.scss */

/* ----------------------------- */
/* ==Card generic styles      */
/* ----------------------------- */

.item {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 1px solid $gray-400;

  a {
    text-decoration: none;
  }

  .img-wrap {
    position: relative;
    height: 250px;
    width: 100%;
    overflow: hidden;

    a {
      position: relative;
      display: block;
      height: 100%;
      width: 100%;
    }

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      float: none;
      min-height: 100%;
      width: auto;
      min-width: 100%;
      max-width: none;
      margin: 0;
      transform: translate(-50%, -50%);
      transform-origin: center center;
    }
  }

  .card-block {
    flex-grow: 1;
    padding: 3rem;
  }

  .card-title {
    @extend .h3-like;
    margin-bottom: 2rem;
  }

  .card-date {
    @extend .tag--primary;
    color: $white;
    float: right;
    margin-bottom: 2rem;
  }

  ul.card-categories {
    list-style: none;
    padding-left: 0;

    li {
      @extend .tag;
      margin: 0 1rem 1rem 0;
    }
  }

  .card-text {
    clear: both;
  }

  .post-author {
    margin-bottom: 2rem;
  }

  ul.post-moderation {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;

    li .btn {
      @extend .tag--primary;
    }
  }
}
