@charset "UTF-8";
/* ----------------------------- */
/* ==Pagination      */
/* ----------------------------- */

/*scss/molecules/_pagination.scss*/

.pagination {
    grid-column: 1 / 4;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem 0;
    text-align: center;

    li {
        display: inline-block;
        margin: 0 .5rem;
    }

    li > a {
        padding: 6px 11px 5px 11px;
        color: $color-primary;
        background: #fff;
        text-decoration: none;
        transition: all 0.3s ease;
    }

    li > a.navprev, li > a.navnext {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    li > a.navprev::before {
        content: '';
        display: block;
        @include svgIcon('chevron-l-small');
        margin-right: 1rem;
    }

    li > a.navnext::after {
        content: '';
        display: block;
        @include svgIcon('chevron-r-small');
        margin-left: 1rem;
    }

    li.select > a {
        color: #fff;
        background: $color-primary;
    }

    li > a:hover, li > a:focus {
        opacity: .6;
    }
}

.nbr-items {
    margin-top: 3rem;
    text-align: center;
}