/*scss/molecules/_pagination.scss*/

.pagination{
    padding: 6rem 0;
    text-align: center;
    li{
        display: inline-block;
        margin: 0 .5rem;
    }
    li > a{
        padding: 6px 11px 5px 11px;
        color: $pink;
        background: #fff;
        text-decoration: none;
        border-radius: 50%;
        transition: all 0.3s ease;
    }
    li > a:hover, li > a:focus{
        color: #fff;
        background: $mediumgrey;
    }
    li.select > a{
        color: #fff;
        background: $pink;
    }
}