@charset "UTF-8";
/* ----------------------------- */
/* ==Social networks      */
/* ----------------------------- */

ul.social-networks {
  padding-left: 0;
  list-style: none;
  li {
    display: inline-block;
    height: 33px;
    width: 33px;
    margin-right: 2px;
    text-indent: -9999em;
    outline: 0; // Hide text
  }
  li > a {
    position: relative;
    display: block;
    height: 100%;
    border: 1.5px solid $gray-200;
    border-radius: 50%;
    opacity: 1;
    &::after {
      position: absolute;
      top: 2.5px;
      left: 1.8px;
      transform: scale(.25);
      transform-origin: top left;
    }
    &:hover, &:focus {
      opacity: .8;
    }
  }
  li.facebook > a::after {
    @include svgIcon('facebook');
  }
  li.twitter > a::after {
    @include svgIcon('twitter');
  }
  li.youtube > a::after {
    @include svgIcon('youtube');
  }
  li.instagram > a::after {
    @include svgIcon('instagram');
  }
  li.pinterest > a::after {
    @include svgIcon('pinterest');
  }
  li.flickr > a::after {
    @include svgIcon('flickr');
  }
  li.linkedin > a::after {
    @include svgIcon('linkedin');
  }
}