@charset "UTF-8";
/* ----------------------------- */
/* ==Social networks      */
/* ----------------------------- */


ul.social-networks {
    padding-left: 0;
    list-style: none;
    li {
        display: inline-block;
        height: 106px;
        width: 106px;
        margin-right: 2rem;
        text-indent: -9999em;
        outline: 0; // Hide text
    }
    li > a {
        position: relative;
        display: block;
        height: 100%;
        border: 2px solid #000;
        border-radius: 10px;
        &::after {
            position: absolute;
            top: -1px;
            left: -1px;
            /*transform: scale(.6);*/
            transform-origin: top left;
        }
        &:hover, &:focus {
            opacity: .5;
        }
    }
    li.facebook > a::after {
        @include svgIcon('facebook');
    }
    li.twitter > a::after {
        @include svgIcon('twitter');
    }
    li.youtube > a::after {
        @include svgIcon('youtube');
    }
    li.instagram > a::after {
        @include svgIcon('instagram');
    }
    li.pinterest > a::after {
        @include svgIcon('pinterest');
    }
    li.flickr > a::after {
        @include svgIcon('flickr');
    }
    li.linkedin > a::after {
        @include svgIcon('linkedin');
    }
}
