/*scss/molecules/_timeline.scss*/

ul.timeline{
	display: block;
	margin: auto;
	width: 100px;
	padding: 10rem 0;
	list-style: none;
	margin: 0 auto;
	border-right: 1px solid #fff;
	li{
		position: relative;
		text-align: right;
		&:after{
			content: " ";
			position: absolute;
			top: 34px;
			right: -7px;
			display: block;
			width: 12px;
			height: 12px;
			border-radius: 50%;
			background-color: #FFFFFF;
			cursor: pointer;
		}
		&:before{
			position: absolute;
			top: 28px;
			right: -13px;
			content: " ";
			width: 22px;
			height: 22px;
			border: 1px solid #FFFFFF;
			border-radius: 50%;
			transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
		}
		span{
			opacity: 0;
			transition: opacity 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
		}
	}
	li >a{
		display: block;
		padding: 3rem 0;
		padding-right: 3rem;
		text-decoration: none;
	}
	li:hover, li:focus, li.active{
		&:before{
			transform: scale(1.4);
			background-color: rgba(255, 255, 255, 0.5);
			border: none;
		}
		span{
			opacity: 1;
		}
	}
}