.gm_grabbable {
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

/* (Optional) Apply a "closed-hand" cursor during drag operation. */
.gm_grabbable:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}
.gmAlbumsListMasonry_clearfix::after {
    visibility: hidden;
    display: block;
    font-size: 0px;
    content: " ";
    clear: both;
    height: 0px;
}
.gmNoneTransition{
    transition: none !important;
}
/******************************** Main View **************/
.gmAlbumsListMasonry_Collection {
    position: relative;
    min-height: 100px;
    transition: height .5s;
    -webkit-user-select: none;
}
.gmAlbumsListMasonry_Collection * {
    box-sizing: border-box;
}
/******************************** Main View Grid ************/
.gmAlbumsListMasonry_GridCollections {
    position: relative;
    width: 100%;
    will-change: height;
    min-height: 100px;
    overflow: hidden;
    -webkit-user-select: none;
}
.gmAlbumsListMasonry_GridCollections * {
    box-sizing: border-box;
}
/******************************** GM AlbumsListMasonry Preloader *************************/
.gmAlbumsListMasonryPreloader {
    min-height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    z-index: 100;
}
@keyframes spinner {
    0% { transform: rotate(-360deg); }
    100% { transform: rotate(0deg); }
}
@keyframes _spinner {
    to {
        transform: rotate(-1440deg);
    }
}
.gmAlbumsListMasonryPreloader .c-spinner {
    /*animation: 2s _spinner ease-in-out infinite alternate;*/
    animation: 1s spinner linear infinite;
}
@keyframes gmFadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
/******************************** GM AlbumsList SplashViewSlider ******************/
.gmAlbumsListMasonrySplashSlider
{
    position: relative;
    will-change: transform;
    width: 100%;
    min-height: 100px;
    top:0;
    left: 0;
}
.gmAlbumsListMasonrySplashSliderPage
{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
}
.gmAlbumsListMasonrySplashSliderPage .coverWrap
{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
}
/****************************** AlbumsList SplashSlider Navi *****************/
.gmAlbumsListMasonrySplashSliderNaviBar
{
    position: relative;
    min-height: 20px;
    width: 100%;
}
.gmAlbumsListMasonrySplashSliderNextPrevButtons
{
    position: absolute;
    width: 60px;
    max-height: 24px;
    height: 100%;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: background-color .2s;
    border-radius: 2px;
    /*-webkit-filter: drop-shadow( 1px 1px 2px rgba(0, 0, 0, 0.59));
    filter: drop-shadow( 1px 1px 2px rgba(0, 0, 0, 0.59));*/
}
.gmAlbumsListMasonrySplashSliderNextPrevButtons svg
{
    width: 100%;
    height: 100%;
}
.gmAlbumsListMasonrySpleshSliderThumbsNavi
{
    position: relative;
    width: 100%;
    top: 0px;
    padding: 0 100px;
    text-align: center !important;
}
.gmAlbumsListMasonrySpleshSliderThumbsNavi .gmAlbumsListMasonryBullet
{
    position: relative;
    display: inline-block ;
    cursor: pointer;
    width: 10px;
    height: 10px;
    margin: 0px 5px;
    border-radius: 50%;
    opacity: .5;
    transition: opacity .5s;
}
.gmAlbumsListMasonrySpleshSliderThumbsNavi .miniScreen
{
    width: 5px;
    height: 5px;
    margin: 2px 2px;
}
/******************************** AlbumsList Cover *************************/
.gmAlbumsListMasonryCover{
    position: relative;
    float: left;
    cursor: pointer;
    perspective: 1000px;
}
.gmAlbumsListMasonryCover .gmiOS_optima, .gmAlbumsListMasonryCover .gmAlbumsListMasonryCoverHA .gmiOS_optima
{
    will-change:unset;
}
.gmAlbumsListMasonryCoverImgHolder
{
    position: absolute;
    overflow: hidden;
    width: 100%;
    height:100%;
    will-change: transform;
    pointer-events: none;
    z-index: 100;
    /*transition: 0.1s;
    -moz-transition: none;*/
}
.gmAlbumsListMasonryCover img{
    will-change: opacity;
    opacity: 0.01;
    transition: opacity .5s;
    pointer-events: none;
}
.gmAlbumsListMasonryCover .gmAlbumsListMasonryCoverShine
{
    pointer-events: none;
    position: absolute;
    width: 200%;
    height: 200%;
    top: -50%;
    left: -50%;
    background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0.25) 50%, transparent 100%);
}
.gmAlbumsListMasonryCoverHA{
    position: absolute;
    width: 100%;
    height: 100%;
    will-change: transform;
    z-index: 200;
}
.gmAlbumsListMasonryHoverBG
{
    position: absolute;
    will-change: opacity;
    opacity: 0.01;
    width: 100%;
    height: 100%;
    transition: opacity 0.4s;
}
.gmAlbumsListMasonryCover .gmAlbumsListMasonryCoverTitleHolder
{
    position: absolute;
    width: 100%;
    text-align: right;
    bottom: 20px;
    padding-right: 20px;
    text-shadow: rgba(0, 0, 0, 0.347059) 0px 0px 7px;

}
.gmAlbumsListMasonryCoverTitleHolder .coverTitle {
    font-size: 32px;
    line-height: 1.1;
    overflow: hidden;
    text-overflow: ellipsis;
    letter-spacing: 1px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top:5px;
    padding-bottom:5px;
    color: #fff;
    user-select: none;
    pointer-events: none;
}
.gmAlbumsListMasonryCoverTitleHolder .coverCounter {
    padding: 0 10px;
    color: #fff;
    font-size: 14px;
    pointer-events: none;
    display: inline-block;
    float: right;
    height: 30px;
    line-height: 30px;
}
.gmAlbumsListMasonryCoverTitleHolder .coverShareButton
{
    position: relative;
    padding: 5px;
    -webkit-filter: drop-shadow( 0px 0px 7px rgba(0, 0, 0, 0.347059));
    filter: drop-shadow( 0px 0px 7px rgba(0, 0, 0, 0.347059));
    height: 30px;
    width: 30px;
    margin: 0px 12px;
    cursor: pointer;
    float: right;
}
.gmAlbumsListMasonryCoverTitleHolder .coverShareButton svg
{
    width: 100%;
    height: 100%;
    transition: fill .2s, transform .4s ease-out;
}
/******************************** AlbumsList Collection View ********************/
.gmAlbumsListMasonryPopUpBodyChildecCollapse
{
    height: 0 !important;
    overflow: hidden !important;
}
.gmAlbumsListMasonryPopUpActive {
    height: auto !important;
    overflow: auto !important;
}
.gmAlbumsListMasonryPopUpActive body {
    position: static !important;
}
.gmAlbumsListMasonryColection *{
    box-sizing: border-box !important;
}
.gmAlbumsListMasonryColection
{
    position: absolute;
    z-index: 99999;
    width: 100%;
    min-height: 100vh;
    visibility: hidden;
    opacity: 0;
    will-change: visibility;
    -webkit-text-size-adjust: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
.gmAlbumsListMasonryColectionActivate
{
    pointer-events: auto;
    visibility: visible;
    opacity: 1;
}
.gmAlbumsListMasonryColection .gmCollectionBg
{
    position: absolute;
    width: 100%;
    height: 100%;
}
.gmAlbumsListMasonryColection .gmCollectionScrollView
{
    position: relative;
    width: 100%;
    max-width:1200px;
    margin: auto ;
    padding: 0 10px;
}
.gmAlbumsListMasonryColection .collectionHeader
{
    position: relative;
    width: 100%;
    min-height: 30px;
    text-align: center;
    padding: 15px 20px;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
    transform: translateY(-100%);
    transition: transform 0.4s;
    will-change: transform;
}
.gmAlbumsListMasonryColection .collectionHeaderActivate
{
    transform: translateY(0%);
}
.gmAlbumsListMasonryColection .collectionHeader .title
{
    margin: auto;
    max-width: 940px;
    font-size: 30px;
    line-height: 1;
    font-weight: 600;
}
.gmAlbumsListMasonryColection .collectionHeader .titleMiniScreen
{
    font-size: 24px;
}
.gmAlbumsListMasonryColection .collectionHeader .collectionDescription
{
    margin: auto;
    max-width: 940px;
    font-size: 14px;
}
.gmAlbumsListMasonryColection .collectionButtons
{
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 4px;
    width: 30px;
    height: 30px;
    margin: 0px 2px 2px 0px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.4);
    transition: background-color .2s, transform .4s ease-out;
    border-radius: 2px;
}
.gmAlbumsListMasonryColection .collectionButtonsMiniScreen {
    top: 15px;
    padding: 2px;
    width: 24px;
    height: 24px;
}
.gmAlbumsListMasonryColection .collectionButtons svg
{
    width: 100%;
    height: 100%;
    transition: fill .2s, transform .4s ease-out;
}
.gmAlbumsListMasonryColection .gmAlbumsListMasonryFixedHeder
{
    position: fixed;
    top:0px;
    left: 0px;
    min-height: 30px;
    padding: 15px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
    z-index: 2000;
    will-change: opacity, transform;
    opacity: 0;
    transition: opacity 0.2s, transform 0.4s ease-in;
    transform: translateY(-100%);
    background-color: white ;
    width: 100%;
}
.gmAlbumsListMasonryColection .gmAlbumsListMasonryFixedHeder .title
{
    margin: 0px 40px 0px 10px;
    font-size: 24px;
    line-height: 1;
    font-weight: 600;
}
.gmAlbumsListMasonryColection .gmCollectionScrollView .collectionColumn
{
    position: relative;
    float: left;
}
.gmAlbumsListMasonryColection .gmCollectionScrollView .gmCollectionItem
{
    position: relative;
}
.gmAlbumsListMasonryColection .gmCollectionScrollView .gmCollectionItem img
{
    will-change: opacity;
    transition: opacity .4s;
    opacity: 0;
    display: block;
}
.gmAlbumsListMasonryColection .gmCollectionScrollView .gmCollectionItem .gmItemHover
{
    position: absolute;
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, .7) 0, transparent 40%, transparent 60%, rgba(0, 0, 0, .7));
    opacity: 0.01;
    transition: all .15s ease-in-out;
    cursor: zoom-in;
}
.gmAlbumsListMasonryColection .gmCollectionScrollView .gmCollectionItem .gmItemInfoWrapTop
{
    position: absolute;
    top: 15px;
    right: 20px;
    display: inline-block;
}
.gmAlbumsListMasonryColection .gmCollectionScrollView .gmCollectionItem .gmItemInfoWrapBottom
{
    position: absolute;
    bottom: 15px;
    left: 15px;
    right: 15px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
    color: white;
    text-shadow: rgba(0, 0, 0, 0.347059) 0px 0px 7px;
}
/******************************** Collection Item Info Holder *************************/
.gmAlbumsListMasonryCollectionItemInfoMenu
{

}
.gmAlbumsListMasonryCollectionItemInfoMenu .itemsButtons
{
    position: relative;
    padding: 9px;
    width: 38px;
    height: 38px;
    margin: 5px 0px 0px 0px;
    cursor: pointer;
    float: left;
    transition: background-color .2s, transform .4s ease-out;
    border-radius: 2px;
}
.gmAlbumsListMasonryCollectionItemInfoMenu .itemsButtons svg
{
    width: 100%;
    height: 100%;
    transition: fill .2s, transform .4s ease-out;
}
/******************************** AlbumsList CollectionSlider View ********************/
.gmAlbumsListMasonryColectionSlider *{
    box-sizing: border-box !important;
}
.gmAlbumsListMasonryColectionSlider
{
    position: fixed;
    z-index: 99999;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    visibility: hidden;
    opacity: 0;
    -ms-touch-action: none;
    touch-action: none;
    -webkit-text-size-adjust: 100%;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-transition: opacity .4s ease;
    transition: opacity .4s ease, visibility .4s ease
}
.gmAlbumsListMasonryColectionSliderActivate
{
    pointer-events: auto;
    visibility: visible;
    opacity: 1;
}
.gmAlbumsListMasonryColectionSlider .gmSliderBg
{
    width: 100%;
    height: 100%;
    transform: translateZ(0);
}
.gmAlbumsListMasonryColectionSlider .gmAlbumsListMasonrySlidesWrap
{
    position: absolute;
    will-change: transform;
    width: 100%;
    top:0;
    bottom: 0;
}
.gmAlbumsListMasonryColectionSlider .miniScreen
{
    margin-top: 0px;
    margin-bottom: 0px;
}
.gmAlbumsListMasonrySlidesWrap .gmAlbumsListMasonrySliderPage
{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
}
.gmAlbumsListMasonrySlidesWrap .gmAlbumsListMasonrySliderPage .gmAlbumsListMasonryItemPage
{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    overflow: hidden;
}
.gmAlbumsListMasonrySlidesWrap .gmAlbumsListMasonrySliderPage .gmAlbumsListMasonryItemPage .gmflexe
{
    display: inline-block;
    width: 0;
    height: 100%;
    vertical-align: middle;
}
.gmAlbumsListMasonrySlidesWrap .gmAlbumsListMasonrySliderPage .gmAlbumsListMasonryItemPage img
{
    position: absolute;
    display: block;
    border: none;
}
.gmAlbumsListMasonryColectionSlider .sliderNextPrevButtons
{
    position: absolute;
    width: 50px;
    height: 34px;
    top: 50%;
    margin: 0px 10px;
    cursor: pointer;
    transition: background-color .2s, transform .4s ease-out;
    border-radius: 2px;
}
.gmAlbumsListMasonryColectionSlider .sliderNextPrevButtonsMiniScreen
{
    display: none;
}
.gmAlbumsListMasonryColectionSlider .sliderNextPrevButtons svg
{
    width: 100%;
    height: 100%;
}
.gmAlbumsListMasonryColectionSlider .sliderItemsButtons
{
    position: relative;
    padding: 9px;
    width: 38px;
    height: 38px;
    margin: 0px 2px 2px 0px;
    cursor: pointer;
    float: left;
    background-color: rgba(0, 0, 0, 0.4);
    transition: background-color .2s, transform .4s ease-out;
    border-radius: 2px;
}
.gmAlbumsListMasonryColectionSlider .sliderItemsButtons svg
{
    width: 100%;
    height: 100%;
    transition: fill .2s, transform .4s ease-out;
}
.gmAlbumsListMasonryColectionSlider .gmNoneTransition
{
    transition: none;
}
.gmAlbumsListMasonryColectionSlider .gmAlbumsListMasonrySlidesHeader
{
    position: absolute;
    height:auto;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0),rgba(0, 0, 0, 1));
    width: 100%;
    top: 0px;
    transform: translateY(-100%);
    /*will-change: transform;*/
    transition: transform .4s ease-out;
}
.gmAlbumsListMasonryColectionSlider .gmAlbumsListMasonrySlidesHeaderMiniScreen
{
    /*background-color: rgba(0, 0, 0, 0);
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0),rgba(0, 0, 0, 1));*/
}
.gmAlbumsListMasonryColectionSlider .gmAlbumsListMasonrySlidesHeaderActivate
{
    transform: translateY(0);
}
.gmAlbumsListMasonryColectionSlider .gmAlbumsListMasonrySlidesFooter
{
    position: absolute;
    width: 100%;
    bottom: 0px;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0),rgba(0, 0, 0, 1));
    transform: translateY(100%);
    /*will-change: transform;*/
    transition: transform .4s ease-out;
}
.gmAlbumsListMasonryColectionSlider .gmAlbumsListMasonrySlidesFooterActivate
{
    transform: translateY(0);
}
.gmAlbumsListMasonryColectionSlider .gmInfoBox1
{
    position: relative;
    float: left;
    margin: 10px 20px;
}
.gmAlbumsListMasonryColectionSliderItemTitle
{
    text-rendering: auto;
    color: #fff;
    font-size: 36px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 1;
    box-sizing: content-box;
    letter-spacing: 0px;
    text-transform: capitalize;
    margin-bottom: 5px;
}
.gmAlbumsListMasonryColectionSliderItemTitleMiniScreen
{
    padding-bottom: 10px;
}
.gmAlbumsListMasonryColectionSliderTermTitle
{

}
.gmAlbumsListMasonryColectionSliderTermTitleMiniScreen
{

}
/******************************** Albums List SLider Modal *************************/
.gmAlbumsListMasonryModal * {
    box-sizing: border-box;
}
.gmAlbumsListMasonryModal
{
    position: fixed;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    opacity: 0;
    will-change: opacity;
    transition: opacity .4s;
    text-align: center;
}
.gmAlbumsListMasonryModal .gmflexe
{
    display: inline-block;
    width: 0;
    height: 100%;
    vertical-align: middle;
}
.gmAlbumsListMasonryModal .gmAlbumsListMasonryItemShare
{
    font-size: 14px;
    line-height: 1.3;
    margin: 0 10px;
    padding-bottom: 10px;
    max-width: 480px;
    min-width: 260px;
    background-color: white;
    border-radius: 2px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, .15);
    vertical-align: middle;
    display: inline-block ;
    will-change: transform;
}
.gmAlbumsListMasonryModal .gmAlbumsListMasonryItemShare .gmItemDescription
{
    font-weight: 400;
    font-size: 80%;
    line-height: 1;
}
.gmAlbumsListMasonryItemShare .gmDescriptionWrap .gmItemTitle
{
    font-size: 130%;
    font-weight: 600;
    line-height: 1.3;
}
.gmAlbumsListMasonryModal .gmAlbumsListMasonryItemShare .gmItemShareButtonWrap
{
    position: relative;
    display: inline-block;
    padding: 0px 4px;
    min-width: 130px;
    width: 50%;
    height: 42px;
}
.gmAlbumsListMasonryModal .gmAlbumsListMasonryItemShare .gmItemShareButtonWrap .gmItemCopyLink
{
    background-color: rgb(250, 250, 250);
    border: solid 1px rgba(0, 0, 0, 0.17);
    width: 100%;
    height: 100%;
    border-radius: 2px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    transition: .4s;
}
.gmAlbumsListMasonryModal .gmAlbumsListMasonryItemShare .gmItemShareButtonWrap .gmItemCopyLink svg
{
    width: 40px;
    height: 40px;
    padding: 4px;
    float: left;
    transition: fill .4s;
}
.gmItemShareButtonWrap .gmItemCopyLink .gmSH_title
{
    position: absolute;
    white-space: nowrap;
    line-height: 41px;
    left: 41px;
    right: 10px;
    overflow: hidden;
    opacity: .7;
    transition: .4s;
}
.gmAlbumsListMasonryModal .gmAlbumsListMasonryItemShare .gmItemCopyLink:hover
{
    box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
}
.gmAlbumsListMasonryModal .gmAlbumsListMasonryItemShare .gmItemCopyLink:hover .gmSH_title
{
    opacity: 1;
}
.gmAlbumsListMasonryModal .gmAlbumsListMasonryItemShare .gmItemShareButton
{
    border: 1px solid;
    border-color: rgba(0, 0, 0, 0.18);
    cursor: pointer;
    width: 100%;
    height: 100%;
    border-radius: 2px;
    background-color: rgb(250, 250, 250);
    transition: .4s;
}
.gmAlbumsListMasonryModal .gmAlbumsListMasonryItemShare .gmItemShareButton:hover
{
    box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
}
.gmAlbumsListMasonryModal .gmAlbumsListMasonryItemShare .gmItemShareButton:hover .gmSH_title
{
    opacity: 1;
}
.gmAlbumsListMasonryModal .gmAlbumsListMasonryItemShare .gmItemShareButton svg
{
    width: 40px;
    height: 40px;
    float: left;
}
.gmAlbumsListMasonryModal .gmAlbumsListMasonryItemShare .gmItemShareButton .gmSH_title
{
    white-space: nowrap;
    position: absolute;
    left: 30px;
    right: 0px;
    font-size: 15px;
    font-weight: 400;
    line-height: 41px;
    text-align: center;
    opacity: 0.7;
    transition: opacity .4s;
}
.gmAlbumsListMasonryModal .gmAlbumsListMasonryItemInfoBar
{
    font-size: 14px;
    line-height: 1.3;
    margin: 0 10px;
    padding-bottom: 10px;
    max-width: 820px;
    min-width: 260px;
    background-color: white;
    border-radius: 2px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, .15);
    vertical-align: middle;
    display: inline-block ;
    will-change: transform;
}
.gmAlbumsListMasonryModal .gmAlbumsListMasonryItemInfoBar .gmInfoBarCloseButton, .gmAlbumsListMasonryModal .gmAlbumsListMasonryItemShare .gmInfoBarCloseButton
{
    margin: 10px;
    width: 24px;
    height: 24px;
    display: inline-block;
    float: right ;
    cursor: pointer;
}
.gmAlbumsListMasonryModal .gmAlbumsListMasonryItemInfoBar .gmInfoBarCloseButton svg, .gmAlbumsListMasonryModal .gmAlbumsListMasonryItemShare .gmInfoBarCloseButton svg
{
    width: 100%;
    height: 100%;
}
.gmAlbumsListMasonryModal .gmAlbumsListMasonryItemInfoBar .gmDescriptionWrap, .gmAlbumsListMasonryModal .gmAlbumsListMasonryItemShare .gmDescriptionWrap
{
    min-width: 270px;
    min-height: 44px;
    padding: 10px 20px 0px 20px;
    float: left;
    text-align: left;
}
.gmAlbumsListMasonryItemInfoBar .gmDescriptionWrap .gmItemTitle
{
    font-size: 130%;
    font-weight: 600;
}
.gmAlbumsListMasonryItemInfoBar .gmDescriptionWrap .gmItemDescription
{
    font-size: 110%;
}
.gmAlbumsListMasonryItemInfoBar .gmDescriptionWrap .gmItemMetaExifValue
{
    line-height: 1.9;
}
.gmAlbumsListMasonryItemInfoBar .gmDescriptionWrap .gmItemsDate
{
    font-size: 100%;
    line-height: 1.9;
}
.gmAlbumsListMasonryItemInfoBar .gmDescriptionWrap .gmItemMetaKey
{
    float: left;
    width: 40%;
    min-width: 80px;
}
.gmAlbumsListMasonryItemInfoBar .gmDescriptionWrap .gmItemMetaValue
{
    float: left;
    white-space: nowrap;
    text-transform: capitalize;
}
.gmAlbumsListMasonryItemInfoBar .gmDescriptionWrap  .gmItemMetaExifSeparator {
    font-size: 100%;
    margin: 0 2px;
    opacity: .4;
}
.gmAlbumsListMasonryModal .gmAlbumsListMasonryItemInfoBar .gmDescriptionWrap .likesViewCom
{
    position: relative;
    float: left;
    width: 31%;
    min-height: 40px;
    border: 1px solid;
    border-color: rgba(0, 0, 0, 0.18);
    border-radius: 2px;
    background-color: rgb(250, 250, 250);
    padding: 4px;
    margin: 0 1%;
    text-align: center;
}
.gmAlbumsListMasonryModal .gmAlbumsListMasonryItemInfoBar .gmDescriptionWrap .likesViewCom svg
{
    display: inline-block;
    width: 24px;
    height: 24px;
}
.gmAlbumsListMasonryModal .gmAlbumsListMasonryItemInfoBar .gmDescriptionWrap .likesViewCom .counterTxt
{
    font-size: 15px;
    line-height: 1;
}
/******************************** GM Albums List ScrollBar *************************/
.gmAlbumsListMasonryTermScrollBarWrap
{
    position: relative;
    width: 100%;
    margin: 10px 0px;
    box-sizing: content-box;
}
.gmAlbumsListMasonryTermScrollBarWrap .gmAlbumsListMasonryScrollView
{
    position: relative;
    height: 100%;
    margin: auto;
    overflow: hidden;
    will-change: transform;
}
.gmAlbumsListMasonryTermScrollBarWrap .gmAlbumsListMasonryScrollBar
{
    position: relative;
    height: 4px;
    width: 100%;
}
.gmAlbumsListMasonryScrollBarItem
{
    position: relative;
    height: 80px;
    width: 100px;
    float: left;
    overflow: hidden;
}
.gmAlbumsListMasonryTermScrollBarWrap .miniScreen
{
    height: 50px;
    width: 70px;
    margin: 0px 0px;
}
.gmAlbumsListMasonryScrollBarItem .gmAlbumsListMasonryScrollBarItemBg
{
    position: absolute;
    left: 3px;
    right: 3px;
    top: 3px;
    bottom: 3px;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.gmAlbumsListMasonryScrollBarItem .gmAlbumsListMasonryScrollBarItemHover
{
    position: absolute;
    opacity: 0;
    transition: opacity .2s;
    pointer-events: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-style: solid;
    border-width: 3px;
    border-color: #fff;
}
.gmAlbumsListMasonryScrollBarItem .gmAlbumsListMasonryScrollBarItemLink
{
    position: absolute;
    width: 34px;
    height: 34px;
    padding: 6px;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
}
.gmAlbumsListMasonryScrollBarItemLink.rotate svg{
    animation: 1s spinner linear infinite;
}
.gmAlbumsListMasonryScrollBarItemLink svg
{
    width: 100%;
    height: 100%;
}
/***************** Audio Content ******************/
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.gmpAudioCoverContainerAlbumsListMasonry {
    border-radius: 50%;
    height: 300px;
    width: 300px;
    overflow: hidden;
}

.gmAlbusListRotate {
    animation-name: rotate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.gmCircleAudioControllerAlbumsListMasonryContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    width: 109px;
    height: 109px;
    transform: translate3d(-50%, -50%, 0px);
    overflow: hidden;
    cursor: pointer;
}

.gmCirclebButtonAudioPlayerAlbumsListMasonry {
    position: absolute;
    display: block;
    width: 106px;
    height: 106px;
    padding: 12px;
    transition: background 0.3s;
}

.gmCirclebButtonAudioPlayerAlbumsListMasonry svg {
    width: 100%;
    height: 100%;
    pointer-events: none;
}